force-app/main/default/flows/Account_Update_Segment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Save_New_Segment</name>
        <label>Save New Segment</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>NewSegment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Segment_calculated__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Segment_on_Account</targetReference>
        </connector>
    </assignments>
    <description>Update Segment on account when NumberOfEmployees is changed by CVR</description>
    <environments>Default</environments>
    <interviewLabel>Account Update Segment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Update Segment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Segment_on_Account</name>
        <label>Update Segment on Account</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Segment__c</field>
            <value>
                <elementReference>NewSegment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Save_New_Segment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NumberOfEmployees</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Segment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Public Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Segment__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Internal Account</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewSegment</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
