force-app/main/default/flows/Activation_Line_Escalation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>94</locationX>
        <locationY>1931</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Activation Line Escalation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Activation_Owner</name>
        <label>Assign Activation Owner</label>
        <locationX>94</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Activation__r.Owner__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_not_Null_Sales_Rep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Manager</name>
        <label>Assign Manager</label>
        <locationX>94</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recipients_exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipient_Case_Owner</name>
        <label>Assign Recipient Case Owner</label>
        <locationX>138</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Case__r.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Not_Null_Activation_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Rep</name>
        <label>Assign Sales Rep</label>
        <locationX>94</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>recipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Case__r.Sales_rep__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_not_Null_Manager</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Email_Not_Null_Activation_Owner</name>
        <label>Email Not Null - Activation Owner</label>
        <locationX>226</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Email_not_Null_Sales_Rep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Activation Owner Null</defaultConnectorLabel>
        <rules>
            <name>Activation_Owner_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activation__r.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Activation_Owner</targetReference>
            </connector>
            <label>Activation Owner not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Not_Null_Case_Owner</name>
        <label>Email Not Null - Case Owner</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Email_Not_Null_Activation_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Owner Null</defaultConnectorLabel>
        <rules>
            <name>Case_Owner_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_a_Queue</targetReference>
            </connector>
            <label>Case Owner not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_not_Null_Manager</name>
        <label>Email not Null - Manager</label>
        <locationX>226</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>Recipients_exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manager Null</defaultConnectorLabel>
        <rules>
            <name>Manager_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Manager</targetReference>
            </connector>
            <label>Manager not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_not_Null_Sales_Rep</name>
        <label>Email not Null - Sales Rep</label>
        <locationX>226</locationX>
        <locationY>1115</locationY>
        <defaultConnector>
            <targetReference>Email_not_Null_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales Rep Null</defaultConnectorLabel>
        <rules>
            <name>Sales_Rep_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Sales_rep__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Rep</targetReference>
            </connector>
            <label>Sales Rep not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_Queue</name>
        <label>Is a Queue</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Assign_Recipient_Case_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Queue</defaultConnectorLabel>
        <rules>
            <name>Owner_is_a_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__r.Owner:Group.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Not_Null_Activation_Owner</targetReference>
            </connector>
            <label>Owner is a Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipients_exists</name>
        <label>Email recipients exists</label>
        <locationX>226</locationX>
        <locationY>1823</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recipients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Email exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>managerEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Activation__r.Owner__r.Manager.Email}</expression>
    </formulas>
    <formulas>
        <name>notificationBody</name>
        <dataType>String</dataType>
        <expression>&quot; An Activation Line has been escalated on &quot; &amp; {!$Record.Name} &amp; &quot; related to Case &quot; &amp; {!$Record.Case__r.CaseNumber} &amp;  &quot;. &quot; &amp; &quot;Company name: &quot; &amp;{!$Record.Company_Name__c} &amp; &quot;. &quot; &amp; &quot;Activation Owner: &quot; &amp;{!$Record.Activation__r.Owner__c} &amp; &quot;. &quot; &amp; &quot;Installation Adress: &quot; &amp;{!$Record.Installation_address__c} &amp; &quot;. &quot; &amp; &quot;Planned Delivery Date: &quot; &amp; TEXT({!$Record.Planned_delivery_date__c}) &amp; &quot;.&quot;</expression>
    </formulas>
    <interviewLabel>Activation Line Escalation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Line Escalation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Manager</name>
        <label>Get Manager</label>
        <locationX>94</locationX>
        <locationY>1523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Not_Null_Case_Owner</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Escalated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Activation_line__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi&lt;/p&gt;&lt;p&gt;An Activation Line has been escalated on &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Name} related to Case {!$Record.Case__r.CaseNumber}&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Escalation details:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Company Name: {!$Record.Company_Name__c}&lt;/li&gt;&lt;li&gt;Activation Owner: {!$Record.Activation_Owner__c}&lt;/li&gt;&lt;li&gt;Installation Address: {!$Record.Installation_address__c}&lt;/li&gt;&lt;li&gt;Planned Delivery Date: {!$Record.Planned_delivery_date__c}&lt;/li&gt;&lt;li&gt;Escalated by: {!$User.FirstName} {!$User.LastName}&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>queueMemberIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
</Flow>
