force-app/main/default/flows/Activation_Line_SLA_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Logging that the flow has run.</description>
        <name>SLA_schedule_log</name>
        <label>SLA schedule log</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Planned_Delivery_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorCode</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <elementReference>Debug_constant</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageContent</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Debug_constant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DEBUG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Planned_Delivery_Date</name>
        <label>Planned Delivery Date</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Planned_Delivery_Date_is_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AL_Planned_Delivery_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_Billing</targetReference>
            </connector>
            <label>Planned Delivery Date is Today</label>
        </rules>
        <rules>
            <name>Planned_Delivery_date_in_5_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SAP_PR_no__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>plannedDeliveryDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>4G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition</targetReference>
            </connector>
            <label>Planned Delivery date in 5 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>plannedDeliveryDate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.AL_Planned_Delivery_Date__c} - {!$Flow.CurrentDate}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Activation Line -SLA Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Line - SLA Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SLA_Definition</name>
        <label>Get SLA Definition</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Stop_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Fiber_Technician_Booked</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Move_to_Billing</name>
        <label>Move to Billing</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stop_Time</name>
        <label>Update Stop Time</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation_line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA_Activation_LIne__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SLA_Definition.Label</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Tracking__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SLA_schedule_log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technician Booked</stringValue>
            </value>
        </filters>
        <object>Activation_line__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-10-21</startDate>
            <startTime>03:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>fffff</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
