force-app/main/default/flows/Activation_Line_Update_POQ_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Save_Location_Line_Id</name>
        <label>Save Location Line Id</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>LocationLineIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Location_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_POQ_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_NumberOfPOQRecords</name>
        <label>Save NumberOfPOQRecords</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>NumberOfPOQRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_POQ_Item_data</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_records_selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Location_Line_Found</name>
        <label>Any Location Line Found ?</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_POQ_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Location Line Selected</defaultConnectorLabel>
        <rules>
            <name>Yes_Location_Line_was_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Location_Line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Location_Line_Id</targetReference>
            </connector>
            <label>Yes Location Line was Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_records_selected</name>
        <label>Any records selected</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_POQ_records_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfPOQRecords</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_POQ_data</targetReference>
            </connector>
            <label>Yes, POQ records selected</label>
        </rules>
    </decisions>
    <description>Update POQ data on Activation Lines to be used by the Order API</description>
    <environments>Default</environments>
    <interviewLabel>Activation Line Update POQ Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Line Update POQ Data</label>
    <loops>
        <name>Loop_POQ_data</name>
        <label>Loop POQ data</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_POQ_Item_data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Location_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Activation_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Location_Line</name>
        <label>Get Location Line</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Location_Line_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_POQ_data.Location_Line__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_POQ_data.priceplanCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_POQ_Item_data</name>
        <label>Get POQ Item data</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_NumberOfPOQRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location_Line__c</field>
            <operator>In</operator>
            <value>
                <elementReference>LocationLineIDInputCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>plugPresentPositiveValidation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>POQ_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Activation_Lines</name>
        <label>Update Related Activation Lines</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location_Line__c</field>
            <operator>In</operator>
            <value>
                <elementReference>LocationLineIdCollection</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>plugPresentPositiveValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Activation_line__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_POQ_Item_data</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>LocationLineIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationLineIDInputCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfPOQRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OpportunityInputRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
