force-app/main/default/flows/Activation_Updates_and_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Does_owner_become_null_and_case_has_an_owner</name>
        <label>Does owner become null and case has an owner ?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Touchpoint_product_fulfilled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Owner_becomes_null_and_case_has_an_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerNullAndCaseOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_header_owner</targetReference>
            </connector>
            <label>Owner becomes null and case has an owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Touchpoint_product_fulfilled</name>
        <label>Is Touchpoint product fulfilled ?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Touchpoint_product_fulfilled</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.is_TouchPoint__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activation_progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.is_TouchPoint__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.is_TouchPoint__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Activation_progress__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Activation_progress__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_account_to_have_Touchpoint</targetReference>
            </connector>
            <label>Touchpoint product fulfilled</label>
        </rules>
    </decisions>
    <description>Sets owner of activation to the case owner if the owner is removed. Notifies Case Owner when Activation lines are filled in. Updates Account for Touchpoint activations. Notifies Opportunity Owner if there is any POA missing.

This Flow needs to be reviewed based on the new Phone Reservation feature</description>
    <environments>Default</environments>
    <formulas>
        <name>AllLinesFilled</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.No_of_Filled_Activation_Lines__c} &gt; 0 &amp;&amp;
{!$Record.No_of_Filled_Activation_Lines__c} = {!$Record.No_of_Activation_Lines__c}</expression>
    </formulas>
    <formulas>
        <name>CaseOwnerId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Case__r.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>OwnerNullAndCaseOwner</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.Owner__c}) &amp;&amp; BEGINS({!$Record.Case__r.OwnerId},  &quot;005&quot;)</expression>
    </formulas>
    <interviewLabel>Activation Updates and Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation - Set Owner and Touchpoint</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_header_owner</name>
        <label>Set Activation Owner</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_Touchpoint_product_fulfilled</targetReference>
        </connector>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Record.Case__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_account_to_have_Touchpoint</name>
        <label>Update account to have Touchpoint</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_has_Touchpoint__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_owner_become_null_and_case_has_an_owner</targetReference>
        </connector>
        <object>Activation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountofShowActivationLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NotificationRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
