force-app/main/default/flows/Activation_Line_Portal_change_existing_Activation_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_error_text</name>
        <label>Assign error text</label>
        <locationX>1300</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_no_of_changed_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_values_to_Activation_Lines</name>
        <label>Assign new values to Activation Lines</label>
        <locationX>1734</locationX>
        <locationY>700</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_selected_Activation_Lines.Quote_line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Quote_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_selected_Activation_Lines.Manual_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Quote_Line.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_selected_Activation_Lines_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_selected_Activation_Lines_to_collection</name>
        <label>Assign selected Activation Lines to collection</label>
        <locationX>1734</locationX>
        <locationY>893</locationY>
        <assignmentItems>
            <assignToReference>ActivationLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_selected_Activation_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success_Text</name>
        <label>Assign Success Text</label>
        <locationX>1048</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>SuccessText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuccessTextFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_values</name>
        <label>Remove values</label>
        <locationX>1283</locationX>
        <locationY>833</locationY>
        <assignmentItems>
            <assignToReference>SuccessText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMissingALText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLinesToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyActivationLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Error_msg</name>
        <label>Save  Error msg</label>
        <locationX>515</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>varMissingALText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.ALChangeNoActivationLinesFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateExistingScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_no_of_changed_lines</name>
        <label>Save no of changed lines</label>
        <locationX>1181</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>NoOfChangedLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ActivationLinesToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Success_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_no_of_products</name>
        <label>Save no of products</label>
        <locationX>754</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>NoOfProductsToSelect</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaNoOfActivationLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Activation_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_any_Activation_Lines_found_created_by_User</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddNewChoice</name>
        <choiceText>Add New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add New</stringValue>
        </value>
    </choices>
    <choices>
        <name>UpdateExistingChoice</name>
        <choiceText>Update Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Existing</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Button_Gem_Selected</name>
        <label>Is Button Gem Selected ?</label>
        <locationX>936</locationX>
        <locationY>704</locationY>
        <defaultConnector>
            <targetReference>UpdateExistingScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gem_is_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScreenButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Quote_Line</targetReference>
            </connector>
            <label>Gem is Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_any_Activation_Lines_found_created_by_User</name>
        <label>Was any Activation Lines found created by User ?</label>
        <locationX>746</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>UpdateExistingScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Activation_Lines_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vaNoOfActivationLines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Error_msg</targetReference>
            </connector>
            <label>No Activation Lines Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>QuoteLineFromActivationChoiceSet</name>
        <dataType>String</dataType>
        <displayField>SBQQ__ProductName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activate_with_other_products__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobile Subscription (Corporate)</stringValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SuccessTextFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ErrorText}),{!$Label.ALChangeSuccesText}+&apos; &apos;+text({!NoOfChangedLines}),&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Activation Line Portal change existing Activation Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Line Portal change existing Activation Lines</label>
    <loops>
        <name>Loop_through_selected_Activation_Lines</name>
        <label>Loop through selected Activation Lines</label>
        <locationX>1440</locationX>
        <locationY>834</locationY>
        <collectionReference>UpdateExistingDatatable.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_values_to_Activation_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Activation_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Activation</name>
        <label>Get Activation</label>
        <locationX>776</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Activation_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Activation_Lines</name>
        <label>Get Activation Lines</label>
        <locationX>914</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activation_line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>914</locationX>
        <locationY>351</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_no_of_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activate_with_other_products__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobile Subscription (Corporate)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Quote_Line</name>
        <label>Get Selected Quote Line</label>
        <locationX>1122</locationX>
        <locationY>834</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Choose_product_to_change_to</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Activation_Lines</name>
        <label>Update Activation Lines</label>
        <locationX>1439</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>Assign_error_text</targetReference>
        </connector>
        <inputReference>ActivationLinesToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>UpdateExistingScreen</name>
        <label>Update Existing</label>
        <locationX>751</locationX>
        <locationY>702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Button_Gem_Selected</targetReference>
        </connector>
        <fields>
            <name>ScreenGuidance</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.ALChangeScreenGuidance}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NoProductsFoundText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(253, 3, 15);&quot;&gt;{!$Label.ALChangeNoProductsFound}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NoOfProductsToSelect</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ScreenButton</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Gem&quot;,&quot;value&quot;:&quot;Gem&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NoOfProductsToSelect</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UpdateExistingScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UpdateExistingScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Choose_product_to_change_to</name>
                    <choiceReferences>QuoteLineFromActivationChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Choose product to change to</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NoOfProductsToSelect</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>UpdateExistingDatatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Activation_line__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Activation_line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>First_name__c,Last_name__c,Product__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>First_name__c:245, Last_name__c:245, Product__c:502</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Activation_Lines</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideClearSelectionButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideClearSelectionButton</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NoOfProductsToSelect</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varMissingALText</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorTextScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error happened: {!ErrorText}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ErrorText</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplaySuccessText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(48, 186, 2);&quot;&gt;{!SuccessText}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MissingALInfo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!varMissingALText}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Gem</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Activation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivationLinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>EmptyActivationLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>ErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NoOfChangedLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfProductsToSelect</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuccessText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaNoOfActivationLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMissingALText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
