force-app/main/default/flows/Activation_Line_Portal_delete_existing_Activation_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_error_text</name>
        <label>Assign error text</label>
        <locationX>1408</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_No_of_deleted_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success_Text</name>
        <label>Assign Success Text</label>
        <locationX>1144</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>SuccessText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaSuccessText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_screen_values</name>
        <label>Remove screen values</label>
        <locationX>1291</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>SuccessText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Activation_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_No_of_deleted_lines</name>
        <label>Save No of deleted lines</label>
        <locationX>1269</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>NoOfDeletedLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DeleteExistingDatatable.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Success_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_No_of_Selected_Activation_Lines</name>
        <label>Save No of Selected Activation Lines</label>
        <locationX>919</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>NoOfActivationLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Activation_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteExistingScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddNewChoice</name>
        <choiceText>Add New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add New</stringValue>
        </value>
    </choices>
    <choices>
        <name>UpdateExistingChoice</name>
        <choiceText>Update Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Existing</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Button_Gem_Selected</name>
        <label>Is Button Gem Selected ?</label>
        <locationX>1124</locationX>
        <locationY>567</locationY>
        <defaultConnector>
            <targetReference>DeleteExistingScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Gem_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScreenButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_screen_values</targetReference>
            </connector>
            <label>Gem Selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaSuccessText</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ErrorText}),{!$Label.ALDeleteSuccesText}+&apos; &apos;+text({!NoOfDeletedLines}),&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Activation Line Portal delete existing Activation Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Line Portal delete existing Activation Lines</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Activation_Line</name>
        <label>Delete Activation Line</label>
        <locationX>1408</locationX>
        <locationY>563</locationY>
        <connector>
            <targetReference>Assign_error_text</targetReference>
        </connector>
        <inputReference>DeleteExistingDatatable.outputSelectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Activation</name>
        <label>Get Activation</label>
        <locationX>776</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Activation_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Activation_Lines</name>
        <label>Get Activation Lines</label>
        <locationX>919</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_No_of_Selected_Activation_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activation_line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DeleteExistingScreen</name>
        <label>Delete Existing</label>
        <locationX>919</locationX>
        <locationY>559</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Button_Gem_Selected</targetReference>
        </connector>
        <fields>
            <name>ScreenGuidance</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.ALDeleteScreenGuidance}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NoOfActivationLines</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ScreenButton</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Gem&quot;,&quot;value&quot;:&quot;Gem&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NoOfActivationLines</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoALText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(253, 0, 0);&quot;&gt;{!$Label.ALDeleteNoProductsFound}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NoOfActivationLines</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NoOfDeletedLines</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DeleteExistingDatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Activation_line__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Activation_line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>First_name__c,Last_name__c,Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>First_name__c:245, Last_name__c:245, Product__c:502</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Activation_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NoOfActivationLines</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorTextScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error happened: {!ErrorText}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ErrorText</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NoOfDeletedLines</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SuccessTextScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(48, 186, 2);&quot;&gt;{!SuccessText}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Gem</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Activation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivationLinesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>ActivationLinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>ActivationLineToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>ErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NoOfActivationLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfDeletedLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuccessText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
