force-app/main/default/flows/Activation_Line_SLA_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Activation_Line_Status_4G</name>
        <label>Activation Line Status</label>
        <locationX>4274</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_4G</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Latest_SLA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Definition_4G_New</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Waiting_for_Customer_4G</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Definition_4G_Waiting</targetReference>
            </connector>
            <label>Waiting for Customer</label>
        </rules>
        <rules>
            <name>DIY_or_FS</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DIY or FS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_SLA_4G_WfC</targetReference>
            </connector>
            <label>DIY or FS</label>
        </rules>
        <rules>
            <name>Order_Equipment_Book_FS</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Equipment/Book FS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Definition_4G_Order_Equipment</targetReference>
            </connector>
            <label>Order Equipment/Book FS</label>
        </rules>
        <rules>
            <name>Circuit_SIM_activation</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Circuit &amp; SIM activation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_SLA_4G_OrderEquipment</targetReference>
            </connector>
            <label>Circuit &amp; SIM activation</label>
        </rules>
        <rules>
            <name>Billing_4G</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Definition_4G_Billing</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Fulfilled_4G</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_SLA_4G_Billing</targetReference>
            </connector>
            <label>Fulfilled</label>
        </rules>
        <rules>
            <name>Cancelled_4G</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_SLA_Cancelled_4G</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Activation_Line_Status_Fiber</name>
        <label>Activation Line Status</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Latest_SLA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition_Fiber_New</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Waiting_for_Customer</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_SLA_New</targetReference>
            </connector>
            <label>Waiting for Customer</label>
        </rules>
        <rules>
            <name>Awaiting_Vendor</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Vendor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition_Fiber_Awaiting_Vendor</targetReference>
            </connector>
            <label>Awaiting Vendor</label>
        </rules>
        <rules>
            <name>Awaiting_Documentation</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documentation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_SLA_Awaiting_Vendor</targetReference>
            </connector>
            <label>Awaiting Documentation</label>
        </rules>
        <rules>
            <name>Awaiting_B2B_Design</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting B2B Design</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_SLA_AwaitingdocB2B</targetReference>
            </connector>
            <label>Awaiting B2B Design</label>
        </rules>
        <rules>
            <name>Awaiting_NRI</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting NRI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_SLA_AwaitingdocNRI</targetReference>
            </connector>
            <label>Awaiting NRI</label>
        </rules>
        <rules>
            <name>Technician_Booked</name>
            <conditionLogic>1 AND (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technician Booked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition_Fiber_Technician_Booked</targetReference>
            </connector>
            <label>Technician Booked</label>
        </rules>
        <rules>
            <name>Billing</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition_Fiber_Billing</targetReference>
            </connector>
            <label>Billing</label>
        </rules>
        <rules>
            <name>Fulfilled</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_SLA_Billing</targetReference>
            </connector>
            <label>Fulfilled</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>1 AND (2 AND 3 AND 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Enrichment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Front Office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_SLA_Cancelled</targetReference>
            </connector>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>3548</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fiber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activation__r.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fiber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activation_Line_Status_Fiber</targetReference>
            </connector>
            <label>Fiber</label>
        </rules>
        <rules>
            <name>X4G</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activation__r.Case__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activation_Line_Status_4G</targetReference>
            </connector>
            <label>4G</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vendor_check</name>
        <label>Vendor check</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>TDC eVPN</defaultConnectorLabel>
        <rules>
            <name>Not_TDC_eVPN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TDC_eVPN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RT_number__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition_Fiber_Awaiting_Documentation</targetReference>
            </connector>
            <label>Not TDC eVPN</label>
        </rules>
    </decisions>
    <description>Creates each AL Order Fulfilment SLA with information of Start Time, Stop Time, Status and Duration</description>
    <environments>Default</environments>
    <interviewLabel>Activation Line - SLA Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Line - SLA Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SLA_4G_Billing</name>
        <label>Create SLA 4G Billing</label>
        <locationX>4538</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Activation_Line_4G_Billing</targetReference>
        </connector>
        <inputAssignments>
            <field>Activation_Line_Status__c</field>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_line__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SLA_Definition_4G_Billing.Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Breach_Threshold__c</field>
            <value>
                <elementReference>SLA_Definition_4G_Billing.SLA_Breach_Threshold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SLA_4G_OrderEquipment</name>
        <label>Create SLA 4G Order Equipment</label>
        <locationX>4010</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Activation_Line_4G_OrderEquipment</targetReference>
        </connector>
        <inputAssignments>
            <field>Activation_Line_Status__c</field>
            <value>
                <stringValue>Order Equipment/Book FS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_line__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SLA_Definition_4G_Order_Equipment.Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Breach_Threshold__c</field>
            <value>
                <elementReference>SLA_Definition_4G_Order_Equipment.SLA_Breach_Threshold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SLA_4G_Waiting_for_Customer</name>
        <label>Create SLA 4G Waiting for Customer</label>
        <locationX>3482</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Activation_Line_4G_WfC</targetReference>
        </connector>
        <inputAssignments>
            <field>Activation_Line_Status__c</field>
            <value>
                <stringValue>Waiting for customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_line__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SLA_Definition_4G_Waiting.Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Breach_Threshold__c</field>
            <value>
                <elementReference>SLA_Definition_4G_Waiting.SLA_Breach_Threshold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SLA_Awaiting_Documentation</name>
        <label>Create SLA Fiber Awaiting Documentation</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_Activation_Line_AD</targetReference>
        </connector>
        <inputAssignments>
            <field>Activation_Line_Status__c</field>
            <value>
                <stringValue>Awaiting Documentation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_line__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_SLA_Definition_Fiber_Awaiting_Documentation.Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Breach_Threshold__c</field>
            <value>
                <elementReference>Get_SLA_Definition_Fiber_Awaiting_Documentation.SLA_Breach_Threshold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SLA_Awaiting_Vendor</name>
        <label>Create SLA Fiber Awaiting Vendor</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Activation_Line_Fiber_AW</targetReference>
        </connector>
        <inputAssignments>
            <field>Activation_Line_Status__c</field>
            <value>
                <stringValue>Awaiting Vendor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_line__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_SLA_Definition_Fiber_Awaiting_Vendor.Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Breach_Threshold__c</field>
            <value>
                <elementReference>Get_SLA_Definition_Fiber_Awaiting_Vendor.SLA_Breach_Threshold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SLA_Fiber_Billing</name>
        <label>Create SLA Fiber Billing</label>
        <locationX>2162</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Activation_Line_Billing</targetReference>
        </connector>
        <inputAssignments>
            <field>Activation_Line_Status__c</field>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_line__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_SLA_Definition_Fiber_Billing.Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Breach_Threshold__c</field>
            <value>
                <elementReference>Get_SLA_Definition_Fiber_Billing.SLA_Breach_Threshold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SLA_Fiber_Technician_Booked</name>
        <label>Create SLA Fiber Technician Booked</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Activation_Line_TB</targetReference>
        </connector>
        <inputAssignments>
            <field>Activation_Line_Status__c</field>
            <value>
                <stringValue>Technician Booked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_line__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_SLA_Definition_Fiber_Technician_Booked.Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Breach_Threshold__c</field>
            <value>
                <elementReference>Get_SLA_Definition_Fiber_Technician_Booked.SLA_Breach_Threshold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SLA_New_4G</name>
        <label>Create SLA 4G New</label>
        <locationX>3218</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Activation_Line_4G_New</targetReference>
        </connector>
        <inputAssignments>
            <field>Activation_Line_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_line__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SLA_Definition_4G_New.Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Breach_Threshold__c</field>
            <value>
                <elementReference>SLA_Definition_4G_New.SLA_Breach_Threshold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_SLA_New_Fiber</name>
        <label>Create SLA Fiber New</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Activation_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>Activation_Line_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_line__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_SLA_Definition_Fiber_New.Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Breach_Threshold__c</field>
            <value>
                <elementReference>Get_SLA_Definition_Fiber_New.SLA_Breach_Threshold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>SLA_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_SLA_Definition_Fiber_Awaiting_Documentation</name>
        <label>Get SLA Definition Fiber Awaiting Documentation</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SLA_Awaiting_Documentation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Fiber_Awaiting_Documentation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Definition_Fiber_Awaiting_Vendor</name>
        <label>Get SLA Definition Fiber Awaiting Vendor</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SLA_Awaiting_Vendor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Fiber_Awaiting_Vendor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Definition_Fiber_Billing</name>
        <label>Get SLA Definition Fiber Billing</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Previous_SLA_TB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Fiber_Billing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Definition_Fiber_New</name>
        <label>Get SLA Definition Fiber New</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SLA_New_Fiber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Fiber_New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Definition_Fiber_Technician_Booked</name>
        <label>Get SLA Definition Fiber Technician Booked</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Previous_SLA_AwaitingdocTB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Fiber_Technician_Booked</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SLA_Definition_4G_Billing</name>
        <label>SLA Definition 4G Billing</label>
        <locationX>4538</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SLA_4G_Billing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_4G_Billing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SLA_Definition_4G_New</name>
        <label>SLA Definition 4G New</label>
        <locationX>3218</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SLA_New_4G</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_4G_New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SLA_Definition_4G_Order_Equipment</name>
        <label>SLA Definition 4G Order Equipment</label>
        <locationX>4010</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_SLA_4G_OrderEquipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_4G_Order_Equipment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SLA_Definition_4G_Waiting</name>
        <label>SLA Definition 4G Waiting</label>
        <locationX>3482</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Previous_SLA_4G_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_4G_Waiting_for_Customer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Adds the latest created SLA to the Activation Line</description>
        <name>Update_Activation_Line</name>
        <label>Update Activation Line</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Latest_SLA__c</field>
            <value>
                <elementReference>Create_SLA_New_Fiber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Adds the latest created SLA to the Activation Line</description>
        <name>Update_Activation_Line_4G_Billing</name>
        <label>Update Activation Line</label>
        <locationX>4538</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Latest_SLA__c</field>
            <value>
                <elementReference>Create_SLA_4G_Billing</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Adds the latest created SLA to the Activation Line</description>
        <name>Update_Activation_Line_4G_New</name>
        <label>Update Activation Line</label>
        <locationX>3218</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Latest_SLA__c</field>
            <value>
                <elementReference>Create_SLA_New_4G</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Adds the latest created SLA to the Activation Line</description>
        <name>Update_Activation_Line_4G_OrderEquipment</name>
        <label>Update Activation Line</label>
        <locationX>4010</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Latest_SLA__c</field>
            <value>
                <elementReference>Create_SLA_4G_OrderEquipment</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Adds the latest created SLA to the Activation Line</description>
        <name>Update_Activation_Line_4G_WfC</name>
        <label>Update Activation Line</label>
        <locationX>3482</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Latest_SLA__c</field>
            <value>
                <elementReference>Create_SLA_4G_Waiting_for_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Adds the latest created SLA to the Activation Line</description>
        <name>Update_Activation_Line_AD</name>
        <label>Update Activation Line</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Latest_SLA__c</field>
            <value>
                <elementReference>Create_SLA_Awaiting_Documentation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Adds the latest created SLA to the Activation Line</description>
        <name>Update_Activation_Line_Billing</name>
        <label>Update Activation Line</label>
        <locationX>2162</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Latest_SLA__c</field>
            <value>
                <elementReference>Create_SLA_Fiber_Billing</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Adds the latest created SLA to the Activation Line</description>
        <name>Update_Activation_Line_Fiber_AW</name>
        <label>Update Activation Line</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Latest_SLA__c</field>
            <value>
                <elementReference>Create_SLA_Awaiting_Vendor</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Adds the latest created SLA to the Activation Line</description>
        <name>Update_Activation_Line_TB</name>
        <label>Update Activation Line</label>
        <locationX>1898</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Latest_SLA__c</field>
            <value>
                <elementReference>Create_SLA_Fiber_Technician_Booked</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_SLA_4G_Billing</name>
        <label>Update Previous SLA</label>
        <locationX>4802</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Latest_SLA__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Line_Status_change__c</field>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_SLA_4G_New</name>
        <label>Update Previous SLA</label>
        <locationX>3482</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_SLA_4G_Waiting_for_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Latest_SLA__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA_Activation_LIne__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Line_Status_change__c</field>
            <value>
                <stringValue>Waiting for customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_SLA_4G_OrderEquipment</name>
        <label>Update Previous SLA</label>
        <locationX>4274</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Latest_SLA__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Line_Status_change__c</field>
            <value>
                <stringValue>Circuit &amp; SIM activation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_SLA_4G_WfC</name>
        <label>Update Previous SLA</label>
        <locationX>3746</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Latest_SLA__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Line_Status_change__c</field>
            <value>
                <stringValue>DIY or FS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_SLA_Awaiting_Vendor</name>
        <label>Update Previous SLA</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Vendor_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Latest_SLA__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA_Activation_LIne__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Line_Status_change__c</field>
            <value>
                <stringValue>Awaiting Documentation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_SLA_AwaitingdocB2B</name>
        <label>Update Previous SLA</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Latest_SLA__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA_Activation_LIne__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Line_Status_change__c</field>
            <value>
                <stringValue>Awaiting B2B Design</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_SLA_AwaitingdocNRI</name>
        <label>Update Previous SLA</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Latest_SLA__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA_Activation_LIne__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Activation_Line_Status_change__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Awaiting B2B Design</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Line_Status_change__c</field>
            <value>
                <stringValue>Awaiting NRI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_SLA_AwaitingdocTB</name>
        <label>Update Previous SLA</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_SLA_Fiber_Technician_Booked</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Latest_SLA__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA_Activation_LIne__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Activation_Line_Status_change__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Awaiting B2B Design</stringValue>
            </value>
        </filters>
        <filters>
            <field>Activation_Line_Status_change__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Awaiting NRI</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Line_Status_change__c</field>
            <value>
                <stringValue>Technician Booked</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_SLA_Billing</name>
        <label>Update Previous SLA</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Latest_SLA__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA_Activation_LIne__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Line_Status_change__c</field>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_SLA_Cancelled</name>
        <label>Update Previous SLA</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Latest_SLA__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA_Activation_LIne__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Line_Status_change__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_SLA_Cancelled_4G</name>
        <label>Update Previous SLA</label>
        <locationX>5066</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Latest_SLA__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA_Activation_LIne__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Line_Status_change__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_SLA_New</name>
        <label>Update Previous SLA</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_SLA_Activation_LIne__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Latest_SLA__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Line_Status_change__c</field>
            <value>
                <stringValue>Waiting for customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_SLA_TB</name>
        <label>Update Previous SLA</label>
        <locationX>2162</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Create_SLA_Fiber_Billing</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Latest_SLA__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA_Activation_LIne__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_Line_Status_change__c</field>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Change_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>3422</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Activation_line__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>600</triggerOrder>
</Flow>
