force-app/main/default/flows/Activation_Line_Created_Erhvervsinternet_PoC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign</name>
        <label>Assign Cyberforsikring til erhverv</label>
        <locationX>3834</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAS_CYBERERH__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CPE</name>
        <label>Assign CPE</label>
        <locationX>6298</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Erhverv_Pro_CPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dedicated_Fiber</name>
        <label>Assign Dedicated Fiber</label>
        <locationX>6562</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Erhverv_Pro_Dedicated_Fiber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Erhverv_Pro_Speed</name>
        <label>Assign Erhverv Pro Speed</label>
        <locationX>4450</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Erhvervsinternet_Pro_Speed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Extra_Digging</name>
        <label>Assign Extra Digging</label>
        <locationX>3306</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAS_EEXGRAV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fast_IP</name>
        <label>Assign Fast IP</label>
        <locationX>138</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAS_EIFIP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flytning_Fiberbox</name>
        <label>Assign Flytning Fiberbox</label>
        <locationX>3570</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAS_EFLBOKS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fortinet_abonnement</name>
        <label>Assign Fortinet abonnement</label>
        <locationX>1194</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAS_FORTABON__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fortinet_Router</name>
        <label>Assign Fortinet Router</label>
        <locationX>1458</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAS_FORTROUT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Installation_of_Router</name>
        <label>Assign Installation of Router</label>
        <locationX>1722</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAS_FORTINSF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IP</name>
        <label>Assign IP</label>
        <locationX>5506</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Erhverv_Pro_IP__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_L2_Speed</name>
        <label>Assign L2 Speed</label>
        <locationX>4714</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.L2_VPN_Speed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_L3_Speed</name>
        <label>Assign L3 Speed</label>
        <locationX>4978</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.L3_VPN_Speed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MAC</name>
        <label>Assign MAC</label>
        <locationX>5242</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Erhverv_Pro_MAC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MTU</name>
        <label>Assign MTU</label>
        <locationX>5770</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Erhverv_Pro_MTU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Netbankforsikring</name>
        <label>Assign Netbankforsikring</label>
        <locationX>4098</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAS_NETBANK__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Network_Capacity</name>
        <label>Assign Network Capacity</label>
        <locationX>4186</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Erhverv_Pro_Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Placering_Fiberbox</name>
        <label>Assign Placering Fiberbox</label>
        <locationX>3042</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAS_EALIBOKS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QoS</name>
        <label>Assign QoS</label>
        <locationX>6034</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VPN_QoS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rackbeslag_Router</name>
        <label>Assign Rackbeslag Router</label>
        <locationX>1986</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAS_RACKSER1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Redundancy</name>
        <label>Assign Redundancy</label>
        <locationX>7090</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Erhverv_Pro_Number_of_Redundancy_Legs__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sikkerhedspakke</name>
        <label>Assign Sikkerhedspakke</label>
        <locationX>2778</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAS_SECURPAK__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SLA</name>
        <label>Assign SLA</label>
        <locationX>6826</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Erhverv_Pro_SLA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SLA_Gold</name>
        <label>Assign SLA Gold</label>
        <locationX>666</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Erhvervsinternet_SLA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SLA_Silver</name>
        <label>Assign SLA Silver</label>
        <locationX>930</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Erhvervsinternet_SLA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Silver</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Speed</name>
        <label>Assign Speed</label>
        <locationX>402</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Erhvervsinternet_Speed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_from_Quote_Line</name>
        <label>Assign Values from Quote Line</label>
        <locationX>2074</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Installation_address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InstallationAddressFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activation_Line_Manual_Product_Family</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VLAN</name>
        <label>Assign VLAN</label>
        <locationX>7354</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_of_L2_VPN_VLAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Pro.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VRF</name>
        <label>Assign VRF</label>
        <locationX>7618</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.Number_of_L3_VPN_VRF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Lines_Pro.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Wall_Mount_Router</name>
        <label>Assign Wall Mount Router</label>
        <locationX>2250</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAS_WALLSER1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WiFi</name>
        <label>Assign WiFi</label>
        <locationX>2514</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.VAS_FORTSSID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activation_Line_Manual_Product_Family</name>
        <label>Activation Line Manual Product Family</label>
        <locationX>2074</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Parent_Quote_Lines_Pro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Erhvervsinternet Pro</defaultConnectorLabel>
        <rules>
            <name>Erhvervsinternet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Manual_Product__r.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Erhvervsinternet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Quote_Lines</targetReference>
            </connector>
            <label>Erhvervsinternet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Product_On_Line</name>
        <label>Which Product On Line?</label>
        <locationX>2250</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fast_IP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EIFIP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fast_IP</targetReference>
            </connector>
            <label>Fast IP</label>
        </rules>
        <rules>
            <name>Speed_Product</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EIFI1G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EI250S01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Speed</targetReference>
            </connector>
            <label>Speed Product</label>
        </rules>
        <rules>
            <name>Erhvervsservice_Guld</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EISLAGO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SLA_Gold</targetReference>
            </connector>
            <label>Erhvervsservice Guld</label>
        </rules>
        <rules>
            <name>Erhvervsservice_S_lv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EISLASI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SLA_Silver</targetReference>
            </connector>
            <label>Erhvervsservice Sølv</label>
        </rules>
        <rules>
            <name>Fortinet_abonnement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTABON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fortinet_abonnement</targetReference>
            </connector>
            <label>Fortinet abonnement</label>
        </rules>
        <rules>
            <name>Fortinet_Erhvervsrouter_FWF_40F_E</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTROUT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fortinet_Router</targetReference>
            </connector>
            <label>Fortinet Erhvervsrouter (FWF­40F­E)</label>
        </rules>
        <rules>
            <name>Installation_af_Fortinet_Erhvervsrouter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTINSF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_of_Router</targetReference>
            </connector>
            <label>Installation af Fortinet Erhvervsrouter</label>
        </rules>
        <rules>
            <name>Rackbeslag_til_Fortinet_Erhvervsrouter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RACKSER1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rackbeslag_Router</targetReference>
            </connector>
            <label>Rackbeslag til Fortinet Erhvervsrouter</label>
        </rules>
        <rules>
            <name>V_gbeslag_til_Fortinet_Erhvervsrouter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WALLSER1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Wall_Mount_Router</targetReference>
            </connector>
            <label>Vægbeslag til Fortinet Erhvervsrouter</label>
        </rules>
        <rules>
            <name>WiFi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FORTSSID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WiFi</targetReference>
            </connector>
            <label>WiFi</label>
        </rules>
        <rules>
            <name>Cyber_sikkerhedspakke_til_erhverv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SECURPAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sikkerhedspakke</targetReference>
            </connector>
            <label>Cyber sikkerhedspakke til erhverv</label>
        </rules>
        <rules>
            <name>Anden_placering_af_indvendig_fiberboks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EALIBOKS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Placering_Fiberbox</targetReference>
            </connector>
            <label>Anden placering af indvendig fiberboks</label>
        </rules>
        <rules>
            <name>Ekstra_gravearbejde</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EEXGRAV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Extra_Digging</targetReference>
            </connector>
            <label>Ekstra gravearbejde</label>
        </rules>
        <rules>
            <name>Flytning_af_indvendig_fiberboks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EFLBOKS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flytning_Fiberbox</targetReference>
            </connector>
            <label>Flytning af indvendig fiberboks</label>
        </rules>
        <rules>
            <name>Cyberforsikring_til_erhverv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CYBERERH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>Cyberforsikring til erhverv</label>
        </rules>
        <rules>
            <name>Netbankforsikring</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NETBANK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Netbankforsikring</targetReference>
            </connector>
            <label>Netbankforsikring</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Product_On_Line_Pro</name>
        <label>Which Product On Line?</label>
        <locationX>6034</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Capacity</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ONNK120</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ONNK220</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ONNK530</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ONNK1000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ONNK2150</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ONNK5250</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ONNK10G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Network_Capacity</targetReference>
            </connector>
            <label>Capacity</label>
        </rules>
        <rules>
            <name>Erhverv_Pro_Speed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPI100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPI200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPI500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPI1G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPI2G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPI5G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPI10G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Erhverv_Pro_Speed</targetReference>
            </connector>
            <label>Erhverv Pro Speed</label>
        </rules>
        <rules>
            <name>L2_VPN_Speed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2VP100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2VP200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2VP500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2VP1000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2VP2G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2VP5G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L2VP10G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_L2_Speed</targetReference>
            </connector>
            <label>L2 VPN Speed</label>
        </rules>
        <rules>
            <name>L3_VPN_Speed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3VP100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3VP200</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3VP500</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3VP1000</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3VP2G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3VP5G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>L3VP10G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_L3_Speed</targetReference>
            </connector>
            <label>L3 VPN Speed</label>
        </rules>
        <rules>
            <name>MAC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAC64O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAC128O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAC256O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAC512O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAC1012G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAC1024O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAC2012G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAC2048O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAC3072T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MAC4096O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MAC</targetReference>
            </connector>
            <label>MAC</label>
        </rules>
        <rules>
            <name>IP</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LINKIPV4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LINKIPV6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EP48IPV6</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E4IPV4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E8IPV4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E16IPV4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E32IPV4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E64IPV4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E128IPV4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>E256IPV4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPPIPIPR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IP</targetReference>
            </connector>
            <label>IP</label>
        </rules>
        <rules>
            <name>MTU</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MTU1800O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MT1548GC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MT1552TD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MTU9100O</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MT9198TD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MTU</targetReference>
            </connector>
            <label>MTU</label>
        </rules>
        <rules>
            <name>QoS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPQOS1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPQOS2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPQOS3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QoS</targetReference>
            </connector>
            <label>QoS</label>
        </rules>
        <rules>
            <name>CPE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPHAG018</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPHAG021</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPHAG020</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CPE</targetReference>
            </connector>
            <label>CPE</label>
        </rules>
        <rules>
            <name>Dedicated_Fiber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPINSTGC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPINSTTD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPINSTFI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dedicated_Fiber</targetReference>
            </connector>
            <label>Dedicated Fiber</label>
        </rules>
        <rules>
            <name>SLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPSLAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EPUSLAPT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SLA</targetReference>
            </connector>
            <label>SLA</label>
        </rules>
        <rules>
            <name>Redundancy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REDUN1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REDUN2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Redundancy</targetReference>
            </connector>
            <label>Redundancy</label>
        </rules>
        <rules>
            <name>VLAN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EVLANL2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VLAN</targetReference>
            </connector>
            <label>VLAN</label>
        </rules>
        <rules>
            <name>VRF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines_Pro.SBQQ__Product__r.Cerillion_Billing_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EVRFL3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_VRF</targetReference>
            </connector>
            <label>VRF</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>InstallationAddressFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Quote_line__r.Street_Name__c} + &apos; &apos; + {!$Record.Quote_line__r.Street_Number__c} + &apos;, &apos; + {!$Record.Quote_line__r.Floor__c} + &apos; &apos; + {!$Record.Quote_line__r.Door__c} + &apos;, &apos; + {!$Record.Quote_line__r.ZIP_Code__c} + &apos; &apos; + {!$Record.Quote_line__r.City__c}</expression>
    </formulas>
    <interviewLabel>Activation Line - Created: Ehrvervsinternet PoC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Line - Created: Erhvervsinternet PoC</label>
    <loops>
        <name>Loop_Quote_Lines</name>
        <label>Loop Quote Lines</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <collectionReference>Get_Parent_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Which_Product_On_Line</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Quote_Lines_Pro</name>
        <label>Loop Quote Lines Pro</label>
        <locationX>4098</locationX>
        <locationY>611</locationY>
        <collectionReference>Get_Parent_Quote_Lines_Pro</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Which_Product_On_Line_Pro</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Quote_Lines</name>
        <label>Get Parent Quote Lines</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Erhvervsinternet</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Activation_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No activation needed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Quote_Lines_Pro</name>
        <label>Get Parent Quote Lines Pro</label>
        <locationX>4098</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Lines_Pro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductFamily__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Erhvervsinternet Pro</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Activation_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No activation needed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1948</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Values_from_Quote_Line</targetReference>
        </connector>
        <filterFormula>OR(ISPICKVAL({!$Record.Manual_Product__r.Family}, &apos;Erhvervsinternet&apos;),ISPICKVAL({!$Record.Manual_Product__r.Family}, &apos;Erhvervsinternet Pro&apos;))</filterFormula>
        <object>Activation_line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>ActivationLineToBeUpdated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
