force-app/main/default/flows/Activation_Line_Portal_create_new_Activation_Lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Activation_Line_to_Collection</name>
        <label>Assign Activation Line to Collection</label>
        <locationX>1962</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>ActivationLinesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ActivationLineToCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Continue_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_error_text_0</name>
        <label>Assign error text</label>
        <locationX>1751</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>ErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Success_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loop_Count</name>
        <label>Assign Loop Count</label>
        <locationX>1705</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_copies</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfLinesAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_copies</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuccessText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLinesToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyActivationLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_new_Activation_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Loop_Count_0</name>
        <label>Assign Loop Count</label>
        <locationX>1732</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>LoopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_copies_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfLinesAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_copies_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SuccessText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLinesToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyActivationLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_new_Activation_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success_Text</name>
        <label>Assign Success Text</label>
        <locationX>1399</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>SuccessText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuccessTextFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Give_Product_Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_new_Activation_Line</name>
        <label>Assign Values to new Activation Line</label>
        <locationX>1845</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>ActivationLineToCreate.Quote_line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Activation_Line.Quote_Line_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLineToCreate.Activation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Activation_Line.Activation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLineToCreate.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Activation_Line.Case__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLineToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Activation_Line.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLineToCreate.Manual_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Activation_Line.Manual_Product_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varProductName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Activation_Line.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLineToCreate.Delivery_Att__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Activation_Line.Delivery_Att__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLineToCreate.Delivery_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Activation_Line.Delivery_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLineToCreate.Delivery_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Activation_Line.Delivery_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLineToCreate.Delivery_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Activation_Line.Delivery_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLineToCreate.Delivery_Street_and_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Activation_Line.Delivery_Street_and_number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLineToCreate.Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Activation_Line.Company_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLineToCreate.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Activation_Line.Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Activation_Line_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_NoOfQuoteLines</name>
        <label>Save NoOfQuoteLines</label>
        <locationX>1212</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>NoOfQuoteLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Quote_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Give_Product_Choice</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddNewChoice</name>
        <choiceText>Add New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add New</stringValue>
        </value>
    </choices>
    <choices>
        <name>UpdateExistingChoice</name>
        <choiceText>Update Existing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Existing</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Continue_Loop</name>
        <label>Continue Loop</label>
        <locationX>2201</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>Create_New_Activation_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stop Loop</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_new_Activation_Line</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Give_Product_Choice</name>
        <label>Give Product Choice</label>
        <locationX>1391</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Products_listed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Choose product</defaultConnectorLabel>
        <rules>
            <name>Dont_choose_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Activation.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home_office_activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_products_listed</targetReference>
            </connector>
            <label>Dont choose product</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>QuoteLineRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>SBQQ__ProductName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activate_with_other_products__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobile Subscription (Corporate)</stringValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SuccessTextFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ErrorText}),{!$Label.ALCreateNewSuccesText}+&apos; &apos;+text({!NoOfLinesAdded})+&apos; for &apos;+{!varProductName},&apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Activation Line Portal create new Activation Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Line Portal create new Activation Lines</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Activation_Lines</name>
        <label>Create New Activation Lines</label>
        <locationX>2205</locationX>
        <locationY>62</locationY>
        <connector>
            <targetReference>Assign_error_text_0</targetReference>
        </connector>
        <inputReference>ActivationLinesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Activation</name>
        <label>Get Activation</label>
        <locationX>537</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>1025</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_NoOfQuoteLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activate_with_other_products__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Family_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobile Subscription (Corporate)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets an Activation Line that is related to the chosen Quote Line</description>
        <name>Get_Related_Activation_Line</name>
        <label>Get Related Activation Line</label>
        <locationX>1556</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Loop_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Line_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteLineRadioButtons</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activation_line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>No_products_listed</name>
        <label>No products listed</label>
        <locationX>1623</locationX>
        <locationY>215</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Loop_Count_0</targetReference>
        </connector>
        <fields>
            <name>How_many_copies_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>How many copies?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ErrorTextScreen1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!ErrorText}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Gem</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Products_listed</name>
        <label>Products listed</label>
        <locationX>1399</locationX>
        <locationY>420</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Related_Activation_Line</targetReference>
        </connector>
        <fields>
            <name>ScreenDescription</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.ALCreateNewScreen1Guidance}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NoQuoteLinesText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!$Label.ALCreateNewNoProductsFound}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NoOfQuoteLines</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>QuoteLineRadioButtons</name>
            <choiceReferences>QuoteLineRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the product you want to add</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NoOfQuoteLines</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>How_many_copies</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>How many copies?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NoOfQuoteLines</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorTextScreen2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;An error occurred: {!ErrorText}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ErrorText</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SuccessTextScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(48, 186, 2);&quot;&gt;{!SuccessText}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Gem</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>411</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Get_Activation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivationLinesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>ActivationLineToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>EmptyActivationLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>ErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NoOfLinesAdded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfQuoteLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuccessText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
