force-app/main/default/flows/Activation_Line_POA_Not_Signed_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmail</name>
        <label>Send Email</label>
        <locationX>38</locationX>
        <locationY>1003</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varOppOwnerEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Activation lines without signed POAs</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ActivationLinewithPOA</name>
        <label>Activation Line with POA</label>
        <locationX>1011</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>varALwithPOA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VerifyActivationLines.Power_of_Attorney_record__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Not_Signed_POA_on_Activation_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ActivationNotCompleted</name>
        <label>Activation Not Completed</label>
        <locationX>1867</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>Activation_Progress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varActivationNotCompleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activation_Progress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ListPOAs</name>
        <label>ListPOAs</label>
        <locationX>772</locationX>
        <locationY>594</locationY>
        <assignmentItems>
            <assignToReference>varTextPOA</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>POA Link: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextPOA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>POALink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyActivationLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>POAId</name>
        <label>POA Id</label>
        <locationX>1095</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>varPOAId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VerifyPOAs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VerifyActivationLines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activation_Completed_By_Customer</name>
        <label>Activation Completed By Customer</label>
        <locationX>1855</locationX>
        <locationY>237</locationY>
        <defaultConnector>
            <targetReference>Activation_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Onboarding Completed</defaultConnectorLabel>
        <rules>
            <name>Onboarding_Not_Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Activation_Progress.Activation_progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New​</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Activation_Progress.Activation_progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress​</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActivationNotCompleted</targetReference>
            </connector>
            <label>Onboarding Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Activations_Completed</name>
        <label>Activations Completed</label>
        <locationX>1550</locationX>
        <locationY>462</locationY>
        <defaultConnector>
            <targetReference>Not_Signed_POAs_and_Number_Porting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActivationNotCompleted</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>All_Case_POAs_signed</name>
        <label>Not signed POAs</label>
        <locationX>1381</locationX>
        <locationY>713</locationY>
        <defaultConnector>
            <targetReference>Update_POA_Status_on_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collPOAs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Any_POA</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_has_any_POA_related</name>
        <label>Case has any POA related</label>
        <locationX>1752</locationX>
        <locationY>960</locationY>
        <defaultConnector>
            <targetReference>Update_POA_status_on_Case_to_Not_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CaseYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSinglePOAId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_POA_Status_on_Case_to_Signed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Signed_POA_on_Activation_Line</name>
        <label>Not Signed POA on Activation Line</label>
        <locationX>927</locationX>
        <locationY>759</locationY>
        <defaultConnector>
            <targetReference>VerifyActivationLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No POA related</defaultConnectorLabel>
        <rules>
            <name>Current_Activation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varALwithPOA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varPOAId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ListPOAs</targetReference>
            </connector>
            <label>Current Activation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Signed_POAs_and_Number_Porting</name>
        <label>Not Signed POAs and Number Porting</label>
        <locationX>1253</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collPOAs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collActivationLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyPOAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_Porting</name>
        <label>Number Porting</label>
        <locationX>1068</locationX>
        <locationY>1026</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPorting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collActivationLines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VerifyPOAs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email</name>
        <label>Send Email?</label>
        <locationX>199</locationX>
        <locationY>862</locationY>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListPOAs</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varOppOwnerEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmail</targetReference>
            </connector>
            <label>Email</label>
        </rules>
    </decisions>
    <description>This flow sends a notification for the opportunity owner if the Activation flow has been completed in the portal, but still some POAs require a signature. It also updates the status of the Power of Attorney on Case if all Activations are completed. Triggered by Process Builder: Assign_owner_to_activation_header_from_header_itself</description>
    <formulas>
        <name>ALLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_510})) &amp; 
    {!varALNoPOAId}</expression>
    </formulas>
    <formulas>
        <name>POALink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_510})) &amp; 
    {!varPOAId}
&amp;BR()</expression>
    </formulas>
    <interviewLabel>Activation Line POA Not Signed Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Activation Line POA Not Signed Notification</label>
    <loops>
        <name>Activation_Progress</name>
        <label>Activation Progress</label>
        <locationX>1582</locationX>
        <locationY>226</locationY>
        <collectionReference>collActivations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Activation_Completed_By_Customer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Activations_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>VerifyActivationLines</name>
        <label>Verify Activation Lines</label>
        <locationX>1124</locationX>
        <locationY>545</locationY>
        <collectionReference>collActivationLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ActivationLinewithPOA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VerifyPOAs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>VerifyPOAs</name>
        <label>Verify POAs</label>
        <locationX>665</locationX>
        <locationY>437</locationY>
        <collectionReference>collPOAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>POAId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ActivationLines</name>
        <label>Activation Lines</label>
        <locationX>671</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>POAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varActivationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone_no_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nummer skal porteres</stringValue>
            </value>
        </filters>
        <object>Activation_line__c</object>
        <outputReference>collActivationLines</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Power_of_Attorney_record__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Company_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Activations</name>
        <label>Activations</label>
        <locationX>958</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activation_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Activation__c</object>
        <outputReference>collActivations</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Activation_progress__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Any_POA</name>
        <label>Any POA</label>
        <locationX>1749</locationX>
        <locationY>772</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_has_any_POA_related</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Porting__c</object>
        <outputAssignments>
            <assignToReference>varSinglePOAId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>POAs</name>
        <label>POAs</label>
        <locationX>823</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </filters>
        <object>Porting__c</object>
        <outputReference>collPOAs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1392</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>All_Case_POAs_signed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AllActivationsReadyForQA__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POA_Status_on_Case</name>
        <label>Update POA Status on Case to Not Signed</label>
        <locationX>1344</locationX>
        <locationY>1072</locationY>
        <connector>
            <targetReference>Number_Porting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Power_of_attorney__c</field>
            <value>
                <stringValue>Requested but not yet received</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POA_status_on_Case_to_Not_Needed</name>
        <label>Update POA status on Case to Not Needed</label>
        <locationX>1964</locationX>
        <locationY>1022</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Power_of_attorney__c</field>
            <value>
                <stringValue>Not needed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POA_Status_on_Case_to_Signed</name>
        <label>Update POA Status on Case to Signed</label>
        <locationX>1668</locationX>
        <locationY>1184</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Power_of_attorney__c</field>
            <value>
                <stringValue>Received and attached to case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>271</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>ActivationLines</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The customer has completed the activation process in the portal, but there are still some POAs that require a signature:
{!varTextPOA}</text>
    </textTemplates>
    <variables>
        <name>collActivationLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>collActivations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation__c</objectType>
    </variables>
    <variables>
        <name>collPOAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Porting__c</objectType>
    </variables>
    <variables>
        <name>varActivationCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varActivationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varActivationNotCompleted</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation__c</objectType>
    </variables>
    <variables>
        <name>varActivationProgress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varALNoPOAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varALwithPOA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOppOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSinglePOA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSinglePOAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextAL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTextPOA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
