force-app/main/default/flows/Activation_Line_Home_Office.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Case_Ids</name>
        <label>Extract Case Ids</label>
        <locationX>2338</locationX>
        <locationY>350</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Activation</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Get_cases_for_related_opportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Home_Office_Order</name>
        <label>Home Office Order</label>
        <locationX>3966</locationX>
        <locationY>2594</locationY>
        <actionName>OrderAPIAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Order_Sent_Successfully</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>InputAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>activationLines</name>
            <value>
                <elementReference>RequestedActivationCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderAPIAction</nameSegment>
        <outputParameters>
            <assignToReference>ApexErrorMsg</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ApexHasErrors</assignToReference>
            <name>hasError</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>API_Response_Error</name>
        <label>API Response Error</label>
        <locationX>3834</locationX>
        <locationY>2810</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApexErrorMsg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>List_Activation_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ButtonPicked</name>
        <label>Assign ButtonPicked</label>
        <locationX>4626</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>ButtonPicked</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FlowButtonBar.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Activated_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_Changes</name>
        <label>Cancel Changes</label>
        <locationX>4362</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>Datatable_Non_Activated_Lines.outputEditedRows</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Datatable_Non_Activated_Lines.outputEditedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Datatable_Non_Activated_Lines.numberOfRowsEdited</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Activated_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Filter_Collections</name>
        <label>Clear Filter Collections</label>
        <locationX>3537</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>Activation_Requested_Lines_With_No_Missing_Data</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Activation_Requested_Lines_With_No_Missing_Data</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedActivationCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RequestedActivationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Activation_Requested_Lines_With_Invalid_Mobile</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Activation_Requested_Lines_With_Invalid_Mobile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Activation_Requested_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delete_Message</name>
        <label>Delete Message</label>
        <locationX>1106</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeleteMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Activated_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_text_fields</name>
        <label>Empty text fields</label>
        <locationX>2338</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestedActivationCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>RequestedActivationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NonActivatedChangedCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>NonActivatedChangedCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_no_of_activation_records_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rest_the_edit_row_count</name>
        <label>Rest the edit row count</label>
        <locationX>314</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>Datatable_Non_Activated_Lines.numberOfRowsEdited</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Activated_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_BanID</name>
        <label>Save BanID</label>
        <locationX>1810</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>Loop_BAN_Activation_Lines.Billing_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BANList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_to_BANCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Error_DataMissingOnActivationLine1</name>
        <label>Save Error DataMissingOnActivationLine</label>
        <locationX>3570</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.HODataMissingOnActivationLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>List_Activation_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Error_Invalid_Phone_Number1</name>
        <label>Save Error Invalid Phone Number</label>
        <locationX>3306</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.HODataMissingOnActivationLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>List_Activation_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_no_of_activation_records_changed</name>
        <label>Save no of activation records changed</label>
        <locationX>2338</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>NoOfUpdatedActivations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Datatable_Non_Activated_Lines.numberOfRowsEdited</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Button_was_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_NoBANMessage</name>
        <label>Save NoBANMessage</label>
        <locationX>2514</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.HONoBillingAccountForAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>List_Activation_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_NoOfBAN</name>
        <label>Save NoOfBAN</label>
        <locationX>2250</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>NoOfBAN</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_BAN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BANActivationCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>BANActivationCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_any_BAN_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_NoOfRequestedActivation</name>
        <label>Save no of requested activations</label>
        <locationX>3537</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>NoOfRequestedActivations</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Datatable_Non_Activated_Lines.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfRequestedActivationsWithInvalidMobile</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Activation_Requested_Lines_With_Invalid_Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfRequestedActivationsWithValidData</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Activation_Requested_Lines_With_No_Missing_Data</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_NoOfSelectedRecords</name>
        <label>Save NoOfSelectedRecords</label>
        <locationX>2338</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>NoOfActivatedLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Activated_Activation_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfNonActivatedLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Non_Activated_Activation_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NonActivatedCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Non_Activated_Activation_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>List_Activation_lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_RequestedActivationCollection1</name>
        <label>Save RequestedActivationCollection</label>
        <locationX>3966</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>RequestedActivationCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Datatable_Non_Activated_Lines.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Home_Office_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_SelectedActivationLines</name>
        <label>Save SelectedActivationLines</label>
        <locationX>2250</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>RequestedActivationCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Datatable_Non_Activated_Lines.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoOfBANActivationLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Datatable_Non_Activated_Lines.outputSelectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_BAN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_to_BANCollection</name>
        <label>Save to BANCollection</label>
        <locationX>1810</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>BANActivationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_BAN_Activation_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_BAN_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_BAN_Message</name>
        <label>Update BAN Message</label>
        <locationX>1722</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BANMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Activated_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Message</name>
        <label>Update Message</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>MessageText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rest_the_edit_row_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Records_Validation_Error</name>
        <label>Update Records Validation Error</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.HODataMissingOnActivationLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Activated_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Activation_Requested_Lines</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Activation Requested Lines</label>
        <locationX>3537</locationX>
        <locationY>1838</locationY>
        <assignNextValueToReference>currentItem_Activation_Requested_Lines_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Datatable_Non_Activated_Lines.outputEditedRows</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Activation_Requested_Lines_0.Home_Office_Request_Activation__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Activation_Requested_Lines_With_Invalid_Mobile</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Activation_Requested_Lines_With_Invalid_Mobile</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Activation Requested Lines With Invalid Mobile</label>
        <locationX>3537</locationX>
        <locationY>1946</locationY>
        <assignNextValueToReference>currentItem_Activation_Requested_Lines_With_Invalid_Mobile_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Datatable_Non_Activated_Lines.outputSelectedRows</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Activation_Requested_Lines_With_No_Missing_Data</targetReference>
        </connector>
        <formula>AND(
{!currentItem_Activation_Requested_Lines_With_Invalid_Mobile_0.Home_Office_Request_Activation__c},
{!currentItem_Activation_Requested_Lines_With_Invalid_Mobile_0.Mobile_no__c} &lt;&gt; null,
NOT(ISBLANK({!currentItem_Activation_Requested_Lines_With_Invalid_Mobile_0.Mobile_no__c})),
LEN({!currentItem_Activation_Requested_Lines_With_Invalid_Mobile_0.Mobile_no__c}) &lt;&gt; 8)</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Activation_Requested_Lines_With_No_Missing_Data</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Activation Requested Lines With No Missing Data</label>
        <locationX>3537</locationX>
        <locationY>2054</locationY>
        <assignNextValueToReference>currentItem_Activation_Requested_Lines_With_No_Missing_Data_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Datatable_Non_Activated_Lines.outputSelectedRows</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Activation_Requested_Lines_With_No_Missing_Data_0.Billing_Account__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Activation_Requested_Lines_With_No_Missing_Data_0.Billing_Account__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue></stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Activation_Requested_Lines_With_No_Missing_Data_0.Email__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Activation_Requested_Lines_With_No_Missing_Data_0.Email__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue></stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Activation_Requested_Lines_With_No_Missing_Data_0.Last_name__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Activation_Requested_Lines_With_No_Missing_Data_0.Last_name__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue></stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Save_NoOfRequestedActivation</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Any_Activation_Lines_Missing_Required_Data</name>
        <label>Any Activation Lines Missing Required Data ?</label>
        <locationX>3768</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <targetReference>Save_RequestedActivationCollection1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Activation_Lines_Missing_Required_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfRequestedActivations</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NoOfRequestedActivationsWithValidData</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>NoOfRequestedActivations</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Error_DataMissingOnActivationLine1</targetReference>
            </connector>
            <label>Yes, Activation Lines Missing Required Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Lines</name>
        <label>Any Activation Lines with Invalid Mobile ?</label>
        <locationX>3537</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Any_Activation_Lines_Missing_Required_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Activations_with_Invalid_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfRequestedActivationsWithInvalidMobile</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Error_Invalid_Phone_Number1</targetReference>
            </connector>
            <label>Yes, Activations with Invalid Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_Deletion</name>
        <label>Confirm Deletion</label>
        <locationX>1238</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>List_Activation_lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteConfirmationButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteActivation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is to determine if all the selected activation lines were sent to the order api successfully, if not the user should be notified with an error message</description>
        <name>Has_Order_Sent_Successfully</name>
        <label>Has Order Sent Successfully</label>
        <locationX>3966</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Activated_Activation_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasErrors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApexHasErrors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>API_Response_Error</targetReference>
            </connector>
            <label>HasErrors</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_any_BAN_found</name>
        <label>Was any BAN found ?</label>
        <locationX>2250</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Save_NoBANMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BAN_was_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfBAN</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BAN</targetReference>
            </connector>
            <label>Yes, BAN was found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Back_Selected</name>
        <label>Was Back Selected?</label>
        <locationX>2910</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Upload_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Back_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UploadScreenFlowButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UploadScreenFlowButtonBarDA.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Activated_Activation_Lines</targetReference>
            </connector>
            <label>Back Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Default_Ban_Found</name>
        <label>Was Default Ban Found ?</label>
        <locationX>2338</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Activated_Activation_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Default_Ban_was_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Default_BAN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_default_BAN_on_AL</targetReference>
            </connector>
            <label>Yes Default Ban was found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_BAN_Button_was_selected</name>
        <label>Which BAN Button was selected ?</label>
        <locationX>1986</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>List_Activation_lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Save or Back</defaultConnectorLabel>
        <rules>
            <name>BAN_Save</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BANButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BANButtonsDDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_BAN_Activation_Lines</targetReference>
            </connector>
            <label>BAN Save</label>
        </rules>
        <rules>
            <name>BAN_Back</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BANButtons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BANButtonsDDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>List_Activation_lines</targetReference>
            </connector>
            <label>BAN Back</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Button_was_selected</name>
        <label>Which Button was selected ?</label>
        <locationX>2338</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Assign_ButtonPicked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Billing_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FlowBBMassUpload.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewBAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowBBMassUploadDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewBAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Home_Office_Billing_Accounts</targetReference>
            </connector>
            <label>Create New Billing Account</label>
        </rules>
        <rules>
            <name>Save</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FlowButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowButtonBarDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Activation_Line</targetReference>
            </connector>
            <label>Save</label>
        </rules>
        <rules>
            <name>Next</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FlowBBNext.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Next</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowBBNextDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Next</stringValue>
                </rightValue>
            </conditions>
            <label>Next</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FlowBBActions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowBBActionsDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteConfirmation</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
        <rules>
            <name>Add_Billing_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FlowBBActions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AddBAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowBBActionsDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AddBAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_SelectedActivationLines</targetReference>
            </connector>
            <label>Add Billing Account</label>
        </rules>
        <rules>
            <name>Excel_Upload</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FlowBBActions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excel Upload</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowBBActionsDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excel Upload</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowBBMassUpload.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excel Upload</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowBBMassUploadDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excel Upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Screen</targetReference>
            </connector>
            <label>Excel Upload</label>
        </rules>
        <rules>
            <name>Request_Activation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FlowBBActions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RequestActivation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowBBActionsDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RequestActivation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Filter_Collections</targetReference>
            </connector>
            <label>Request Activation</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FlowButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FlowButtonBarDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Changes</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
    </decisions>
    <description>Portal flow to enrich activation line with BAN, phone, email, lastname and firstname and to request line/lines for activation.</description>
    <dynamicChoiceSets>
        <name>BANList</name>
        <collectionReference>Get_BAN</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Billing_Account__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BANMessage</name>
        <dataType>String</dataType>
        <expression>TEXT({!NoOfBANActivationLines}) &amp; &quot; &quot; &amp; {!$Label.HOActivationLinesBanAdded}</expression>
    </formulas>
    <formulas>
        <name>DeleteMessage</name>
        <dataType>String</dataType>
        <expression>TEXT({!Datatable_Non_Activated_Lines.numberOfRowsSelected}) 
&amp; &quot; &quot; &amp; {!$Label.HOActivationLinesDeleted}</expression>
    </formulas>
    <formulas>
        <name>ToDay</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>UpdatedMessage</name>
        <dataType>String</dataType>
        <expression>TEXT({!Datatable_Non_Activated_Lines.numberOfRowsEdited}) 
&amp; &quot; &quot; &amp; {!$Label.HOActivationLinesUpdated}  &amp; &quot; &quot; 
&amp; IF({!NoOfActualActivationRequestedLines} &gt; 0,(TEXT({!NoOfActualActivationRequestedLines}) &amp; &quot; &quot; &amp;{!$Label.HOActivationLinesRequestedToBeActivated}),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>UpdatedMessageNext</name>
        <dataType>String</dataType>
        <expression>TEXT({!Datatable_Non_Activated_Lines.numberOfRowsEdited}) 
&amp; &quot; &quot; &amp; {!$Label.HOActivationLinesUpdated}  &amp; &quot; &quot; 
&amp; IF({!NoOfActualActivationRequestedLines} &gt; 0,(TEXT({!NoOfActualActivationRequestedLines}) &amp; &quot; &quot; &amp;{!$Label.HOActivationLinesRequestedToBeActivated}),&quot;&quot;)
&amp; &quot; &quot;  &amp; {!$Label.HOSelectNextAgain}</expression>
    </formulas>
    <formulas>
        <name>varFActivatedLinesLabel</name>
        <dataType>String</dataType>
        <expression>IF(({!UserLanguage}= &apos;da&apos;), &apos;Aktiverede linjer&apos;, &apos;Activated Lines&apos;)</expression>
    </formulas>
    <formulas>
        <name>varfActivationLinesLabel</name>
        <dataType>String</dataType>
        <expression>IF(({!UserLanguage}= &apos;da&apos;), &apos;Aktiverings linjer&apos;, &apos;Activation Lines&apos;)</expression>
    </formulas>
    <formulas>
        <name>varFNonActivatedLinesLabel</name>
        <dataType>String</dataType>
        <expression>IF(({!UserLanguage}= &apos;da&apos;), &apos;Ikke aktiverede linjer&apos;, &apos;Non-Activated Lines&apos;)</expression>
    </formulas>
    <interviewLabel>Home Office {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Home Office Activation Lines</label>
    <loops>
        <name>Loop_BAN_Activation_Lines</name>
        <label>Loop BAN Activation Lines</label>
        <locationX>1722</locationX>
        <locationY>2378</locationY>
        <collectionReference>RequestedActivationCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_BanID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Activation_Line_with_BAN</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>DeleteActivation</name>
        <label>DeleteActivation</label>
        <locationX>1106</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Delete_Message</targetReference>
        </connector>
        <inputReference>Datatable_Non_Activated_Lines.outputSelectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Activated_Activation_Lines</name>
        <label>Get  Activated Activation Lines</label>
        <locationX>2338</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Non_Activated_Activation_Lines</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Home_Office_Activation_Accepted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Home_Office_Request_Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activation_line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Home_Office_Request_Activation__c</queriedFields>
        <queriedFields>Billing_Account_Name_For_Portal__c</queriedFields>
        <queriedFields>Employee_Number__c</queriedFields>
        <queriedFields>First_name__c</queriedFields>
        <queriedFields>Last_name__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Mobile_no__c</queriedFields>
        <queriedFields>Installation_address__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Home_Office_OTC_Product__c</queriedFields>
        <queriedFields>VAS_FASTIP__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Home_Office_Requested_Activation_Date__c</queriedFields>
        <queriedFields>Home_Office_Order_Id__c</queriedFields>
        <queriedFields>Billing_Account__c</queriedFields>
        <queriedFields>Billing_Account_Number__c</queriedFields>
        <queriedFields>Location_Line__c</queriedFields>
        <queriedFields>Express_Delivery__c</queriedFields>
        <queriedFields>plugPresentPositiveValidation__c</queriedFields>
        <queriedFields>Is_Digging_Needed__c</queriedFields>
        <queriedFields>Active_Blocking_Line_Present__c</queriedFields>
        <queriedFields>Plug_Technician_Required__c</queriedFields>
        <queriedFields>Municipality_Code__c</queriedFields>
        <queriedFields>Street_Code__c</queriedFields>
        <queriedFields>Invoice_Type_F__c</queriedFields>
        <queriedFields>Home_Office_VAS_Product__c</queriedFields>
        <queriedFields>Activation__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Full_name__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Activation</name>
        <label>Get Activation</label>
        <locationX>2338</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Default_BAN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Extract_Case_Ids.fieldValueCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activation__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BAN</name>
        <label>Get BAN</label>
        <locationX>2250</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_NoOfBAN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Account_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Office</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Account__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_cases_for_related_opportunity</name>
        <label>Get cases for related opportunity</label>
        <locationX>2338</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Case_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Default_BAN</name>
        <label>Get Default BAN</label>
        <locationX>2338</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Default_Ban_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Default_Billing_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billing_Account__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Activated_Activation_Lines</name>
        <label>Get Non Activated Activation Lines</label>
        <locationX>2338</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_NoOfSelectedRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Home_Office_Activation_Accepted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Home_Office_Request_Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activation_line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Home_Office_Request_Activation__c</queriedFields>
        <queriedFields>Billing_Account_Name_For_Portal__c</queriedFields>
        <queriedFields>Employee_Number__c</queriedFields>
        <queriedFields>First_name__c</queriedFields>
        <queriedFields>Last_name__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Mobile_no__c</queriedFields>
        <queriedFields>Installation_address__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Home_Office_OTC_Product__c</queriedFields>
        <queriedFields>VAS_FASTIP__c</queriedFields>
        <queriedFields>Home_Office_Activation_Accepted__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Home_Office_Order_Id__c</queriedFields>
        <queriedFields>Home_Office_Requested_Activation_Date__c</queriedFields>
        <queriedFields>Billing_Account__c</queriedFields>
        <queriedFields>Billing_Account_Number__c</queriedFields>
        <queriedFields>Location_Line__c</queriedFields>
        <queriedFields>Home_Office_VAS_Product__c</queriedFields>
        <queriedFields>Express_Delivery__c</queriedFields>
        <queriedFields>plugPresentPositiveValidation__c</queriedFields>
        <queriedFields>Is_Digging_Needed__c</queriedFields>
        <queriedFields>Active_Blocking_Line_Present__c</queriedFields>
        <queriedFields>Plug_Technician_Required__c</queriedFields>
        <queriedFields>Municipality_Code__c</queriedFields>
        <queriedFields>Street_Code__c</queriedFields>
        <queriedFields>Invoice_Type_F__c</queriedFields>
        <queriedFields>Activation__c</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>Full_name__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Insert_default_BAN_on_AL</name>
        <label>Insert default BAN on AL</label>
        <locationX>2206</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Activated_Activation_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Home_Office_Request_Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_Account__c</field>
            <value>
                <elementReference>Get_Default_BAN.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Activation_line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Activation_Line</name>
        <label>Update Activation Line</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Update_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Records_Validation_Error</targetReference>
        </faultConnector>
        <inputReference>Datatable_Non_Activated_Lines.outputEditedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Activation_Line_with_BAN</name>
        <label>Update Activation Line with BAN</label>
        <locationX>1722</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Update_BAN_Message</targetReference>
        </connector>
        <inputReference>BANActivationCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assign_BAN</name>
        <label>Assign BAN</label>
        <locationX>1986</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_BAN_Button_was_selected</targetReference>
        </connector>
        <fields>
            <name>BanProgress</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>StepList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>CurrentStep</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Horizontal</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ListSelectedLinesForBan</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Activation_line__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Activation_line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>RequestedActivationCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Employee_Number__c,First_name__c,Last_name__c,Email__c,Mobile_no__c,Installation_address__c,Product__c,Home_Office_OTC_Product__c,VAS_FASTIP__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Employee_Number__c:120, First_name__c:195, Last_name__c:195, Email__c:140, Mobile_no__c:90, Installation_address__c:225, Product__c:245, Home_Office_OTC_Product__c:230, VAS_FASTIP__c:90</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <elementReference>varfActivationLinesLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Guide</name>
            <fieldText>&lt;p&gt;Select billing account you want to be related to above activations.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BANSelectionList</name>
            <choiceReferences>BANList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Billing Account</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BANButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BANButtonsDDanish</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Tilbage&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Tilfj fakt. adresse til viste linjer&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DeleteConfirmation</name>
        <label>DeleteConfirmation</label>
        <locationX>1238</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_Deletion</targetReference>
        </connector>
        <fields>
            <name>DeleteConfirmationTextPanel</name>
            <fieldText>&lt;p&gt;{!DeleteConfirmationTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DeleteConfirmationButtons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Yes&quot;,&quot;value&quot;:&quot;Yes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>List_Activation_lines</name>
        <label>List Activation lines</label>
        <locationX>2338</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Empty_text_fields</targetReference>
        </connector>
        <fields>
            <name>FlowProgress</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>StepList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <elementReference>CurrentStep</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Horizontal</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ActivationGuidance</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Label.HOActivationGuidance}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FlowBBActions</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>below</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Delete&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Update Billing Account&quot;,&quot;value&quot;:&quot;AddBAN&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Request for Activation&quot;,&quot;value&quot;:&quot;RequestActivation&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Mass Upload Data&quot;,&quot;value&quot;:&quot;Excel Upload&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Datatable_Non_Activated_Lines.numberOfRowsSelected</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlowBBActionsDanish</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>below</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Slet&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;ndr fakt. adresse&quot;,&quot;value&quot;:&quot;AddBAN&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Anmodning om aktivering&quot;,&quot;value&quot;:&quot;RequestActivation&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Mass Upload Data&quot;,&quot;value&quot;:&quot;Excel Upload&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Datatable_Non_Activated_Lines.numberOfRowsSelected</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlowBBMassUpload</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>below</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Mass Upload Data&quot;,&quot;value&quot;:&quot;Excel Upload&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Create Billing Account&quot;,&quot;value&quot;:&quot;NewBan&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Datatable_Non_Activated_Lines.numberOfRowsSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlowBBMassUploadDanish</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Mass Upload Data&quot;,&quot;value&quot;:&quot;Excel Upload&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Tilfj fakt. adresse&quot;,&quot;value&quot;:&quot;NewBan&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Datatable_Non_Activated_Lines.numberOfRowsSelected</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MessageDisplayText</name>
            <fieldText>&lt;p&gt;{!NotificationTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MessageText</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorMsgText</name>
            <fieldText>&lt;p&gt;{!ErrorMessageTemplate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>List_Activation_lines_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>List_Activation_lines_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Datatable_Activated_Lines</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Activation_line__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Activation_line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Home_Office_Request_Activation__c,Billing_Account_Name_For_Portal__c,First_name__c,Last_name__c,Employee_Number__c,Email__c,Mobile_no__c,Installation_address__c,Product__c,Home_Office_OTC_Product__c,VAS_FASTIP__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Home_Office_Request_Activation__c:0, Billing_Account_Name_For_Portal__c:0, First_name__c:0, Last_name__c:0, Employee_Number__c:0, Email__c:0, Mobile_no__c:0, Installation_address__c:0, Product__c:0, Home_Office_OTC_Product__c:0, VAS_FASTIP__c:0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>Home_Office_OTC_Product__c:Installation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Activated_Activation_Lines</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideClearSelectionButton</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <elementReference>varFActivatedLinesLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRecordCount</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRecordCount</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFlexes</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NoOfActivatedLines</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>List_Activation_lines_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>List_Activation_lines_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Datatable_Non_Activated_Lines</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Activation_line__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Activation_line__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnEdits</name>
                        <value>
                            <stringValue>Home_Office_Request_Activation__c:true, First_name__c:true, Last_name__c:true, Email__c:true, Mobile_no__c:true, Billing_Account__r_lookup:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Billing_Account_Name_For_Portal__c,First_name__c,Last_name__c,Employee_Number__c,Email__c,Mobile_no__c,Installation_address__c,Product__c,Home_Office_OTC_Product__c,VAS_FASTIP__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Billing_Account_Name_For_Portal__c:0, First_name__c:0, Last_name__c:0, Employee_Number__c:0, Email__c:0, Mobile_no__c:0, Installation_address__c:0, Product__c:0, Home_Office_OTC_Product__c:0, VAS_FASTIP__c:0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>Home_Office_OTC_Product__c:Installation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRecordCount</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRecordCount</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>suppressBottomBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>NonActivatedCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <elementReference>varFNonActivatedLinesLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isShowSearchBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFlexes</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>NoOfNonActivatedLines</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FlowButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save Changes&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Datatable_Non_Activated_Lines.numberOfRowsEdited</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlowButtonBarDanish</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Gem ndrede linjer&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Datatable_Non_Activated_Lines.numberOfRowsEdited</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlowBBNext</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Next&quot;,&quot;value&quot;:&quot;Next&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>2 AND 4 AND (1 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Datatable_Non_Activated_Lines.numberOfRowsEdited</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Datatable_Non_Activated_Lines.numberOfRowsEdited</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NoOfActivatedLines</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlowBBNextDanish</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Nste&quot;,&quot;value&quot;:&quot;Next&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>2 AND 4 AND (1 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>NoOfUpdatedActivations</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NoOfUpdatedActivations</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>NoOfActivatedLines</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Screen</name>
        <label>Upload Screen</label>
        <locationX>2910</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_Back_Selected</targetReference>
        </connector>
        <fields>
            <name>UploadTool</name>
            <extensionName>c:uploadTool</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>First Name,Last Name,Email,Mobile,Employee ID (Do not change),Address (Do not change),Technical ID (Do not change)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>names</name>
                <value>
                    <stringValue>First_name__c,Last_name__c,Email__c,Mobile_no__c,Employee_Number__c,Installation_address__c,Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ParentID</name>
                <value>
                    <elementReference>Get_Activation.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Lines</name>
                <value>
                    <elementReference>Get_Non_Activated_Activation_Lines</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UploadScreenFlowButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:back&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>UploadScreenFlowButtonBarDA</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Tilbage&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:back&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2212</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Home_Office_Activation_RecordtypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Home_Office_Activation_RecordtypeId</name>
        <label>Get Home Office Activation RecordtypeId</label>
        <locationX>2338</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_cases_for_related_opportunity</targetReference>
        </connector>
        <flowName>Recordtype_Get_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>DeveloperName</name>
            <value>
                <stringValue>Home_office_activation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Activation__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordType</assignToReference>
            <name>RecordTypeRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Home_Office_Billing_Accounts</name>
        <label>Home Office Billing Accounts</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Activation</targetReference>
        </connector>
        <flowName>Home_Office_Billing_Accounts</flowName>
        <inputAssignments>
            <name>AccountMissingData</name>
            <value>
                <elementReference>Opportunity.Account_data_missing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentStep</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputAccount</name>
            <value>
                <elementReference>InputAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputOpportunity</name>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StepList</name>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>DeleteConfirmationTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-notify slds-notify_alert slds-alert_error&quot; role=&quot;alert&quot;&gt;Confirm Delete&lt;/div&gt;&lt;div class=&quot;slds-modal__content slds-p-around_medium&quot; id=&quot;prompt-message-wrapper&quot;&gt;&lt;p&gt;Are you sure you want to delete the selected lines. This action is irreversible&lt;/p&gt;&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessageTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-scoped-notification slds-media slds-media_center slds-theme_error&quot; role=&quot;status&quot;&gt;&lt;div class=&quot;slds-media__body&quot;&gt;&lt;p&gt;{!ErrorMsg}&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-scoped-notification slds-media slds-media_center slds-theme_success&quot; role=&quot;status&quot;&gt;&lt;div class=&quot;slds-media__body&quot;&gt;&lt;p&gt;{!MessageText}&lt;/p&gt;&lt;/div&gt;&lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <name>ApexErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApexHasErrors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BANActivationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>ButtonPicked</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_Activated_Activation_Lines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Activation_Requested_Lines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Activation_Requested_Lines_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Activation_Requested_Lines_With_Invalid_Mobile_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Activation_Requested_Lines_With_No_Missing_Data_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>CurrentMobileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmptyLineText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MessageText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NonActivatedChangedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>NonActivatedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>NoOfActivatedLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfActualActivationRequestedLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfBAN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfBANActivationLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfNonActivatedLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfRequestedActivations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfRequestedActivationsWithInvalidMobile</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfRequestedActivationsWithValidData</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfUpdatedActivations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RequestedActivationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>RequestedActivationLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>RequestedActivationReturnedFromOrderApi</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>RequestedLinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>Requestid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedRowsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>ShowError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ShowMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StepList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.LanguageLocaleKey</elementReference>
        </value>
    </variables>
</Flow>
