force-app/main/default/flows/ActivationLine_Populate_QuoteLine.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>For Data products, this Flow should be updated (as quote lines-activation lines will be 1-1 related for data products)</description>
    <interviewLabel>ActivationLine - Populate QuoteLine {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ActivationLine - Populate QuoteLine</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetQuoteLine</name>
        <label>GetQuoteLine</label>
        <locationX>341</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PopulateQL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Activation__r.Case__r.Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Manual_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>PopulateQL</name>
        <label>PopulateQL</label>
        <locationX>342</locationX>
        <locationY>557</locationY>
        <inputAssignments>
            <field>Quote_line__c</field>
            <value>
                <elementReference>GetQuoteLine.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>216</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>GetQuoteLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_line__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Activation_line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
