force-app/main/default/flows/Add.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Address_line_values</name>
        <label>Address line values</label>
        <locationX>661</locationX>
        <locationY>135</locationY>
        <assignmentItems>
            <assignToReference>Addressline.AdrProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Addressline.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Addressline.Sales_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Addressline.Local_Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Addresslinecount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_all_address_lines_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrement_Count</name>
        <label>Decrement Count</label>
        <locationX>661</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>Addresslinecount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_all_address_lines_created</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_all_address_lines_created</name>
        <label>Are all address lines created?</label>
        <locationX>653</locationX>
        <locationY>294</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Addresslinecount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Address_Line</targetReference>
            </connector>
            <label>Next</label>
        </rules>
        <rules>
            <name>Finished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Addresslinecount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_line</targetReference>
            </connector>
            <label>Finished</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_quote_signed</name>
        <label>Is quote signed?</label>
        <locationX>471</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Not_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Activation_Quote_Record_Type</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_line_values</targetReference>
            </connector>
            <label>Quote Not Signed</label>
        </rules>
    </decisions>
    <description>If quote lines match the criteria new address lines will be created on the quote</description>
    <interviewLabel>Add {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote line: Updated Address add</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Address_Line</name>
        <label>Create Address Line</label>
        <locationX>1018</locationX>
        <locationY>340</locationY>
        <connector>
            <targetReference>Decrement_Count</targetReference>
        </connector>
        <inputReference>Addressline</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Quote_line</name>
        <label>Update Quote line</label>
        <locationX>483</locationX>
        <locationY>293</locationY>
        <inputAssignments>
            <field>Address_filled_on_activation_lines__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Is_quote_signed</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address_filled_on_activation_lines__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__SegmentIndex__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductCode__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>31</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_address_required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Addressline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Address_line__c</objectType>
    </variables>
    <variables>
        <name>Addresslinecount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
