force-app/main/default/flows/Address_picker_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_address_on_record</name>
        <label>Set address on record</label>
        <locationX>533</locationX>
        <locationY>53</locationY>
        <assignmentItems>
            <assignToReference>AddressLine.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FullFormattedAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_address_record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TitleLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto-complete address</stringValue>
        </value>
    </constants>
    <description>Autocompletion for address lines</description>
    <interviewLabel>Address picker flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Address picker flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_address_record</name>
        <label>Get address record</label>
        <locationX>375</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_address_on_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Address_line__c</object>
        <outputReference>AddressLine</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Address__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_address_record</name>
        <label>Update address record</label>
        <locationX>703</locationX>
        <locationY>54</locationY>
        <inputReference>AddressLine</inputReference>
    </recordUpdates>
    <screens>
        <name>Find_Address</name>
        <label>Find Address</label>
        <locationX>203</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_address_record</targetReference>
        </connector>
        <fields>
            <name>addressPickerCmp</name>
            <extensionName>DV_Flow_AP:AddressValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showMap</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showAddressFields</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locality</name>
                <value>
                    <elementReference>City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postal_code</name>
                <value>
                    <elementReference>Postcode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>premise</name>
                <value>
                    <elementReference>Premise</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>administrative_area_level_1</name>
                <value>
                    <elementReference>Province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>route</name>
                <value>
                    <elementReference>Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street_number</name>
                <value>
                    <elementReference>Street_Number</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fullStreetAddress</name>
                <value>
                    <elementReference>fullStreetAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>latitude</name>
                <value>
                    <elementReference>Latitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>longitude</name>
                <value>
                    <elementReference>Longitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeId</name>
                <value>
                    <elementReference>PlaceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formattedAddress</name>
                <value>
                    <elementReference>FullFormattedAddress</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCountyField</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>administrative_area_level_2</name>
                <value>
                    <elementReference>County</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Street_Number</assignToReference>
                <name>street_number</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Street</assignToReference>
                <name>route</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Province</assignToReference>
                <name>administrative_area_level_1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Postcode</assignToReference>
                <name>postal_code</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>City</assignToReference>
                <name>locality</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FullFormattedAddress</assignToReference>
                <name>formattedAddress</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>fullStreetAddress</assignToReference>
                <name>fullStreetAddress</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Premise</assignToReference>
                <name>premise</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PlaceId</assignToReference>
                <name>placeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Latitude</assignToReference>
                <name>latitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Longitude</assignToReference>
                <name>longitude</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>County</assignToReference>
                <name>administrative_area_level_2</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Title_label</assignToReference>
                <name>titleLabel</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <pausedText>&lt;p&gt;Address saved!&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Find_Address</startElementReference>
    <status>Active</status>
    <variables>
        <name>AddressLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Address_line__c</objectType>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Denmark</stringValue>
        </value>
    </variables>
    <variables>
        <name>County</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Address as formatted by the Google API</description>
        <name>FullFormattedAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fullStreetAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Latitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>55.670216</stringValue>
        </value>
    </variables>
    <variables>
        <name>Longitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>12.6180843</stringValue>
        </value>
    </variables>
    <variables>
        <name>PlaceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Postcode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Unique location names such as &quot;Salesforce Tower&quot;</description>
        <name>Premise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Province</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Title_label</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Auto-complete address</stringValue>
        </value>
    </variables>
</Flow>
