force-app/main/default/flows/Before_Save_Quote_Object_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Null</name>
        <dataType>Date</dataType>
    </constants>
    <decisions>
        <name>ACE_amount_changed</name>
        <label>ACE amount changed</label>
        <locationX>325</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Extra_special_terms_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ace_amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACE_amount_is_changed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>BC_amount_changed</name>
        <label>BC amount changed</label>
        <locationX>325</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>ACE_amount_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BC_amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BC_amount_is_changed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>create_Quote</name>
        <label>create Quote</label>
        <locationX>325</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>BC_amount_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Contract_to__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Send_Contract_to</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Extra_special_terms_changed</name>
        <label>Extra special terms changed</label>
        <locationX>600</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Special_terms_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Special_Term__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extra_special_terms_is_changed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Quote_after_Approval</name>
        <label>Open Quote after Approval</label>
        <locationX>600</locationX>
        <locationY>3395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Edit_Quote_after_Approval__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_UI_by_setting_page_layout_to_Draft_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Approved</name>
        <label>Quote Approved</label>
        <locationX>600</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Quote_Recalled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Not_Auto_Approved__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In_internal_Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_exempted_from_price_increase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Auto_Approved</name>
        <label>Quote Auto  Approved</label>
        <locationX>600</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Quote_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Not_Auto_Approved__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In_internal_Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lock_UI_be_setting_page_layout_to_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_in_Approval_lock_UI</name>
        <label>Quote in Approval - lock UI</label>
        <locationX>600</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Quote_Auto_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lock_UI_by_setting_In_Approval_Page_Layout</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Recalled</name>
        <label>Quote Recalled</label>
        <locationX>600</locationX>
        <locationY>2795</locationY>
        <defaultConnector>
            <targetReference>Quote_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_UI_by_setting_page_layout_to_Draft</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Rejected</name>
        <label>Quote Rejected</label>
        <locationX>600</locationX>
        <locationY>3095</locationY>
        <defaultConnector>
            <targetReference>Open_Quote_after_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_UI_by_setting_page_layout_to_Draft_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_exempted_from_price_increase</name>
        <label>Should exempted from price increase?</label>
        <locationX>446</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Lock_UI_and_Sign_on_fee_limit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exempted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Additional_Special_Terms_on_Contract__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Undtaget fra prisindeksering</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apply_Price_Increase_Exemption</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Special_terms_changed</name>
        <label>Special terms changed</label>
        <locationX>600</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Quote_in_Approval_lock_UI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Additional_Special_Terms_on_Contract__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Special_terms_is_changed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>SendContractto</name>
        <dataType>String</dataType>
        <expression>{!$Record.Authorised_to_Sign__r.Id}</expression>
    </formulas>
    <formulas>
        <name>Sign_On_Fee_Approval_Limit</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Sign_On_Fee__c}*1.00</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Before Save: Quote Object Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Save: Quote Object Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ACE_amount_is_changed</name>
        <label>ACE amount is changed</label>
        <locationX>50</locationX>
        <locationY>995</locationY>
        <inputAssignments>
            <field>ACE_amount_changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Apply_Price_Increase_Exemption</name>
        <label>Apply Price Increase Exemption</label>
        <locationX>314</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Lock_UI_and_Sign_on_fee_limit</targetReference>
        </connector>
        <inputAssignments>
            <field>Exempt_for_price_index_regulation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>BC_amount_is_changed</name>
        <label>BC amount is changed</label>
        <locationX>193</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>ACE_amount_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>BC_amount_changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Extra_special_terms_is_changed</name>
        <label>Extra special terms is changed</label>
        <locationX>468</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Special_terms_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Extra_Special_Term_changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lock_UI_and_Sign_on_fee_limit</name>
        <label>Lock UI and Sign on fee limit</label>
        <locationX>446</locationX>
        <locationY>2603</locationY>
        <connector>
            <targetReference>Quote_Recalled</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Approved_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Ready_for_Customer_Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sign_On_Fee_Approval_Limit__c</field>
            <value>
                <elementReference>Sign_On_Fee_Approval_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lock_UI_be_setting_page_layout_to_Approved</name>
        <label>Lock UI be setting page layout to Approved</label>
        <locationX>468</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>Quote_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Approved_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Ready_for_Customer_Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Lock_UI_by_setting_In_Approval_Page_Layout</name>
        <label>Lock UI by setting In Approval Page Layout</label>
        <locationX>468</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Quote_Auto_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>Not_Auto_Approved__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.In_Approval_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>In_internal_Approval</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Open_UI_by_setting_page_layout_to_Draft</name>
        <label>Open UI by setting page layout to Draft</label>
        <locationX>468</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Quote_Rejected</targetReference>
        </connector>
        <inputAssignments>
            <field>Not_Auto_Approved__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Draft_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Open_UI_by_setting_page_layout_to_Draft_0</name>
        <label>Open UI by setting page layout to Draft</label>
        <locationX>468</locationX>
        <locationY>3203</locationY>
        <connector>
            <targetReference>Open_Quote_after_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Not_Auto_Approved__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Draft_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Open_UI_by_setting_page_layout_to_Draft_0_0</name>
        <label>Open UI by setting page layout to Draft</label>
        <locationX>468</locationX>
        <locationY>3503</locationY>
        <inputAssignments>
            <field>ApprovalStatus__c</field>
            <value>
                <stringValue>Recalled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Edit_Quote_after_Approval__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Auto_Approved__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Draft_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubmittedDate__c</field>
            <value>
                <elementReference>Null</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubmittedUser__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Send_Contract_to</name>
        <label>Set Send Contract to</label>
        <locationX>193</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>BC_amount_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Send_Contract_to__c</field>
            <value>
                <elementReference>SendContractto</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Special_terms_is_changed</name>
        <label>Special terms is changed</label>
        <locationX>468</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Quote_in_Approval_lock_UI</targetReference>
        </connector>
        <inputAssignments>
            <field>Special_Term_changed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>199</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create_Quote</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
