force-app/main/default/flows/Business_Internet_Billing_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Action Apex Class - RootBanServiceAction class will be creating a new root ban in Fokus and return the Root Ban Number</description>
        <name>Create_Root_Ban_Action</name>
        <label>Create Root Ban Action</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <actionName>RootBanServiceAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Root_Ban_Successfully_Created</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>BanType</name>
            <value>
                <stringValue>Business Internet</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>billingAtt</name>
            <value>
                <elementReference>Billing_Att</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>companyName</name>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>Invoicing_Email.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputAccount</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputOppoty</name>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalCode</name>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>streetName</name>
            <value>
                <elementReference>Street_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>streetNumber</name>
            <value>
                <elementReference>Street_Number</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RootBanServiceAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>RootBanNumber</assignToReference>
            <name>billingAccountNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>RootBanErrors</assignToReference>
            <name>errors</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>HasRootBanErrors</assignToReference>
            <name>hasErrors</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_Number_of_Billing_Accounts</name>
        <label>Count Number of Billing Accounts</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NumberOfBillingAccounts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Billing_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_MoreThanOneLineChanged</name>
        <label>Error_MoreThanOneLineChanged</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.HOBANMoreThanOneLineEdited</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Billing_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_fields</name>
        <label>Reset fields</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_any_lines_changed</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_Root_Ban_Successfully_Created</name>
        <label>Is Root Ban Successfully Created</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Root_Ban_Errors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Created_Succesfully_first_one_is_default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasRootBanErrors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfBillingAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Billing_Account</targetReference>
            </connector>
            <label>Yes Created Succesfully, first one is default</label>
        </rules>
        <rules>
            <name>Yes_Created_Successfully</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasRootBanErrors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Billing_Account</targetReference>
            </connector>
            <label>Yes Created Successfully</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_one_Line_Changed</name>
        <label>More than one Line Changed ?</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Remove_existing_Default_BAN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_more_yhan_one_line_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfChangedBAN</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_MoreThanOneLineChanged</targetReference>
            </connector>
            <label>Yes, more yhan one line changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_any_lines_changed</name>
        <label>Was any lines changed ?</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Which_button_was_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_lines_was_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfChangedBAN</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>More_than_one_Line_Changed</targetReference>
            </connector>
            <label>Yes lines was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Default_BAN_Selected</name>
        <label>Was Default BAN Selected</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Create_Root_Ban_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_default_billing_was_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Default_Billing_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Default_BAN</targetReference>
            </connector>
            <label>Yes, default billing was selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_button_was_selected</name>
        <label>Which button was selected</label>
        <locationX>1238</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Save</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SaveButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SaveButtonDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Default_BAN_Selected</targetReference>
            </connector>
            <label>Save</label>
        </rules>
        <rules>
            <name>Next_missing_BAN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Billing_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Next, missing BAN</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BANHeaderLabel</name>
        <dataType>String</dataType>
        <expression>IF(({!UserLanguage} = &apos;da&apos;), &apos;Fakt. adresser&apos; ,&apos;Billing Accounts&apos;)</expression>
    </formulas>
    <formulas>
        <description>Instead of field Account_data_missing__c on Opportunity</description>
        <name>BillingDataMissing</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISBLANK({!Get_Account.CVR__c}),
ISBLANK({!Get_Account.BillingStreet}),
ISBLANK({!Get_Account.BillingCity}),
ISBLANK({!Get_Account.BillingCountry}),
ISBLANK({!Get_Account.BillingPostalCode}))</expression>
    </formulas>
    <formulas>
        <name>StreetNameAndNo</name>
        <dataType>String</dataType>
        <expression>{!Street_Name} + &apos; &apos; + {!Street_Number}</expression>
    </formulas>
    <interviewLabel>Business Internet - Billing Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Internet - Billing Accounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Billing_Account</name>
        <label>Create Default Billing Account</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BAN_Number__c</field>
            <value>
                <elementReference>RootBanNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Account_Type__c</field>
            <value>
                <stringValue>Business Internet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Att__c</field>
            <value>
                <elementReference>Billing_Att</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Name__c</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Postal_Code__c</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street_and_no__c</field>
            <value>
                <elementReference>StreetNameAndNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Billing_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Email__c</field>
            <value>
                <elementReference>Invoicing_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Invoicing_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Control__c</field>
            <value>
                <stringValue>Full Block</stringValue>
            </value>
        </inputAssignments>
        <object>Billing_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Billing_Account</name>
        <label>Create Billing Account</label>
        <locationX>842</locationX>
        <locationY>1514</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BAN_Number__c</field>
            <value>
                <elementReference>RootBanNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Account_Type__c</field>
            <value>
                <stringValue>Business Internet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Att__c</field>
            <value>
                <elementReference>Billing_Att</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Name__c</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Postal_Code__c</field>
            <value>
                <elementReference>Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street_and_no__c</field>
            <value>
                <elementReference>StreetNameAndNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Default_Billing_Account__c</field>
            <value>
                <elementReference>Default_Billing_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Email__c</field>
            <value>
                <elementReference>Invoicing_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Invoicing_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner_Control__c</field>
            <value>
                <stringValue>Full Block</stringValue>
            </value>
        </inputAssignments>
        <object>Billing_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Billing_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Accounts</name>
        <label>Get Billing Accounts</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Account_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Internet</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Billing_Account__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Number_of_Billing_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_Default_BAN</name>
        <label>Remove Default BAN</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Create_Root_Ban_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Billing_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Billing_Account_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Office</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Default_Billing_Account__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Billing_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_existing_Default_BAN</name>
        <label>Remove existing Default BAN</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_new_default_BAN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Billing_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>bb048295-9a9c-49bc-83af-a7836bd7b71c.Id</stringValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Account_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home Office</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Default_Billing_Account__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Billing_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_new_default_BAN</name>
        <label>Update new default BAN</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <inputReference>ChangedBAN</inputReference>
    </recordUpdates>
    <screens>
        <name>Billing_Accounts</name>
        <label>Billing Accounts</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reset_fields</targetReference>
        </connector>
        <fields>
            <name>BANGuidance</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Label.HOBANGuidance}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Billing_Account__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Billing_Accounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Invoicing_Name_For_Portal__c&quot;,&quot;guid&quot;:&quot;column-1fe8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Invoicing Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Invoicing Name For Portal&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Default_Billing_Account__c&quot;,&quot;guid&quot;:&quot;column-4b27&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Default Billing Account&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;BAN_For_Portal__c&quot;,&quot;guid&quot;:&quot;column-8599&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;BAN&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;BAN For Portal&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Billing_Name__c&quot;,&quot;guid&quot;:&quot;column-e895&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Billing Company Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Billing_Att__c&quot;,&quot;guid&quot;:&quot;column-08c0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Billing Att.&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Billing_Street_and_no__c&quot;,&quot;guid&quot;:&quot;column-7cad&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Billing Street and No&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Billing_Postal_Code__c&quot;,&quot;guid&quot;:&quot;column-d374&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Billing Postal Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Billing_City__c&quot;,&quot;guid&quot;:&quot;column-554f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Billing City&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Billing_Country__c&quot;,&quot;guid&quot;:&quot;column-94f4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Billing Country&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 3, 3);&quot;&gt;{!ErrorMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddBillingAccount</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Select Yes if you want to add Billing Account</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BillingDataMissing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Billing_Accounts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Billing_Accounts_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoicing_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Invoicing Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Company_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Billing_Att</name>
                    <dataType>String</dataType>
                    <fieldText>Billing Att.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Invoicing_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Default_Billing_Account</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Default Billing Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Select this, if you want this billing account to be your default billing account.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Billing_Accounts_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Street Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Street_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Street Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Country</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DefaultCountryName</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SaveButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Save new Billing Account&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UserLanguage</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>da</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SaveButtonDanish</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Gem fakt. adresse&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UserLanguage</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>da</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>AddBillingAccount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Root_Ban_Errors</name>
        <label>Root Ban Errors</label>
        <locationX>1106</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorsList</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!RootBanErrors}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BanNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ChangedBAN</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billing_Account__c</objectType>
    </variables>
    <variables>
        <name>DefaultCountryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Denmark</stringValue>
        </value>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorReasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HasRootBanErrors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoOfChangedBAN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfBillingAccounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RootBanErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RootBanNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ShowError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UserLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.LanguageLocaleKey</elementReference>
        </value>
    </variables>
</Flow>
