force-app/main/default/flows/Case_Set_Product_Groups_on_Order_Fulfilment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Ace_Assignment</name>
        <label>Ace Assignment</label>
        <locationX>1320</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>AceProductGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Data_Datanet_Assignment</name>
        <label>Data &amp; Datanet Assignment</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>DataDatanetProductGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fixed_Assignment</name>
        <label>Fixed Assignment</label>
        <locationX>1056</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>FixedProductGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Home_Office_Assignment</name>
        <label>Home Office Assignment</label>
        <locationX>792</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>HomeOfficeProductGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mobile_Assignment</name>
        <label>Mobile Assignment</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>MobileProductGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VAS_Assignment</name>
        <label>VAS Assignment</label>
        <locationX>1584</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>VASProductGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Product_Group_Check</name>
        <label>Product Group Check</label>
        <locationX>1056</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Quote_Lines.SBQQ__Product__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mobile_Assignment</targetReference>
            </connector>
            <label>Mobile</label>
        </rules>
        <rules>
            <name>Data_Datanet</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Quote_Lines.SBQQ__Product__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Quote_Lines.SBQQ__Product__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Datanet_Assignment</targetReference>
            </connector>
            <label>Data &amp; Datanet</label>
        </rules>
        <rules>
            <name>Home_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Quote_Lines.SBQQ__Product__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Home_Office_Assignment</targetReference>
            </connector>
            <label>Home Office</label>
        </rules>
        <rules>
            <name>Fixed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Quote_Lines.SBQQ__Product__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fixed_Assignment</targetReference>
            </connector>
            <label>Fixed</label>
        </rules>
        <rules>
            <name>Ace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Quote_Lines.SBQQ__Product__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ace_Assignment</targetReference>
            </connector>
            <label>Ace</label>
        </rules>
        <rules>
            <name>VAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Quote_Lines.SBQQ__Product__r.ProductCode</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VAS_Assignment</targetReference>
            </connector>
            <label>VAS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - Set Product Groups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Set Product Groups on Order Fulfilment</label>
    <loops>
        <name>Loop_through_Quote_Lines</name>
        <label>Loop through Quote Lines</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Group_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <inputAssignments>
            <field>Product_Group_ACE__c</field>
            <value>
                <elementReference>AceProductGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group_Data_Datanet__c</field>
            <value>
                <elementReference>DataDatanetProductGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group_Fixed__c</field>
            <value>
                <elementReference>FixedProductGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group_Home_Office__c</field>
            <value>
                <elementReference>HomeOfficeProductGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group_Mobile__c</field>
            <value>
                <elementReference>MobileProductGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group_VAS__c</field>
            <value>
                <elementReference>VASProductGroup</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
        <filterFormula>AND({!$Record.RecordType.DeveloperName} = &apos;Order_Fulfilment_Case&apos;, TEXT({!$Record.Status}) = &apos;Closed&apos;, TEXT({!$Record__Prior.Status}) != &apos;Closed&apos;)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AceProductGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DataDatanetProductGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FixedProductGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HomeOfficeProductGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MobileProductGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VASProductGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
