force-app/main/default/flows/Case_Business_Internet_Task_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Data_Collection_Task_Created</name>
        <label>Data Collection Task Created</label>
        <locationX>182</locationX>
        <locationY>3011</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Home_Office_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>DataCollectionTaskCreated</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Data Collection Task Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>HeadOfDeliveryQueueCollectionVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Implementation_Period_Task_Created</name>
        <label>Implementation Period Task Created</label>
        <locationX>336</locationX>
        <locationY>2411</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Data_Collection_Help_Needed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Home_Office_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ImplementationPeriodTaskCreated</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Implementation Period Task Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>HeadOfDeliveryQueueCollectionVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Number_Of_Connections_Changed_Notification</name>
        <label>Number Of Connections Changed Notification</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Implementation_Period_Task_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Home_Office_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NumberOfConnectionsChanged</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Number of Connections changed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>HeadOfDeliveryQueueCollectionVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Workday</name>
        <label>Add Workday</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>NumberOfWorkDays</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Holidays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Queue_Id_in_Collection_Variable</name>
        <label>Save Queue Id in Collection Variable</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>HeadOfDeliveryQueueCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Head_Of_Delivery_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Home_Office_Notification_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Activity_Date_Within_Range</name>
        <label>Activity Date Within Range?</label>
        <locationX>534</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Loop_Holidays</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Within_Range</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Holidays.ActivityDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Holidays.ActivityDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>DueDateCalculated</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Workday</targetReference>
            </connector>
            <label>Within Range</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_Collection_Help_Needed</name>
        <label>Data Collection Help Needed?</label>
        <locationX>314</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Open_Data_Collection_Task_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Need_Help</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Need_Help_With_Data_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Collection_Task_Exists</targetReference>
            </connector>
            <label>Need Help</label>
        </rules>
    </decisions>
    <decisions>
        <name>Data_Collection_Task_Exists</name>
        <label>Data Collection Task Exists</label>
        <locationX>50</locationX>
        <locationY>2795</locationY>
        <defaultConnector>
            <targetReference>Create_Data_Collection_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Data_Collection_Task_Already_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Data_Collection_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Data Collection Task Already Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Implementation_Period</name>
        <label>Implementation Period</label>
        <locationX>468</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Data_Collection_Help_Needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NonStandard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_No_of_Connections__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Implementation_Period_Task</targetReference>
            </connector>
            <label>Non-Standard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Implementation_Period_Task_Status</name>
        <label>Implementation Period Task Status</label>
        <locationX>314</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Implementation_Period</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Implementation_Period_Task_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Implementation_Period_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Collection_Help_Needed</targetReference>
            </connector>
            <label>Implementation Period Task Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Connections_changed</name>
        <label>Number of Connections changed?</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Implementation_Period_Task_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Number_of_Connections_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Expected_No_of_Connections__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Implementation_Period_Task</targetReference>
            </connector>
            <label>Number of Connections is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Data_Collection_Task_Exists</name>
        <label>Open Data Collection Task Exists?</label>
        <locationX>578</locationX>
        <locationY>2795</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Data_Collection_Task_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Data_Collection_Task.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Data_Collection_Task.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Data_Collection_Task</targetReference>
            </connector>
            <label>Open Data Collection Task Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDateCalculated</name>
        <dataType>Date</dataType>
        <expression>CASE( 
  MOD( {!$Flow.CurrentDate} - DATE( 1900, 1, 7 ), 7 ),
  3, {!$Flow.CurrentDate} + 2 + {!NumberOfWorkDays},
  4, {!$Flow.CurrentDate} + 2 + {!NumberOfWorkDays},
  5, {!$Flow.CurrentDate} + 2 + {!NumberOfWorkDays},
  6, {!$Flow.CurrentDate} + 1 + {!NumberOfWorkDays},
  {!$Flow.CurrentDate} + {!NumberOfWorkDays}
)</expression>
    </formulas>
    <formulas>
        <name>HeadOfDeliveryQueueId</name>
        <dataType>String</dataType>
        <expression>{!Get_Head_Of_Delivery_Queue.Id}</expression>
    </formulas>
    <formulas>
        <name>NumberOfConnectionsOldAndNew</name>
        <dataType>String</dataType>
        <expression>&quot;Number of Connections changed from&quot; + TEXT({!$Record__Prior.Expected_No_of_Connections__c}) + &quot;to&quot; + TEXT({!$Record.Expected_No_of_Connections__c})</expression>
    </formulas>
    <formulas>
        <name>ReminderDate</name>
        <dataType>Date</dataType>
        <expression>{!DueDateCalculated} -1</expression>
    </formulas>
    <interviewLabel>Case: Business Internet Task Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Business Internet Task Automations</label>
    <loops>
        <name>Loop_Holidays</name>
        <label>Loop Holidays</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Holidays</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Activity_Date_Within_Range</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Implementation_Period_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Data_Collection_Task</name>
        <label>Create Data Collection Task</label>
        <locationX>182</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>Data_Collection_Task_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateCalculated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This is a description</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Head_Of_Delivery_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>ReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <stringValue>Business Internet Data Collection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Data collection help for Business Internet request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Implementation_Period_Task</name>
        <label>Create Implementation Period Task</label>
        <locationX>336</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>Clear_Implementation_Period</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateCalculated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This is a description</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Head_Of_Delivery_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>ReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <stringValue>Business Internet Implementation Period</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Please provide implementation period for Business Internet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Data_Collection_Task</name>
        <label>Get Data Collection Task</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_Connections_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Internet Data Collection</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Head_Of_Delivery_Queue</name>
        <label>Get Head Of Delivery Queue</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Queue_Id_in_Collection_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Head_of_Delivery</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Holidays</name>
        <label>Get Holidays</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Holidays</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Holiday</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Home_Office_Notification_Type</name>
        <label>Get Home Office Notification Type</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Holidays</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home_Office_Opportunity_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Implementation_Period_Task</name>
        <label>Get Implementation Period Task</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Data_Collection_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Internet Implementation Period</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Implementation_Period</name>
        <label>Clear Implementation Period</label>
        <locationX>336</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Implementation_Period_Task_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Implementation_Period__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Data_Collection_Task</name>
        <label>Close Data Collection Task</label>
        <locationX>446</locationX>
        <locationY>2903</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Collection_Task.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Data_Collection_Task</name>
        <label>Update Data Collection Task</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Number_Of_Connections_Changed_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Data_Collection_Task.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateCalculated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NumberOfConnectionsOldAndNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>ReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Implementation_Period_Task</name>
        <label>Update Implementation Period Task</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Update_Data_Collection_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Implementation_Period_Task.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateCalculated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NumberOfConnectionsOldAndNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>ReminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Head_Of_Delivery_Queue</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Home office</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Internet</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121i000000Trq0AAC</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DataCollectionTaskCreated</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A data collection task has been created</text>
    </textTemplates>
    <textTemplates>
        <name>ImplementationPeriodTaskCreated</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>An Implementation Period task has been created on Opportunity {!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>NumberOfConnectionsChanged</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Number of Connections has been changed on Case {!$Record.Id}. 
Old Value: {!$Record__Prior.Expected_No_of_Connections__c}
New Value: {!$Record.Expected_No_of_Connections__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ProjectManagerTaskCreated</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A project manager task has been created</text>
    </textTemplates>
    <variables>
        <name>HeadOfDeliveryQueueCollectionVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HeadofDeliveryQueueIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Head_Of_Delivery_Queue.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>HolidayCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfWorkDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
</Flow>
