force-app/main/default/flows/Case_Customer_Service_Close_Milestone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Case - Customer Service - Close Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Status Change - Customer Service - Close Milestone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Close_Milestone</name>
        <label>Close Milestone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Case__r.CaseMilestones</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Open_Milestone</name>
        <label>Close Open Milestone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CompletionDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CompletionDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Case__r.CaseMilestones</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Closure_Date</name>
        <label>Update Case Closure Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Close_Milestone</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Closure_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Case__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case_Closure_Date</targetReference>
        </connector>
        <filterFormula>OR(
{!$Record.Status_Name__c} = &apos;Closed&apos;,
ISPICKVAL({!$Record.Case__r.Status}, &apos;Closed&apos;)
)</filterFormula>
        <object>Case_Status_Change__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Close_Open_Milestones_after_1_minute</name>
            <connector>
                <targetReference>Close_Open_Milestone</targetReference>
            </connector>
            <label>Close Open Milestones after 1 minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Set_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
