force-app/main/default/flows/Case_Create_Team_Members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Team_Member</name>
        <label>Assign Case Team Member</label>
        <locationX>632</locationX>
        <locationY>605</locationY>
        <assignmentItems>
            <assignToReference>NewCaseTeamMember.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseTeamMember.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_though_Opportunity_Team_Members.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCaseTeamMember.TeamRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Team_Role.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Team_Members_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Team_Members_to_create</name>
        <label>Assign Case Team Members to create</label>
        <locationX>850</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>NewCaseTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewCaseTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_though_Opportunity_Team_Members</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Case Create Team Members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Create Team Members</label>
    <loops>
        <name>Loop_though_Opportunity_Team_Members</name>
        <label>Loop though Opportunity Team Members</label>
        <locationX>631</locationX>
        <locationY>389</locationY>
        <collectionReference>Get_Opportunity_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Case_Team_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Case_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Team_Members</name>
        <label>Create Case Team Members</label>
        <locationX>859</locationX>
        <locationY>222</locationY>
        <inputReference>NewCaseTeamMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Team_Role</name>
        <label>Get Case Team Role</label>
        <locationX>328</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Technical_Decision_Maker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Team_Members</name>
        <label>Get Opportunity Team Members</label>
        <locationX>176</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Team_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Sales Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Technical_Decision_Maker</name>
        <label>Get Technical Decision Maker</label>
        <locationX>482</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Decision Maker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>631</locationX>
        <locationY>217</locationY>
        <connector>
            <targetReference>Loop_though_Opportunity_Team_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Technical_Decision_Maker.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity_Team_Members</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>NewCaseTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
