force-app/main/default/flows/Contract_Copy_Extra_Special_Terms_from_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Any_data_in_Quote_Special_Term</name>
        <label>Any data in Quote Special Term ?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Special_Term__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Special_Term__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Extra_Special_Term</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Migrated from the: Copy Extra Special Terms from Quote workflow rule
Workflow rule description: This rule copies the field &quot;extra special terms&quot; from the quote when a new contract is created.</description>
    <environments>Default</environments>
    <interviewLabel>Contract - Copy Extra Special Terms from Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Copy Extra Special Terms from Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Extra_Special_Term</name>
        <label>Update Extra Special Term</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Extra_special_terms__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Special_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Any_data_in_Quote_Special_Term</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
