force-app/main/default/flows/Create_Activation_Lines_Home_Office.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Save_Activation_Line_data</name>
        <label>Save Activation Line data</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NewActivationLine.Activation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationLine.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationLine.Employee_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LL_Loop.Employee_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationLine.Installation_address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LL_Loop.Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationLine.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationLine.Location_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LL_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationLine.Home_Office_OTC_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LL_Loop.OTC_product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationLine.Home_Office_VAS_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LL_Loop.VAS_product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationLine.Manual_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LL_Loop.Subscription_Product_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewActivationLine.Home_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Activation_Line_data_in_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Activation_Line_data_in_collection</name>
        <label>Save Activation Line data in collection</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NewActivationLineCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewActivationLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LL_Loop</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Activation Lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation Lines create for Home Office</label>
    <loops>
        <name>LL_Loop</name>
        <label>LL Loop</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Locations_Lines_from_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Save_Activation_Line_data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Activation_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Activation_Line</name>
        <label>Create Activation Line</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputReference>NewActivationLineCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Locations_Lines_from_Opportunity</name>
        <label>Get Locations Lines from Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Activation_Line_RecordType</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subscription_product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subscription_product__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Locations_Lines_from_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Activation_Line_RecordType</name>
        <label>Get Activation Line RecordType</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>LL_Loop</targetReference>
        </connector>
        <flowName>Recordtype_Get_RecordType_Subflow</flowName>
        <inputAssignments>
            <name>DeveloperName</name>
            <value>
                <stringValue>Home_office_activation_line</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Object</name>
            <value>
                <stringValue>Activation_line__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordType</assignToReference>
            <name>RecordTypeRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ActivationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewActivationLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>NewActivationLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
