force-app/main/default/flows/Create_New_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_To_Quote</name>
        <label>Redirect To Quote</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_from_screen</name>
        <label>Assign from screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionTermVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubscriptionTerm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Draft_Quote_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_End_Date_from_Contract</name>
        <label>Assign Quote End Date from Contract</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>QuoteEndDateVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Master_Contract.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Subscription_Term_for_Amendment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QuoteId</name>
        <label>Assign QuoteId</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_To_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subscription_Term_for_Amendment</name>
        <label>Assign Subscription Term for Amendment</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionTermVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmendmentSubscriptionTerm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Draft_Quote_Record_Type</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Amendment_Quote</name>
        <label>Amendment Quote?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_from_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Master_Contract__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Master_Contract</targetReference>
            </connector>
            <label>Amendment</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BillingFrequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__BillingFrequency__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentTerms</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__PaymentTerms__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AmendmentSubscriptionTerm</name>
        <dataType>Number</dataType>
        <expression>((YEAR({!QuoteEndDateVar}) - YEAR({!StartDate}))*12) + (MONTH({!QuoteEndDateVar}) - MONTH({!StartDate})) + 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>BillingFrequencyFormula</name>
        <dataType>String</dataType>
        <expression>IF(INCLUDES({!recordId.Product_s_in_scope__c}, &quot;Erhvervsinternet&quot;), &quot;kvartalsvis.&quot;, &quot;månedsvis.&quot;)</expression>
    </formulas>
    <formulas>
        <name>DefaultSubscriptionTermFormula</name>
        <dataType>Number</dataType>
        <expression>IF(INCLUDES({!recordId.Product_s_in_scope__c}, &apos;Erhvervsinternet&apos;), 12, 36)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SubscriptionTermReadOnlyFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(INCLUDES({!recordId.Product_s_in_scope__c}, &apos;Erhvervsinternet&apos;), TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Create New Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Quote</name>
        <label>Create New Quote</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Get_New_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Draft_Quote_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>AccountScreenLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <elementReference>BillingFrequencyScreenComponent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__EndDate__c</field>
            <value>
                <elementReference>QuoteEndDateVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__MasterContract__c</field>
            <value>
                <elementReference>recordId.Master_Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>OpportunityScreenLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaperSize__c</field>
            <value>
                <stringValue>A4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaymentTerms__c</field>
            <value>
                <elementReference>PaymentTermsScreenComponent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <stringValue>01s1i000001LXqL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <elementReference>SubscriptionTermVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Type__c</field>
            <value>
                <elementReference>recordId.Type</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Draft_Quote_Record_Type</name>
        <label>Get Draft Quote Record Type</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SBQQ__Quote__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft_Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Master_Contract</name>
        <label>Get Master Contract</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Quote_End_Date_from_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Master_Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Quote</name>
        <label>Get New Quote</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_QuoteId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Quote</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>NewQuote</name>
        <label>New Quote</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Amendment_Quote</targetReference>
        </connector>
        <fields>
            <name>NewQuote_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NewQuote_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountScreenLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SBQQ__Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>OpportunityScreenLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SBQQ__Opportunity2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>StartDate</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Contract Start date for subscriptions in this quote.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NewQuote_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubscriptionTerm</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>DefaultSubscriptionTermFormula</elementReference>
                    </defaultValue>
                    <fieldText>Subscription Term</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Length of Quote - Can be 12, 24, 36 (default), 48, 60 months. For Erhvervsinternet, only 12 month subscription term is allowed. &lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <elementReference>SubscriptionTermReadOnlyFormula</elementReference>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Only the Subscription Terms 12, 24, 36, 48 or 60 can be chosen&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR({!SubscriptionTerm}=12,{!SubscriptionTerm}=24,{!SubscriptionTerm}=36,{!SubscriptionTerm}=48,{!SubscriptionTerm}=60)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId.Master_Contract__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PaymentTermsScreenComponent</name>
                    <choiceReferences>PaymentTerms</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>30</stringValue>
                    </defaultValue>
                    <fieldText>Payment Terms</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Terms (in days) that govern payment of the items in this quote. Default is 30 days. 45 days will have to be approved by Bid Team - if 60 days or above is chosen then an approval by Sergel is required&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>BillingFrequencyScreenComponent</name>
                    <choiceReferences>BillingFrequency</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BillingFrequencyFormula</elementReference>
                    </defaultValue>
                    <fieldText>Billing Frequency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Defines the billing frequency. Defaults to &apos;månedsvis&apos; - if &apos;kvartalsvis&apos; is chosen it requires an approval by the bid team&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NewQuote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteEndDateVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SubscriptionTermVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>36.0</numberValue>
        </value>
    </variables>
</Flow>
