force-app/main/default/flows/CS_Automatic_case_receipt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Account_Owner_Notification</name>
        <label>Account Owner Notification</label>
        <locationX>451</locationX>
        <locationY>863</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>myRule_5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AccountOwners</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New case has been created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBodyAccountOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Get_Single_Subscription</name>
        <label>Get Single Subscription</label>
        <locationX>2294</locationX>
        <locationY>3791</locationY>
        <actionName>GetFirst</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Entitlement</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>SBQQ__Subscription__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputMember</typeName>
            <typeValue>SBQQ__Subscription__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Subscriptions</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetFirst</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Internal_Support_Notification</name>
        <label>Internal Support Notification</label>
        <locationX>451</locationX>
        <locationY>1379</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Whitelist_Email_to_Case_Addresses</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>InternalSupportGroupId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New case has been created, but Account Owner is deactivated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBodyInternalSupport</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_11_A1</name>
        <label>Send confirmation</label>
        <locationX>1106</locationX>
        <locationY>2003</locationY>
        <actionName>Case.Send_email_receipt_to_customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_11_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Send_email_receipt_to_customer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_11_A2</name>
        <label>Post to chatter</label>
        <locationX>1106</locationX>
        <locationY>2111</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_11_A3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>This case was created based on an email from the police</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_13_A1</name>
        <label>Send confirmation</label>
        <locationX>1370</locationX>
        <locationY>2111</locationY>
        <actionName>Case.Send_email_receipt_to_customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Send_email_receipt_to_customer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_15_A1</name>
        <label>Post Whitelisted info</label>
        <locationX>1634</locationX>
        <locationY>2219</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>This case was created based on an email from whitelisted email addresses</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_17_A1</name>
        <label>Send confirmation email</label>
        <locationX>1898</locationX>
        <locationY>2327</locationY>
        <actionName>Case.Send_email_receipt_to_customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_17_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Send_email_receipt_to_customer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_17_A2</name>
        <label>Post success</label>
        <locationX>1898</locationX>
        <locationY>2435</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_17_A3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>This case was accepted because it came from an consent withdrawn email from the customer.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_17_A3</name>
        <label>Post confirm</label>
        <locationX>1898</locationX>
        <locationY>2543</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Confirmation sent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>Post Reject</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>This case was rejected because: 1) the email came from an auto reply email</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_21_A1</name>
        <label>Post success</label>
        <locationX>3157</locationX>
        <locationY>5291</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_21_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>This case was created manually and a receipt was sent to the email of the related contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_21_A2</name>
        <label>Send manual receipt</label>
        <locationX>3157</locationX>
        <locationY>5399</locationY>
        <actionName>Case.ManualCase_Send_email_receipt_to_customer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.ManualCase_Send_email_receipt_to_customer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_7_A1</name>
        <label>Send confirmation email</label>
        <locationX>578</locationX>
        <locationY>1787</locationY>
        <actionName>Case.Send_email_receipt_to_customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Send_email_receipt_to_customer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_7_A2</name>
        <label>Post success</label>
        <locationX>578</locationX>
        <locationY>1895</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_7_A3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>This case was accepted because it came from an email belonging to a contact who is marked as entitled to support:</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_7_A3</name>
        <label>Post Confirm</label>
        <locationX>578</locationX>
        <locationY>2003</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Confirmation sent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_9_A1</name>
        <label>Send confirmation</label>
        <locationX>842</locationX>
        <locationY>1895</locationY>
        <actionName>Case.Send_email_receipt_to_customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_9_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Send_email_receipt_to_customer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_9_A2</name>
        <label>Post to Chatter</label>
        <locationX>842</locationX>
        <locationY>2003</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>This case was created based on an email sent to fixed-enterprise@telia.dk (priority FIXED).</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_confirmation_email</name>
        <label>Send confirmation email</label>
        <locationX>2294</locationX>
        <locationY>4607</locationY>
        <actionName>Case.Send_email_receipt_to_customer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Send_email_receipt_to_customer</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Id_to_Var</name>
        <label>Assign Account Id to Var</label>
        <locationX>2712</locationX>
        <locationY>2867</locationY>
        <assignmentItems>
            <assignToReference>CompanyDomainAccountIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Company_Domains.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Company_Domains</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_MS_Subscriptions_to_Var</name>
        <label>Assign Count of MS Subscriptions to Var</label>
        <locationX>2624</locationX>
        <locationY>3575</locationY>
        <assignmentItems>
            <assignToReference>CountOfActiveManagedServicesSubscriptions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Subscriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_active_MS_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Domains</name>
        <label>Assign Domains</label>
        <locationX>2624</locationX>
        <locationY>2651</locationY>
        <assignmentItems>
            <assignToReference>numberofDomains</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Company_Domains</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Company_Domains</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EntitlementId</name>
        <label>Assign EntitlementId</label>
        <locationX>2162</locationX>
        <locationY>4115</locationY>
        <assignmentItems>
            <assignToReference>EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Entitlement.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_has_Account_relation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Id_to_Var</name>
        <label>Assign Group Id to Var</label>
        <locationX>451</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>InternalSupportGroupId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Internal_Support_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_Support_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Norlys_Product_Id_to_Var</name>
        <label>Assign Norlys Product Id to Var</label>
        <locationX>2712</locationX>
        <locationY>3275</locationY>
        <assignmentItems>
            <assignToReference>ManagedServicesProductIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Id_to_Var</name>
        <label>Assign User Id to Var</label>
        <locationX>451</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AccountOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account_Owner_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Owner_Notification</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TeliaFullManagedServiceMediumTeliaProductId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TMSFULLM</stringValue>
        </value>
    </constants>
    <constants>
        <name>TeliaFullManagedServiceSmallTeliaProductId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TMSFULLS</stringValue>
        </value>
    </constants>
    <constants>
        <name>TeliaManagedServiceMobilTeliaProductId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TMSMOBILE</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Case_has_Account_relation</name>
        <label>Case has Account relation</label>
        <locationX>2294</locationX>
        <locationY>4307</locationY>
        <defaultConnector>
            <targetReference>Update_Case_with_Managed_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_missing_or_mismatch</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Single_Subscription.outputMember.SBQQ__Account__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_with_Account_and_Managed_Services</targetReference>
            </connector>
            <label>Account missing or mismatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Domain_Found</name>
        <label>Company Domain Found?</label>
        <locationX>2877</locationX>
        <locationY>2543</locationY>
        <defaultConnector>
            <targetReference>myRule_19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Company_Domain_Is_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Company_Domains</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Domains</targetReference>
            </connector>
            <label>Company Domain Is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consent_Withdraw</name>
        <label>Consent Withdraw</label>
        <locationX>2494</locationX>
        <locationY>2219</locationY>
        <defaultConnector>
            <targetReference>Supplied_Email_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Consent Withdraw</defaultConnectorLabel>
        <rules>
            <name>TRUE_Consent_Withdraw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Afmeld nyhedsbrev fra Norlys Business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service_Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>TRUE_Consent Withdraw</label>
        </rules>
    </decisions>
    <decisions>
        <name>Entitlement_found_for_Account</name>
        <label>Entitlement found for Account?</label>
        <locationX>2294</locationX>
        <locationY>4007</locationY>
        <defaultConnector>
            <targetReference>Case_has_Account_relation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entitlement_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entitlement.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EntitlementId</targetReference>
            </connector>
            <label>Entitlement Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1</name>
        <label>AutoReply check</label>
        <locationX>316</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_AutoReply check</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>3 AND 4 AND (1 OR 2 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR (14 AND 15 AND 16))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Automatic reply:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Autosvar:</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Out of the office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Undeliverable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ditt svar gick inte fram</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Vi har nu registreret din sag</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Din forespørgsel har fået tildelt SagsID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>RE: Imens du venter...?: Vi har dig ikke registreret som telefoniansvarlig</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@connection.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>omc@globalconnect.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Vi har nu oprettet din sag med sagsnr.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>servicedesk@dagrofa.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Kære data-enterprise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Servicedesk kan nu oplyse, at din sag med sagsnummer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_AutoReply check</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_19</name>
        <label>Non entitled contact + email sourced</label>
        <locationX>3091</locationX>
        <locationY>5075</locationY>
        <defaultConnector>
            <targetReference>myRule_21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Non entitled contact + email sourced</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_19</name>
            <conditionLogic>1 and 2 and 3 and 7 and (4 or (5 and 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Entitlement_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.UC_Admin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>np@kontakt.norlys.dk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_should_be_rejected</targetReference>
            </connector>
            <label>TRUE_Non entitled contact + email sourced</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_21</name>
        <label>Send email to contact - manually created case</label>
        <locationX>3289</locationX>
        <locationY>5183</locationY>
        <defaultConnectorLabel>FALSE_Send email to contact - manually created case</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_email_receipt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>TRUE_Send email to contact - manually created case</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>CS Cases with active Account Owner</label>
        <locationX>583</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CS Cases with active Account Owner</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Owner_Id</targetReference>
            </connector>
            <label>TRUE_CS Cases with active Account Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>CS Cases with Inactive Account Owner</label>
        <locationX>583</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Whitelist_Email_to_Case_Addresses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_CS Cases with Inactive Account Owner</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Internal_Support_Group</targetReference>
            </connector>
            <label>TRUE_CS Cases with Inactive Account Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Entitled contact + email sourced</label>
        <locationX>852</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Whitelist_Fixed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Entitled contact + email sourced</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>(1 OR 4) AND (2 OR 5) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Entitlement_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.UC_Admin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE_Entitled contact + email sourced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_active_MS_Subscriptions</name>
        <label>Number of active MS Subscriptions</label>
        <locationX>2624</locationX>
        <locationY>3683</locationY>
        <defaultConnector>
            <targetReference>myRule_19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exactly_1_MS_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfActiveManagedServicesSubscriptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Subscription</targetReference>
            </connector>
            <label>Exactly 1 MS Subscription</label>
        </rules>
        <rules>
            <name>More_than_1_MS_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfActiveManagedServicesSubscriptions</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_Case_with_Managed_Services</targetReference>
            </connector>
            <label>More than 1 MS Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Supplied_Email_Exists</name>
        <label>Supplied Email Exists?</label>
        <locationX>3091</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>myRule_19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Supplied_Email_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Company_Domains</targetReference>
            </connector>
            <label>Supplied Email Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Whitelist a selection of Email-to-case addresses without sending confirmation email.</description>
        <name>Whitelist_Email_to_Case_Addresses</name>
        <label>Whitelist Email-to-Case Addresses</label>
        <locationX>583</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Whitelisted_email</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre_Sale_SAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SERVICE_Grossist_Fix</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SERVICE_Cross_Border</stringValue>
                </rightValue>
            </conditions>
            <label>Whitelisted email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whitelist_Fixed</name>
        <label>Whitelist Fixed</label>
        <locationX>1126</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Whitelist_Politiet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Whitelist Fixed</defaultConnectorLabel>
        <rules>
            <name>TRUE_Whitelist_Fixed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>TRUE_Whitelist Fixed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whitelist_Politiet</name>
        <label>Whitelist - Politiet</label>
        <locationX>1411</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Whitelist_Sergel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Whitelist - Politiet</defaultConnectorLabel>
        <rules>
            <name>TRUE_Whitelist_Politiet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@politiet.dk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>TRUE_Whitelist - Politiet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whitelist_Sergel</name>
        <label>Whitelist Sergel</label>
        <locationX>1717</locationX>
        <locationY>2003</locationY>
        <defaultConnector>
            <targetReference>Whitelist_telenor_3_tdc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Whitelist Sergel</defaultConnectorLabel>
        <rules>
            <name>TRUE_Whitelist_Sergel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@sergel.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>TRUE_Whitelist Sergel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Whitelist_telenor_3_tdc</name>
        <label>Whitelist telenor,3,tdc</label>
        <locationX>2064</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Consent_Withdraw</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Whitelist telenor,3,tdc</defaultConnectorLabel>
        <rules>
            <name>TRUE_Whitelist_telenor_3_tdc</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Service_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@3.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@telenor.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@tdc.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sbbu_erhverv.mobil@norlys.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fokusoperation.mobil@norlys.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>udv-team.mobil@norlys.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue> datanet-offer.mobil@norlys.dk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>TRUE_Whitelist telenor,3,tdc</label>
        </rules>
    </decisions>
    <description>Migrated from the CS: Automatic case receipt process using multiple criteria.
Sends an email receipt when a case is created. For entitled contacts a confirmation template is used. For non-entitled contacts a reject template is used</description>
    <environments>Default</environments>
    <formulas>
        <name>emailDomain</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.SuppliedEmail}, LEFT({!$Record.SuppliedEmail}, FIND(&quot;@&quot;, {!$Record.SuppliedEmail})), NULL)</expression>
    </formulas>
    <formulas>
        <name>Get15DigitId</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_Products.Id}, 15)</expression>
    </formulas>
    <formulas>
        <name>notificationBodyAccountOwner</name>
        <dataType>String</dataType>
        <expression>{!$Record.CaseNumber} &amp; &quot; has been created for &quot; &amp; {!$Record.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>notificationBodyInternalSupport</name>
        <dataType>String</dataType>
        <expression>{!$Record.CaseNumber} &amp; &quot; has been created for &quot; &amp; {!$Record.Account.Name} &amp; &quot; Account Owner is deactivated: &quot; &amp; {!$Record.Account.Owner.Username}</expression>
    </formulas>
    <interviewLabel>Case - Customer Service - Whitelist Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Customer Service - Whitelist Flow</label>
    <loops>
        <name>Loop_Company_Domains</name>
        <label>Loop Company Domains</label>
        <locationX>2624</locationX>
        <locationY>2759</locationY>
        <collectionReference>Get_Company_Domains</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Account_Id_to_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Managed_Services_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Products</name>
        <label>Loop Products</label>
        <locationX>2624</locationX>
        <locationY>3167</locationY>
        <collectionReference>Get_Managed_Services_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Norlys_Product_Id_to_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Subscriptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Owner_Id</name>
        <label>Get Account Owner Id</label>
        <locationX>451</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_Id_to_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Company_Domains</name>
        <label>Get Company Domains</label>
        <locationX>2877</locationX>
        <locationY>2435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Company_Domain_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Domain__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>emailDomain</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Managed Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Company_Domain__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement</name>
        <label>Get Entitlement</label>
        <locationX>2294</locationX>
        <locationY>3899</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entitlement_found_for_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Single_Subscription.outputMember.SBQQ__Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Internal_Support_Group</name>
        <label>Get Internal Support Group</label>
        <locationX>451</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Group_Id_to_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal_Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Managed_Services_Products</name>
        <label>Get Managed Services Products</label>
        <locationX>2624</locationX>
        <locationY>3059</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ProductAPI_Telia_Product_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TMSFULLS</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductAPI_Telia_Product_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TMSMOBILE</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductAPI_Telia_Product_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TMSFULLM</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductAPI_Telia_Product_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TMSBBAND</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Type</name>
        <label>Get Notification Type</label>
        <locationX>316</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_notifications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscriptions</name>
        <label>Get Subscriptions</label>
        <locationX>2624</locationX>
        <locationY>3467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_of_MS_Subscriptions_to_Var</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>In</operator>
            <value>
                <elementReference>CompanyDomainAccountIdCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ManagedServicesProductIdCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>myRule_11_A3</name>
        <label>Set account to Rigspolitiet</label>
        <locationX>1106</locationX>
        <locationY>2219</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0011i0000076qllAAA</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A2</name>
        <label>Update Account as Sergel</label>
        <locationX>1370</locationX>
        <locationY>2219</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0011i00000AltgEAAR</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A2</name>
        <label>Close Case</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Close_reason__c</field>
            <value>
                <stringValue>Case dismissed (customer not entitled)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_Account_and_Managed_Services</name>
        <label>Update Case with Account and Managed Services</label>
        <locationX>2162</locationX>
        <locationY>4415</locationY>
        <connector>
            <targetReference>Send_confirmation_email</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Single_Subscription.outputMember.SBQQ__Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Managed_Services__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_Managed_Services</name>
        <label>Update Case with Managed Services</label>
        <locationX>2426</locationX>
        <locationY>4415</locationY>
        <connector>
            <targetReference>Send_confirmation_email</targetReference>
        </connector>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Managed_Services__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>190</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Notification_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_if_should_be_rejected</name>
        <label>Check if should be rejected</label>
        <locationX>2893</locationX>
        <locationY>5183</locationY>
        <flowName>Check_Multiple_Entitled_Contacts</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EmailAddress</name>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <triggerOrder>300</triggerOrder>
    <variables>
        <name>AccountDomainCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Domain__c</objectType>
    </variables>
    <variables>
        <name>AccountIdfromSingleSubscription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>There should only be one value but it is a collection due to reasons</description>
        <name>AccountOwners</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CompanyDomainAccountIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CountOfActiveManagedServicesSubscriptions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>emailDomain2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InternalSupportGroupId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManagedServicesProductIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManagedServicesTeliaProductIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numberofDomains</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
