force-app/main/default/flows/CS_Follow_up_reminder_for_redirected_cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myWaitEvent_myWait_myRule_1_event_0_SA1</name>
        <label>5 days in redirected status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Case_Status_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>caseOwners</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>5 days redirected reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody5days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myWaitEvent_myWait_myRule_1_event_1_SA1</name>
        <label>10 days in redirected status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Case_Status_Notification_2.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>caseOwners</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>10 days redirected reminder</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notificationBody10days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Case__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_User_to_Variable</name>
        <label>Assign User to Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Case__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_SA1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_to_Variable_2</name>
        <label>Assign User to Variable 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>caseOwners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Case__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_1_SA1</targetReference>
        </connector>
    </assignments>
    <description>Migrated from the CS: Follow up reminder for redirected cases process using Redirected? criteria.
As a Service Agent​  I want to get a reminder to follow up on redirected cases​  So that I can follow up with the team to whom I have redirected the case​. Acceptance criteria​  Get an in-app notitification reminder after 5 and 10  days if the case is not closed.​

Related Flows in the solution:

Case - Customer Service - Redirect Case

Case: Customer Service - Change case status based on field updates</description>
    <environments>Default</environments>
    <formulas>
        <name>notificationBody10days</name>
        <dataType>String</dataType>
        <expression>&quot;The case: &quot; + {!$Record.Case__r.CaseNumber} + &quot;/&quot; + {!$Record.Case__r.Subject} + &quot; for &quot; + {!$Record.Case__r.Account.Name} + &quot; has been redirected for 10 days now. Time to follow up.&quot;</expression>
    </formulas>
    <formulas>
        <name>notificationBody5days</name>
        <dataType>String</dataType>
        <expression>&quot;The case: &quot; + {!$Record.Case__r.CaseNumber} + &quot;/&quot; + {!$Record.Case__r.Subject} + &quot; for &quot; + {!$Record.Case__r.Account.Name} + &quot; has been redirected for 5 days now. Time to follow up.&quot;</expression>
    </formulas>
    <interviewLabel>Case - Customer Service - Follow up reminder for redirected cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Customer Service - Follow up reminder for redirected cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Status_Notification</name>
        <label>Get Case Status Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Status_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Status_Notification_2</name>
        <label>Get Case Status Notification 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_to_Variable_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Status_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Redirected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Change_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case_Status_Change__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X5_days_redirected_reminder</name>
            <connector>
                <targetReference>Get_Case_Status_Notification</targetReference>
            </connector>
            <label>5 days redirected reminder</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Set_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X10_days_redirected_reminder</name>
            <connector>
                <targetReference>Get_Case_Status_Notification_2</targetReference>
            </connector>
            <label>10 days redirected reminder</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Set_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caseOwners</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
