force-app/main/default/flows/CS_OW_ticket_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_11_A1</name>
        <label>Resolved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_11_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_11_A2</name>
        <label>Resolved update from OW</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>myRule_11_A3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_13_A1</name>
        <label>Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_16_A1</name>
        <label>Post Assignee Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_16_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_18_A1</name>
        <label>Post Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_18_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>Notification update from OW</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML1i0000004COrGAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationUpdateOWTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationUpdateOWBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A2</name>
        <label>Inform the Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>InformTheNotificationMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_20_A1</name>
        <label>Post Exit from Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_20_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_22_A1</name>
        <label>Post Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_22_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_22_A2</name>
        <label>Reject from OW</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>myRule_22_A3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_24_A1</name>
        <label>Post Manual Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_24_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_24_A2</name>
        <label>Notification from OW</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>myRule_24_A3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_26_A1</name>
        <label>GESB_API_IncidentCreate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GESB_API_IncidentCreate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_26_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GESB_API_IncidentCreate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_26_A2</name>
        <label>Create request has been sent to One Workflow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_3_A1</name>
        <label>Inform the Ack</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>InformTheAckMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_3_A2</name>
        <label>ACK update from OW</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>myRule_3_A3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML1i0000004COrGAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>ACKUpdateOWTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ACKUpdateOWBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_7_A1</name>
        <label>GESB_API_IncidentUpdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GESB_API_IncidentUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GESB_API_IncidentUpdate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>myRule_7_A3</name>
        <label>Post Update to OW</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PostUpdateOWMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Record_OwnerId</name>
        <label>Assign Record OwnerId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OwnerIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_1_A1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myRule_1</name>
        <label>OW Error Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_OW Error Notification</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Notification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_OwnerId</targetReference>
            </connector>
            <label>TRUE_OW Error Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11</name>
        <label>OW Resolved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_OW Resolved</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>TRUE_OW Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13</name>
        <label>OW Status Ack</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_OW Status Ack</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>TRUE_OW Status Ack</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_16</name>
        <label>OW Asignee Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_OW Asignee Change</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assignee Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_16_A1</targetReference>
            </connector>
            <label>TRUE_OW Asignee Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_18</name>
        <label>OW Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_OW Pending</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_18_A1</targetReference>
            </connector>
            <label>TRUE_OW Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_20</name>
        <label>OW Exit From Pending</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_OW Exit From Pending</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exit Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_20_A1</targetReference>
            </connector>
            <label>TRUE_OW Exit From Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_22</name>
        <label>OW Reject Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_OW Reject Assignment</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>TRUE_OW Reject Assignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_24</name>
        <label>OW Manual Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_OW Manual Notification</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Notification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_24_A1</targetReference>
            </connector>
            <label>TRUE_OW Manual Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_26</name>
        <label>SF Creates to OW</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE_SF Creates to OW</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Update_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TicketId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_26_A1</targetReference>
            </connector>
            <label>TRUE_SF Creates to OW</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>OW Create Ack</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_OW Create Ack</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ack</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TicketId__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>TRUE_OW Create Ack</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>SF Updates to OW</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_SF Updates to OW</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Update_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TicketId__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ack</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE_SF Updates to OW</label>
        </rules>
    </decisions>
    <description>Migrated from the CS: OW ticket Update process using multiple criteria.
When OW system updates Oneworkflow record</description>
    <environments>Default</environments>
    <formulas>
        <name>ACKUpdateOWBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.TicketId__c}+ &apos; has been created in OW&apos;</expression>
    </formulas>
    <formulas>
        <name>ACKUpdateOWTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Case__r.CaseNumber}+&apos; has been received by OW&apos;</expression>
    </formulas>
    <formulas>
        <name>formula_1_myRule_3_A4_8253416438</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Case__r.OW_tickets__c} + 1</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_2_myRule_7_A2_1670343359</name>
        <dataType>String</dataType>
        <expression>IF( TEXT({!$Record.Update_Type__c}) = &apos;Closed&apos;, &apos;Closed&apos;, IF( TEXT({!$Record.Update_Type__c}) = &apos;Withdrawn&apos;, &apos;Withdrawn&apos;, &apos;In Progress&apos;) )</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_13_A4_7658250360</name>
        <dataType>Number</dataType>
        <expression>IF (ISPICKVAL({!$Record.Update_Type__c} , &quot;Closed&quot;), {!$Record.Case__r.OW_tickets__c}  -1 , {!$Record.Case__r.OW_tickets__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>InformTheAckMessage</name>
        <dataType>String</dataType>
        <expression>&apos;OW system has created the case in their system with the following ticketId: &apos;+ {!$Record.TicketId__c}</expression>
    </formulas>
    <formulas>
        <name>InformTheNotificationMessage</name>
        <dataType>String</dataType>
        <expression>&apos;OW system updated the case with an error notification &apos;+{!$Record.OWDescription__c}</expression>
    </formulas>
    <formulas>
        <name>NotificationUpdateOWBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.Case__r.CaseNumber} + &apos; has received a notification from OW&apos;</expression>
    </formulas>
    <formulas>
        <name>NotificationUpdateOWTitle</name>
        <dataType>String</dataType>
        <expression>{!$Record.Case__r.CaseNumber} + &apos; has been updated with an error notification from OW &apos;+ {!$Record.OWDescription__c}</expression>
    </formulas>
    <formulas>
        <name>PostUpdateOWMessage</name>
        <dataType>String</dataType>
        <expression>TEXT($Record.Update_Type__c) &amp; &quot; operation has been sent to One Workflow with the following details:&quot; &amp; BR() &amp;
$Record.Description__c &amp; BR() &amp;
TEXT($Record.ReasonForWithdrawal__c) &amp; BR() &amp;
$Record.Resolution__c &amp; &quot; - &quot; &amp; $Record.ResolutionCode__c</expression>
    </formulas>
    <label>CS: OW ticket Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_11_A3</name>
        <label>Update Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_11_A4</targetReference>
        </connector>
        <inputAssignments>
            <field>OWDescription__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Status__c</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_11_A4</name>
        <label>Update Case Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Close case</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Case__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A2</name>
        <label>If Assign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_13_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Update_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assign</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Update_Type__c</field>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A3</name>
        <label>Clear Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_13_A4</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A4</name>
        <label>Update Case OW count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OW_tickets__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OW_tickets__c</field>
            <value>
                <elementReference>formula_3_myRule_13_A4_7658250360</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Case__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_16_A2</name>
        <label>Update Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OWDescription__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_18_A2</name>
        <label>Update Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OWDescription__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Type__c</field>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A3</name>
        <label>Update Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OWDescription__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_20_A2</name>
        <label>Update Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OWDescription__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_22_A3</name>
        <label>Update Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OWDescription__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_24_A3</name>
        <label>Update Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>OWDescription__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_3_A3</name>
        <label>Update Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_3_A4</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OWDescription__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Status__c</field>
            <value>
                <stringValue>Assign</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_Type__c</field>
            <value>
                <stringValue>Assign</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_3_A4</name>
        <label>Update Case Status 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_3_A5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OW_tickets__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OW_tickets__c</field>
            <value>
                <elementReference>formula_1_myRule_3_A4_8253416438</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Redirected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Case__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_3_A5</name>
        <label>Update Case Status 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OW_tickets__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OW_tickets__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Redirected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Case__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A2</name>
        <label>Update Description</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_7_A3</targetReference>
        </connector>
        <inputAssignments>
            <field>Update_Status__c</field>
            <value>
                <elementReference>formula_2_myRule_7_A2_1670343359</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>OneWorkflow__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>OwnerIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
