force-app/main/default/flows/Email_Messsage_update_source_email_address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Incoming_Email_Routing_Address</name>
        <label>Incoming Email Routing Address</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Routing_Address</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EmailRoutingAddress.Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>datanet-offer.mobil@norlys.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmailRoutingAddress.Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>crossborder-delivery@norlys.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmailRoutingAddress.Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>grossistnp.mobil@norlys.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmailRoutingAddress.Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>sales-support@norlys.dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmailRoutingAddress.Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kundeservice.erhverv@norlys.dk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_Source</targetReference>
            </connector>
            <label>Email Routing Address</label>
        </rules>
    </decisions>
    <description>Updates the source email address on Case</description>
    <environments>Default</environments>
    <interviewLabel>Email Messsage - update source email address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Messsage - update source email address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Email_Source</name>
        <label>Update Email Source</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <elementReference>$Record.EmailRoutingAddress.Address</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Incoming_Email_Routing_Address</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
