force-app/main/default/flows/Email_Message_SLA_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Email_Template</name>
        <label>Check Email Template</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Confirmation_Voice</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Odrebekr_ftelse_nysalg_BA_og_MA_1691042091514</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ordrebekr_ftelse_Genforhandling_1693558660914</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Latest_SLA__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA Voice Order Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition_Voice_Order</targetReference>
            </connector>
            <label>Order Confirmation Voice</label>
        </rules>
        <rules>
            <name>X1st_Contact_Voice</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voice_1st_Contact_1730274241772</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Latest_SLA__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA Voice 1st Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition_Voice_1st</targetReference>
            </connector>
            <label>1st Contact Voice</label>
        </rules>
        <rules>
            <name>Completion_Email_Voice</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12) AND 13 AND 14</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genforhandling_afsluttet_Business_1637073726783</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genforhandling_VIP_VIP_1637073328457</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genforhandling_afsluttet_Premium_1637073813814</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Genforhandling_afsluttet_Excellence_1637073782887</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Velkomstmail_VIP_VIP_1618568110607</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Velkomstmail_VIP_Business_1618568351838</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Velkomstmail_Premium_1618568635231</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Velkomstmail_VIP_Excellence_1618568505715</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Velkomstmail_engelsk_VIP_VIP_1633442040163</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Velkomstmail_engelsk_Excellence_1633442083257</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Velkomstmail_engelsk_Premium_1633442103768</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Velkomstmail_engelsk_VIP_VIP_1633439596625</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Latest_SLA__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA Voice Completion Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition_Voice_Completion_Email</targetReference>
            </connector>
            <label>Completion Email Voice</label>
        </rules>
        <rules>
            <name>Order_Confirmation_Home_Office</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home_Office_Order_Confirmation_ENG_1730133271876</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FO_Home_Office_Order_Confirmation_DK_1730193472895</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home office</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition_Home_Office_Order</targetReference>
            </connector>
            <label>Order Confirmation Home Office</label>
        </rules>
        <rules>
            <name>Order_Confirmation_UC</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ordrebekr_ftelse_TPX_1691042378962</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Latest_SLA__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA UC Order Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition_UC_Order</targetReference>
            </connector>
            <label>Order Confirmation UC</label>
        </rules>
        <rules>
            <name>Completion_Email_UC</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10) AND 11 AND 12</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FO_UC_Completion_Email_1730193893560</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC_Velkomstmail_Premium_1730365430711</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC_Velkomstmail_VIP_VIP_1730365121367</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC_Velkomstmail_VIP_Business_1730365227406</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC_Velkomstmail_VIP_Excellence_1730365521637</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC_Velkomstmail_engelsk_Business_1730365588666</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC_Velkomstmail_engelsk_Excellence_1730365615239</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC_Velkomstmail_engelsk_Premium_1730365639329</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC_Velkomstmail_engelsk_VIP_VIP_1730365660142</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC_Completion_Email_1730365303209</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Latest_SLA__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA UC Completion Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition_UC_Completion_Email</targetReference>
            </connector>
            <label>Completion Email UC</label>
        </rules>
        <rules>
            <name>Order_Confirmation_Fiber_4G</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FO_Fiber_Order_Confirmation_DK_1730102279345</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FO_Fiber_Order_Confirmation_ENG_1730109354402</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fiber</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DDoS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Firewall</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Latest_SLA__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA Fiber Order Confirmation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition_Fiber_Order_Confirmation</targetReference>
            </connector>
            <label>Order Confirmation Fiber/4G</label>
        </rules>
        <rules>
            <name>Completion_Email_Fiber</name>
            <conditionLogic>1 AND 4 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Templates.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FO_Fiber_Completion_1730193605197</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DDoS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Firewall</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Latest_SLA__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SLA Fiber Completion Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SLA_Definition_Fiber_Completion_Email</targetReference>
            </connector>
            <label>Completion Email Fiber</label>
        </rules>
    </decisions>
    <description>Listens to Emails sent with specific templates to determine of the SLA has been fulfilled.</description>
    <environments>Default</environments>
    <interviewLabel>Email Message - SLA Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Message - SLA Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Templates</name>
        <label>Get Email Templates</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EmailTemplateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Definition_Fiber_Completion_Email</name>
        <label>Get SLA Definition Fiber Completion Email</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SLA_Fiber_Completion_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Fiber_Completion_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Definition_Fiber_Order_Confirmation</name>
        <label>Get SLA Definition Fiber Order Confirmation</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SLA_Order_Confirmation_Fiber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Fiber_Order_Confirmation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Definition_Home_Office_Order</name>
        <label>Get SLA Definition Home Office Order</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SLA_Order_Confirmation_HO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Home_Office_Order_Confirmation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Definition_UC_Completion_Email</name>
        <label>Get SLA Definition UC Completion Email</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SLA_Completion_Email_UC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_UC_Completion_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Definition_UC_Order</name>
        <label>Get SLA Definition UC Order</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SLA_Order_Confirmation_UC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_UC_Order_Confirmation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Definition_Voice_1st</name>
        <label>Get SLA Definition Voice 1st</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SLA_1st_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Voice_1st_Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Definition_Voice_Completion_Email</name>
        <label>Get SLA Definition Voice Completion Email</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SLA_Order_Confirmation_Voice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Voice_Completion_Email</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Definition_Voice_Order</name>
        <label>Get SLA Definition Voice Order</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SLA_Order_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA_Voice_Order_Confirmation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Definition__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLA_Home_Office_Validation</name>
        <label>Get SLA  Home Office Validation</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_HO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SLA Home Office Validation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SLA_Tracking__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmation_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Gather information</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_1st</name>
        <label>Update Case</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X1st_Contact_Set__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Fiber</name>
        <label>Update Case</label>
        <locationX>1634</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmation_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Gather information</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Fiber_Completion</name>
        <label>Update Case</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Completion_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_HO</name>
        <label>Update Case</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmation_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_SLA__c</field>
            <value>
                <elementReference>Get_SLA_Home_Office_Validation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_UC</name>
        <label>Update Case</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Confirmation_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Gather information</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_UC_Completion</name>
        <label>Update Case</label>
        <locationX>1370</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Completion_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Voice_Complation</name>
        <label>Update Case</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Completion_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_1st_Contact</name>
        <label>Update SLA 1st Contact</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Case_1st</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SLA_Definition_Voice_1st.Label</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_Completion_Email_UC</name>
        <label>Update SLA Completion Email</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Case_UC_Completion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SLA_Definition_UC_Completion_Email.Label</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_Fiber_Completion_Email</name>
        <label>Update SLA Fiber Completion Email</label>
        <locationX>1898</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Case_Fiber_Completion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SLA_Definition_Fiber_Completion_Email.Label</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_Order_Confirmation</name>
        <label>Update SLA Order Confirmation</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SLA_Definition_Voice_Order.Label</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_Order_Confirmation_Fiber</name>
        <label>Update SLA Order Confirmation</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Case_Fiber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SLA_Definition_Fiber_Order_Confirmation.Label</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_Order_Confirmation_HO</name>
        <label>Update SLA Order Confirmation</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_SLA_Home_Office_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SLA_Definition_Home_Office_Order.Label</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_Order_Confirmation_UC</name>
        <label>Update SLA Order Confirmation</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Case_UC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SLA_Definition_UC_Order.Label</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SLA_Order_Confirmation_Voice</name>
        <label>Update SLA Order Confirmation</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Case_Voice_Complation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SLA_Definition_Voice_Completion_Email.Label</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_SLA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SLA_Stop_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent.SLA_Trackings__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Email_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incoming</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>500</stringValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
