force-app/main/default/flows/Event_update_custom_fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Save_AccountId</name>
        <label>Save AccountId</label>
        <locationX>209</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_AccountId_on_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Case_AccountId</name>
        <label>Save Case AccountId</label>
        <locationX>473</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_AccountId_on_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Custom_AccountId_Exists</name>
        <label>Does Custom AccountId Exists ?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_there_and_AccountID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Custom_AccountId_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Custom AccountId Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_event_related_to_a_Case</name>
        <label>Is event related to a Case ?</label>
        <locationX>605</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Not Related to Case</defaultConnectorLabel>
        <rules>
            <name>Related_to_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case</targetReference>
            </connector>
            <label>Related to Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_and_AccountID</name>
        <label>Is there and AccountID ?</label>
        <locationX>407</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_event_related_to_a_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No AccountId</defaultConnectorLabel>
        <rules>
            <name>AccountId_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_AccountId</targetReference>
            </connector>
            <label>AccountId exists</label>
        </rules>
    </decisions>
    <description>When an event is created custom fields must be updated</description>
    <environments>Default</environments>
    <interviewLabel>Event update custom fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event update custom fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case</name>
        <label>Case</label>
        <locationX>473</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Case_AccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_AccountId_on_Event</name>
        <label>Save AccountId on Event</label>
        <locationX>407</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Custom_AccountId_Exists</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
