force-app/main/default/flows/Home_Office_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Commit</name>
        <label>Commit</label>
        <locationX>50</locationX>
        <locationY>3908</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Non_Activated_Lines_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:CommitTransaction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Error_No_Opportunities</name>
        <label>Error No Opportunities</label>
        <locationX>4098</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ErrorSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No data available. Please contact Telia for support.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_No_Opportunity_Contact_Role</name>
        <label>Error No Opportunity Contact Role</label>
        <locationX>3570</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>ErrorSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You can not enter data yet. Please contact Norlys for support.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_Too_many_Opportunities</name>
        <label>Error Too many Opportunities</label>
        <locationX>3834</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ErrorSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Data is not ready yes. Pleas contact Telia for support.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>NonActivatedLinesCountAssignment</name>
        <label>Assign NonActivatedLinesCount</label>
        <locationX>248</locationX>
        <locationY>3476</locationY>
        <assignmentItems>
            <assignToReference>NonActivatedLinesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Non_Activated_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Non_Activated_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Account_Owner_as_TaskOwner</name>
        <label>Save Account Owner as TaskOwner</label>
        <locationX>314</locationX>
        <locationY>3800</locationY>
        <assignmentItems>
            <assignToReference>TaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_for_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Case_Owner_as_TaskOwner</name>
        <label>Save Case Owner as TaskOwner</label>
        <locationX>578</locationX>
        <locationY>3800</locationY>
        <assignmentItems>
            <assignToReference>TaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity.Case__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_for_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_no_of_Opportunities</name>
        <label>Save no of Opportunities</label>
        <locationX>3353</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NoOfOpportunities</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Opportunities_Found2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Opportunity</name>
        <label>Save Opportunity</label>
        <locationX>2697</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Opportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Step_Data_CA1</name>
        <label>Save Step Data CA1</label>
        <locationX>198</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>StepList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA1,CA2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_step_is_latest_saved_step2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Step_Data_OPP1</name>
        <label>Save Step Data OPP1</label>
        <locationX>2514</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>StepList</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPP1,OPP2,OPP3,OPP4,OPP5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPP1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_step_is_latest_saved_step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CurrentStep_CA2</name>
        <label>Set CurrentStep CA2</label>
        <locationX>198</locationX>
        <locationY>2288</locationY>
        <assignmentItems>
            <assignToReference>CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Step8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CurrentStep_CA2_1</name>
        <label>Set CurrentStep CA2</label>
        <locationX>50</locationX>
        <locationY>3692</locationY>
        <assignmentItems>
            <assignToReference>CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Step</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CurrentStep_OPP2</name>
        <label>Set CurrentStep OPP2</label>
        <locationX>2514</locationX>
        <locationY>2480</locationY>
        <assignmentItems>
            <assignToReference>CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPP2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Step2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CurrentStep_OPP3</name>
        <label>Set CurrentStep OPP3</label>
        <locationX>2514</locationX>
        <locationY>2804</locationY>
        <assignmentItems>
            <assignToReference>CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPP3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Home_Office_Step_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CurrentStep_OPP4</name>
        <label>Set CurrentStep OPP4</label>
        <locationX>1854</locationX>
        <locationY>3452</locationY>
        <assignmentItems>
            <assignToReference>CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPP4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Step4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CurrentStep_OPP5</name>
        <label>Set CurrentStep OPP5</label>
        <locationX>1854</locationX>
        <locationY>3776</locationY>
        <assignmentItems>
            <assignToReference>CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPP5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Step5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CurrentStep_OPP6</name>
        <label>Set CurrentStep OPP6</label>
        <locationX>611</locationX>
        <locationY>2828</locationY>
        <assignmentItems>
            <assignToReference>CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPP6</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Step6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CurrentStep_OPP7</name>
        <label>Set CurrentStep OPP7</label>
        <locationX>2118</locationX>
        <locationY>3452</locationY>
        <assignmentItems>
            <assignToReference>CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPP7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Step9</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Non_Activated_Lines</name>
        <label>Any Non-Activated Lines?</label>
        <locationX>248</locationX>
        <locationY>3584</locationY>
        <defaultConnector>
            <targetReference>Is_case_owner_a_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NonActivatedLinesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CurrentStep_CA2_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Opportunities_Found2</name>
        <label>Any Opportunities Found ?</label>
        <locationX>3353</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Error_No_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No opportunities found</defaultConnectorLabel>
        <rules>
            <name>Yes_opportunities_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfOpportunities</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opportunity</targetReference>
            </connector>
            <label>Yes, opportunities found</label>
        </rules>
        <rules>
            <name>Yes_more_than_one_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfOpportunities</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Too_many_Opportunities</targetReference>
            </connector>
            <label>Yes, more than one found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Opportunity_Contact</name>
        <label>Any Opportunity Contact ?</label>
        <locationX>2829</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opportunity Contact Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_Contact_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Contact_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Opportunity</targetReference>
            </connector>
            <label>Yes Opportunity Contact found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Home_Office_Activation_Lines_Decision</name>
        <label>Home Office Activation Lines Decision</label>
        <locationX>198</locationX>
        <locationY>2720</locationY>
        <defaultConnector>
            <targetReference>Set_CurrentStep_OPP6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Step_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Activation_Line_Home_Office.ButtonPicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_CurrentStep_OPP2</targetReference>
            </connector>
            <label>Step 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_any_opportunity_saved</name>
        <label>Is any opportunity saved?</label>
        <locationX>2609</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Error_No_Opportunity_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opportunity saved</defaultConnectorLabel>
        <rules>
            <name>Yes_Opportunity_saved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_opportunity_Specified_and_Close_WON</targetReference>
            </connector>
            <label>Yes Opportunity saved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_in_Gather_Information</name>
        <label>Is Case in Gather Information ?</label>
        <locationX>784</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_is_in_Gather_information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Case__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Step_Data_CA1</targetReference>
            </connector>
            <label>Yes, Case is in Gather information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_case_owner_a_Group</name>
        <label>Is case owner a Group ?</label>
        <locationX>446</locationX>
        <locationY>3692</locationY>
        <defaultConnector>
            <targetReference>Save_Case_Owner_as_TaskOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_owner_is_a_group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Case__r.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Account_Owner_as_TaskOwner</targetReference>
            </connector>
            <label>Yes, Case owner is a group</label>
        </rules>
    </decisions>
    <decisions>
        <description>That is the question</description>
        <name>Is_it_Framework</name>
        <label>Is it Framework?</label>
        <locationX>2514</locationX>
        <locationY>3128</locationY>
        <defaultConnector>
            <targetReference>Time_to_sign_the_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Specified</defaultConnectorLabel>
        <rules>
            <name>Framework</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Framework</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_for_POQ_Status_check</targetReference>
            </connector>
            <label>Framework</label>
        </rules>
    </decisions>
    <decisions>
        <description>That is the question</description>
        <name>Is_it_Framework2</name>
        <label>Is it Framework?</label>
        <locationX>974</locationX>
        <locationY>3260</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_CurrentStep_CA2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Specified</defaultConnectorLabel>
        <rules>
            <name>Framework2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Framework</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_CurrentStep_OPP5</targetReference>
            </connector>
            <label>Framework</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_opportunity_Specified_and_Close_WON</name>
        <label>Is opportunity Specified and Close Won ?</label>
        <locationX>1649</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Is_this_Framework_and_is_Case_in_Gather_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Case_in_Gather_Information</targetReference>
            </connector>
            <label>Yes opportunity is Specified and Close Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_POQ_Part_2_done</name>
        <label>Is POQ Part 2 done?</label>
        <locationX>2118</locationX>
        <locationY>3344</locationY>
        <defaultConnector>
            <targetReference>Come_back_later</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POQ_Part_2_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_for_POQ_Status_check.POQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done Updating LL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CurrentStep_OPP4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>POQ_Part_2_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_for_POQ_Status_check.POQ_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CurrentStep_OPP7</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Framework_and_is_Case_in_Gather_Information</name>
        <label>Is this Framework and is Case in Gather Information ?</label>
        <locationX>2514</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>None of them</defaultConnectorLabel>
        <rules>
            <name>This_is_Framework_and_Case_is_in_Gather_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Framework</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.Case__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gather information</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Step_Data_OPP1</targetReference>
            </connector>
            <label>This is Framework and Case is in Gather Information</label>
        </rules>
        <rules>
            <name>This_is_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Agreement_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Step_Data_OPP1</targetReference>
            </connector>
            <label>This is Specified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_button_was_selected</name>
        <label>Which button was selected</label>
        <locationX>2910</locationX>
        <locationY>3344</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back</name>
            <conditionLogic>(1 AND 2 ) OR ( 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmButtonsEnglish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConfirmButtonsDanish.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConfirmButtonsEnglish.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConfirmButtonsDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_CurrentStep_OPP3</targetReference>
            </connector>
            <label>Back</label>
        </rules>
        <rules>
            <name>Confirm</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmButtonsEnglish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConfirmButtonsDanish.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConfirmButtonsEnglish.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ConfirmButtonsDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_Account_Owner</targetReference>
            </connector>
            <label>Confirm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_button_was_selected2</name>
        <label>Which button was selected</label>
        <locationX>2118</locationX>
        <locationY>4358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Back</name>
            <conditionLogic>(1 AND 2 ) OR ( 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_ConfirmButtonsEnglish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_ConfirmButtonsDanish.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_ConfirmButtonsEnglish.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_ConfirmButtonsDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_CurrentStep_OPP3</targetReference>
            </connector>
            <label>Back</label>
        </rules>
        <rules>
            <name>Copy_1_of_Confirm</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_ConfirmButtonsEnglish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_ConfirmButtonsDanish.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_ConfirmButtonsEnglish.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_ConfirmButtonsDanish.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.POQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_POQStatus_on_Opportunity</targetReference>
            </connector>
            <label>Confirm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Button_was_selected_on_screen</name>
        <label>Which Button was selected on screen ?</label>
        <locationX>611</locationX>
        <locationY>3152</locationY>
        <defaultConnector>
            <targetReference>Is_it_Framework2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Back</defaultConnectorLabel>
        <rules>
            <name>Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SummaryButtonSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activation</targetReference>
            </connector>
            <label>Accept</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_step_is_latest_saved_step</name>
        <label>Which step is latest saved step ?</label>
        <locationX>2514</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Update_Step1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OPP1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Office_Portal_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Step1</targetReference>
            </connector>
            <label>OPP1</label>
        </rules>
        <rules>
            <name>OPP2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Office_Portal_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_CurrentStep_OPP2</targetReference>
            </connector>
            <label>OPP2</label>
        </rules>
        <rules>
            <name>OPP3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Office_Portal_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_CurrentStep_OPP3</targetReference>
            </connector>
            <label>OPP3</label>
        </rules>
        <rules>
            <name>OPP4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Office_Portal_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_CurrentStep_OPP4</targetReference>
            </connector>
            <label>OPP4</label>
        </rules>
        <rules>
            <name>OPP5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Office_Portal_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_CurrentStep_OPP5</targetReference>
            </connector>
            <label>OPP5</label>
        </rules>
        <rules>
            <name>OPP6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Office_Portal_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_CurrentStep_OPP6</targetReference>
            </connector>
            <label>OPP6</label>
        </rules>
        <rules>
            <name>OPP7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Office_Portal_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP7</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Opportunity_for_POQ_Status_check</targetReference>
            </connector>
            <label>OPP7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_step_is_latest_saved_step2</name>
        <label>Which step is latest saved step ?</label>
        <locationX>198</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Update_Step7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CA1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Office_Portal_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Step7</targetReference>
            </connector>
            <label>CA1</label>
        </rules>
        <rules>
            <name>CA2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Office_Portal_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_CurrentStep_CA2</targetReference>
            </connector>
            <label>CA2</label>
        </rules>
        <rules>
            <name>OPP61</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Home_Office_Portal_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPP6</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_CurrentStep_OPP6</targetReference>
            </connector>
            <label>OPP6</label>
        </rules>
    </decisions>
    <description>Home Office Main flow. This is the flow deciding where to go next in the portal process for Home Office</description>
    <environments>Default</environments>
    <formulas>
        <name>TaskDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Contact &quot; + {!$User.FirstName} + &quot; &quot; + {!$User.LastName} + &quot; on Customer &quot; +  {!Opportunity.Account.Name} + &quot;  have finished adding Location Lines and Products. When remaining data have been fetched from POQ you can open related Opportunity and select button New/Update Specified Quote.. The button will not be visible before POQ data fetch is done&quot;</expression>
    </formulas>
    <formulas>
        <name>TaskDescriptionForCaseOwnerTask</name>
        <dataType>String</dataType>
        <expression>&quot;Contact &quot; + {!$User.FirstName} + &quot; &quot; + {!$User.LastName} + &quot; on Customer &quot; + {!Opportunity.Account.Name} + &quot;  have finished adding data in the portal. Open Activation on related Case and verify data is correct.&quot;</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <formulas>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Specified Home Office Quote ready to be created/updated&quot;</expression>
    </formulas>
    <formulas>
        <name>TaskSubjectForCaseOwnerTask</name>
        <dataType>String</dataType>
        <expression>&quot;Customer accepted data collection in portal&quot;</expression>
    </formulas>
    <formulas>
        <name>ToDay</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Home Office Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Home Office Flow</label>
    <loops>
        <name>Loop_Opportunity</name>
        <label>Loop Opportunity</label>
        <locationX>2609</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Opportunity_Contact_Role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_any_opportunity_saved</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task_for_Account_Owner</name>
        <label>Create Task for Account Owner</label>
        <locationX>2910</locationX>
        <locationY>3452</locationY>
        <connector>
            <targetReference>Update_Step_and_Home_Office_Ready_for_Specified_Quote_and_Stage</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Opportunity.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_for_Case_Owner</name>
        <label>Create Task for Case Owner</label>
        <locationX>446</locationX>
        <locationY>3992</locationY>
        <connector>
            <targetReference>Update_Step_and_Home_Office_Accepted</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskDescriptionForCaseOwnerTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TaskOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubjectForCaseOwnerTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Opportunity.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Activation</name>
        <label>Get Activation</label>
        <locationX>248</locationX>
        <locationY>3260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Non_Activated_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Home Office</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Account</name>
        <label>Get Contact Account</label>
        <locationX>3353</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Activated_Lines</name>
        <label>Get Non-Activated Lines</label>
        <locationX>248</locationX>
        <locationY>3368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NonActivatedLinesCountAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Home_Office_Request_Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activation_line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>3353</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_no_of_Opportunities</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 9 AND ( (3 AND 4) OR  (5 AND 6) OR ( 7 AND 8) )</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Products_In_Scope_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Needs Analysis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Specified</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Specified</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Framework</stringValue>
            </value>
        </filters>
        <filters>
            <field>Home_Office_Accepted_in_Portal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Contact_Role</name>
        <label>Get Opportunity Contact Role</label>
        <locationX>2829</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Opportunity_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_for_POQ_Status_check</name>
        <label>Get Opportunity for POQ Status check</label>
        <locationX>2118</locationX>
        <locationY>3236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_POQ_Part_2_done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>3353</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Contact</name>
        <label>Get User Contact</label>
        <locationX>3353</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case2</name>
        <label>Update Case</label>
        <locationX>198</locationX>
        <locationY>2612</locationY>
        <connector>
            <targetReference>Home_Office_Activation_Lines_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Activation_lines_generated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_POQStatus_on_Opportunity</name>
        <label>Update POQStatus on Opportunity</label>
        <locationX>2118</locationX>
        <locationY>4466</locationY>
        <connector>
            <targetReference>FrameworkConfirmationPanel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>POQ_Status__c</field>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Step</name>
        <label>Update Step</label>
        <locationX>50</locationX>
        <locationY>3800</locationY>
        <connector>
            <targetReference>Commit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Office_Portal_Step__c</field>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Step1</name>
        <label>Update Step</label>
        <locationX>2514</locationX>
        <locationY>2264</locationY>
        <connector>
            <targetReference>Home_Office_Product_Ranking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Office_Portal_Step__c</field>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Step2</name>
        <label>Update Step</label>
        <locationX>2514</locationX>
        <locationY>2588</locationY>
        <connector>
            <targetReference>Home_Office_Step_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Office_Portal_Step__c</field>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Step3</name>
        <label>Update Step</label>
        <locationX>2514</locationX>
        <locationY>3020</locationY>
        <connector>
            <targetReference>Is_it_Framework</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Office_Portal_Step__c</field>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Step4</name>
        <label>Update Step</label>
        <locationX>1854</locationX>
        <locationY>3560</locationY>
        <connector>
            <targetReference>Home_Office_Billing_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Office_Portal_Step__c</field>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Step5</name>
        <label>Update Step</label>
        <locationX>1854</locationX>
        <locationY>3884</locationY>
        <connector>
            <targetReference>Activation_Line_Home_Office</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Office_Portal_Step__c</field>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Step6</name>
        <label>Update Step</label>
        <locationX>611</locationX>
        <locationY>2936</locationY>
        <connector>
            <targetReference>Home_Office_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Office_Portal_Step__c</field>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Step7</name>
        <label>Update Step</label>
        <locationX>198</locationX>
        <locationY>2072</locationY>
        <connector>
            <targetReference>Home_Office_Billing_Accounts2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Office_Portal_Step__c</field>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Step8</name>
        <label>Update Step</label>
        <locationX>198</locationX>
        <locationY>2396</locationY>
        <connector>
            <targetReference>Home_Office_Activation_Lines2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Office_Portal_Step__c</field>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Step9</name>
        <label>Update Step</label>
        <locationX>2118</locationX>
        <locationY>3560</locationY>
        <connector>
            <targetReference>Come_back_later</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Office_Portal_Step__c</field>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Step_and_Home_Office_Accepted</name>
        <label>Update Step and Home Office Accepted</label>
        <locationX>446</locationX>
        <locationY>4100</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Office_Accepted_Date__c</field>
            <value>
                <elementReference>ToDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Office_Accepted_in_Portal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Office_Portal_Step__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Office_Ready_for_Specified_Quote__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Step_and_Home_Office_Ready_for_Specified_Quote_and_Stage</name>
        <label>Update Step and Home Office Ready for Specified Quote and Stage</label>
        <locationX>2910</locationX>
        <locationY>3560</locationY>
        <connector>
            <targetReference>SpecifiedConfirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Home_Office_Portal_Step__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Office_Ready_for_Specified_Quote__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POQ_Status__c</field>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Come_back_later</name>
        <label>Come back later</label>
        <locationX>2118</locationX>
        <locationY>4250</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_button_was_selected2</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_TimeToSignText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.HOReturnLater}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_ConfirmButtonsEnglish</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Confirm&quot;,&quot;value&quot;:&quot;Confirm&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:back&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copy_1_of_ConfirmButtonsDanish</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Bekrft indtastede data&quot;,&quot;value&quot;:&quot;Confirm&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Tilbage&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:back&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FrameworkConfirmationPanel</name>
        <label>FrameworkConfirmationPanel</label>
        <locationX>2118</locationX>
        <locationY>4574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FrameworkConfirmation</name>
            <fieldText>&lt;p&gt;{!FrameworkConfirmationText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Non_Activated_Lines_Screen</name>
        <label>Non Activated Lines Screen</label>
        <locationX>50</locationX>
        <locationY>4016</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Home_Office_Activation_Lines2</targetReference>
        </connector>
        <fields>
            <name>NonActivatedLinesEN</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;You have non-activated lines. When you are ready to activate remaining lines, please return to the onboarding portal.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NonActivatedLinesDA</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Der er stadig linjer som ikke er blevet aktiveret. Kom tilbage til onboarding portalen, nr i er klar til aktivere flere linjer.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FBB_EN</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FBB_DA</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Tilbage&quot;,&quot;value&quot;:&quot;Tilbage&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SpecifiedConfirmation</name>
        <label>Confirmation</label>
        <locationX>2910</locationX>
        <locationY>3668</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SpecifiedConfirmationPanel</name>
            <fieldText>&lt;p&gt;{!SpecifiedConfirmationText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Time_to_sign_the_Quote</name>
        <label>Time to sign the Quote</label>
        <locationX>2910</locationX>
        <locationY>3236</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_button_was_selected</targetReference>
        </connector>
        <fields>
            <name>TimeToSignText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.HOSignQuoteConfirmationText}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ConfirmButtonsEnglish</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Confirm&quot;,&quot;value&quot;:&quot;Confirm&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:back&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConfirmButtonsDanish</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Bekrft indtastede data&quot;,&quot;value&quot;:&quot;Confirm&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Tilbage&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:back&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>UserLanguage</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>da</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>3227</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Activation_Line_Home_Office</name>
        <label>Home Office Activation Lines</label>
        <locationX>1854</locationX>
        <locationY>3992</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Home_Office_Activation_Lines_Decision</targetReference>
        </connector>
        <flowName>Activation_Line_Home_Office</flowName>
        <inputAssignments>
            <name>CurrentStep</name>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputAccount</name>
            <value>
                <elementReference>Get_Contact_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opportunity</name>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StepList</name>
            <value>
                <elementReference>StepList</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Home_Office_Activation_Lines2</name>
        <label>Home Office Activation Lines</label>
        <locationX>198</locationX>
        <locationY>2504</locationY>
        <connector>
            <targetReference>Update_Case2</targetReference>
        </connector>
        <flowName>Activation_Line_Home_Office</flowName>
        <inputAssignments>
            <name>CurrentStep</name>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputAccount</name>
            <value>
                <elementReference>Get_Contact_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Opportunity</name>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StepList</name>
            <value>
                <elementReference>StepList</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Home_Office_Billing_Accounts</name>
        <label>Home Office Billing Accounts</label>
        <locationX>1854</locationX>
        <locationY>3668</locationY>
        <connector>
            <targetReference>Set_CurrentStep_OPP5</targetReference>
        </connector>
        <flowName>Home_Office_Billing_Accounts</flowName>
        <inputAssignments>
            <name>AccountMissingData</name>
            <value>
                <elementReference>Opportunity.Account_data_missing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentStep</name>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputAccount</name>
            <value>
                <elementReference>Get_Contact_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputOpportunity</name>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StepList</name>
            <value>
                <elementReference>StepList</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Home_Office_Billing_Accounts2</name>
        <label>Home Office Billing Accounts</label>
        <locationX>198</locationX>
        <locationY>2180</locationY>
        <connector>
            <targetReference>Set_CurrentStep_CA2</targetReference>
        </connector>
        <flowName>Home_Office_Billing_Accounts</flowName>
        <inputAssignments>
            <name>AccountMissingData</name>
            <value>
                <elementReference>Opportunity.Account_data_missing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CurrentStep</name>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputAccount</name>
            <value>
                <elementReference>Get_Contact_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputOpportunity</name>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StepList</name>
            <value>
                <elementReference>StepList</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Home_Office_Product_Ranking</name>
        <label>Home Office Product Ranking</label>
        <locationX>2514</locationX>
        <locationY>2372</locationY>
        <connector>
            <targetReference>Set_CurrentStep_OPP2</targetReference>
        </connector>
        <flowName>Home_Office_Product_Ranking</flowName>
        <inputAssignments>
            <name>CurrentStep</name>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputAccount</name>
            <value>
                <elementReference>Get_Contact_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputOpportunity</name>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StepList</name>
            <value>
                <elementReference>StepList</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Home_Office_Step_2</name>
        <label>Location Line Handling</label>
        <locationX>2514</locationX>
        <locationY>2696</locationY>
        <connector>
            <targetReference>Set_CurrentStep_OPP3</targetReference>
        </connector>
        <flowName>Location_Line_Handling</flowName>
        <inputAssignments>
            <name>CurrentStep</name>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StepList</name>
            <value>
                <elementReference>StepList</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Home_Office_Step_3</name>
        <label>Location Line - Products</label>
        <locationX>2514</locationX>
        <locationY>2912</locationY>
        <connector>
            <targetReference>Update_Step3</targetReference>
        </connector>
        <flowName>Location_Line_Products</flowName>
        <inputAssignments>
            <name>CurrentStep</name>
            <value>
                <elementReference>CurrentStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StepList</name>
            <value>
                <elementReference>StepList</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Home_Office_Summary</name>
        <label>Home Office Summary</label>
        <locationX>611</locationX>
        <locationY>3044</locationY>
        <connector>
            <targetReference>Which_Button_was_selected_on_screen</targetReference>
        </connector>
        <flowName>Home_Office_Summary</flowName>
        <inputAssignments>
            <name>InputOpportunity</name>
            <value>
                <elementReference>Opportunity</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SummaryButtonSelected</assignToReference>
            <name>ButtonSelected</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>FrameworkConfirmationText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;section role=&quot;dialog&quot; tabindex=&quot;-1&quot; aria-modal=&quot;true&quot; aria-labelledby=&quot;welcome-mat-100-label&quot; class=&quot;slds-modal slds-fade-in-open slds-modal_small&quot;&gt;
&lt;div class=&quot;slds-modal__container&quot;&gt;
&lt;div class=&quot;slds-modal__header slds-modal__header_empty&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;slds-modal__content&quot;&gt;
&lt;div class=&quot;slds-welcome-mat_splash&quot;&gt;
&lt;div class=&quot;slds-welcome-mat__content slds-grid&quot;&gt;
&lt;div class=&quot;slds-size_1-of-1&quot; tabindex=&quot;0&quot; role=&quot;region&quot;&gt;
&lt;div class=&quot;slds-welcome-mat__info-content&quot;&gt;
&lt;h2 class=&quot;slds-welcome-mat__info-title&quot; id=&quot;welcome-mat-100-label&quot;&gt;{!$Label.HOThankYou}!&lt;/h2&gt;
&lt;div class=&quot;slds-welcome-mat__info-description slds-text-longform&quot;&gt;
&lt;p&gt;{!$Label.HOReturnLaterSuccessText}&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/section&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SpecifiedConfirmationText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;section role=&quot;dialog&quot; tabindex=&quot;-1&quot; aria-modal=&quot;true&quot; aria-labelledby=&quot;welcome-mat-100-label&quot; class=&quot;slds-modal slds-fade-in-open slds-modal_small&quot;&gt;
&lt;div class=&quot;slds-modal__container&quot;&gt;
&lt;div class=&quot;slds-modal__header slds-modal__header_empty&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;slds-modal__content&quot;&gt;
&lt;div class=&quot;slds-welcome-mat_splash&quot;&gt;
&lt;div class=&quot;slds-welcome-mat__content slds-grid&quot;&gt;
&lt;div class=&quot;slds-size_1-of-1&quot; tabindex=&quot;0&quot; role=&quot;region&quot;&gt;
&lt;div class=&quot;slds-welcome-mat__info-content&quot;&gt;
&lt;h2 class=&quot;slds-welcome-mat__info-title&quot; id=&quot;welcome-mat-100-label&quot;&gt;{!$Label.HOThankYou}!&lt;/h2&gt;
&lt;div class=&quot;slds-welcome-mat__info-description slds-text-longform&quot;&gt;
&lt;p&gt;{!$Label.HOSignQuoteConfirmationSuccessText}&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/section&gt;</text>
    </textTemplates>
    <variables>
        <name>Activation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation__c</objectType>
    </variables>
    <variables>
        <name>CurrentStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NonActivatedLinesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfOpportunities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StepList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummaryButtonSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.LanguageLocaleKey</elementReference>
        </value>
    </variables>
</Flow>
