force-app/main/default/flows/Home_Office_Framework_create_Activation_and_Activation_Line_before_sending_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Just_save</name>
        <label>Just save</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varBNothing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Any_Sales_Contacts</name>
        <label>Any Sales Contacts ?</label>
        <locationX>446</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Sales_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Contact_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Activation</targetReference>
            </connector>
            <label>Yes Sales Contact Found</label>
        </rules>
    </decisions>
    <description>In order to save time when customer enters portal after 2&apos;nd POQ call creation of Activation and Activation Lines is done in this trigger.</description>
    <environments>Default</environments>
    <interviewLabel>Home Office - Framework create Activation and Activation Line before sending Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Home Office - Framework create Activation and Activation Line before sending Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Contact_Role</name>
        <label>Get Opportunity Contact Role</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Sales_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_POQ_Status</name>
        <label>Update POQ Status</label>
        <locationX>314</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>POQ_Status__c</field>
            <value>
                <stringValue>Done Updating LL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Just_save</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>POQ_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Framework</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X3_minutes_after_update</name>
            <connector>
                <targetReference>Get_Opportunity_Contact_Role</targetReference>
            </connector>
            <label>3 minutes after update</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Activation_Lines_create_for_Home_Office</name>
        <label>Activation Lines create for Home Office</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Location_Line_Add_product_ids</targetReference>
        </connector>
        <flowName>Create_Activation_Lines_Home_Office</flowName>
        <inputAssignments>
            <name>ActivationID</name>
            <value>
                <elementReference>ActivationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Activation</name>
        <label>Create Activation</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Activation_Lines_create_for_Home_Office</targetReference>
        </connector>
        <flowName>Create_Activation_Home_Office</flowName>
        <inputAssignments>
            <name>Opportunity</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ActivationID</assignToReference>
            <name>ActivationId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseID</assignToReference>
            <name>outputCaseID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Location_Line_Add_product_ids</name>
        <label>Location Line - Add product ids</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Update_POQ_Status</targetReference>
        </connector>
        <flowName>Location_Line_Add_product_ids</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ActivationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBNothing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKundeserviceEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>kundeservice.erhverv@norlys.dk</stringValue>
        </value>
    </variables>
</Flow>
