force-app/main/default/flows/Location_Line_Update_Product_ID_when_Opportunity_is_Done.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>When Opportunity POQ status is changed to Done Location Lines is updated with Additional product data to be used when creating Quote.</description>
    <environments>Default</environments>
    <interviewLabel>Location Line - Update Product ID when Opportunity is Done {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Location Line - Update Product ID when Opportunity is Done</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_POQ_Status</name>
        <label>Update POQ Status</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>POQ_Status__c</field>
            <value>
                <stringValue>Done Updating LL</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Product_ID_etc_on_Loation_Lines</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>POQ_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Specified</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Product_ID_etc_on_Loation_Lines</name>
        <label>Update Product ID etc on Loation Lines</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_POQ_Status</targetReference>
        </connector>
        <flowName>Location_Line_Add_product_ids</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
