force-app/main/default/flows/Location_Line_Update_product_data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Was_OTC_Changed</name>
        <label>Was OTC Changed ?</label>
        <locationX>380</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Was_VAS_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No OTC was not changed</defaultConnectorLabel>
        <rules>
            <name>Yes_OTC_was_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OTC_product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_OTC_deleted</targetReference>
            </connector>
            <label>Yes, OTC was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_OTC_deleted</name>
        <label>Was OTC deleted ?</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Get_OTC_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OTC_was_deleted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OTC_product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OTC_product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_OTC_product_fields</targetReference>
            </connector>
            <label>Yes OTC was deleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Subscription_Product_Changed</name>
        <label>Was Subscription Product Changed ?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Was_OTC_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Subscription Product was Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Subscription_Product_was_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscription_product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subscription_Product</targetReference>
            </connector>
            <label>Yes Subscription Product was Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_VAS_Changed</name>
        <label>Was VAS Changed ?</label>
        <locationX>380</locationX>
        <locationY>1823</locationY>
        <defaultConnectorLabel>No, VAS was not changed</defaultConnectorLabel>
        <rules>
            <name>Yes_VAS_was_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VAS_product__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_VAS_deleted</targetReference>
            </connector>
            <label>Yes, VAS was changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_VAS_deleted</name>
        <label>Was VAS deleted ?</label>
        <locationX>182</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>Get_VAS_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_VAS_was_deleted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VAS_product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VAS_product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_VAS_product_data</targetReference>
            </connector>
            <label>Yes VAS was deleted</label>
        </rules>
    </decisions>
    <description>If a single Location Line changes product, we need to adjust product fields</description>
    <environments>Default</environments>
    <interviewLabel>Location Line - Update product data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Location Line - Update product data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_OTC_PriceBookEntry</name>
        <label>Get OTC PriceBookEntry</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OTC_Product_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OTC_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OTC_Product</name>
        <label>Get OTC Product</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OTC_PriceBookEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductAPI_Telia_Product_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OTC_product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OTC_Product_Option</name>
        <label>Get OTC Product Option</label>
        <locationX>314</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OTC_product_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subscription_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__OptionalSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OTC_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__ProductOption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_PriceBookEntry</name>
        <label>Get Subscription PriceBookEntry</label>
        <locationX>248</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Subscription_product_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subscription_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Product</name>
        <label>Get Subscription Product</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Subscription_PriceBookEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductAPI_Telia_Product_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subscription_product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_VAS_PriceBookEntry</name>
        <label>Get VAS PriceBookEntry</label>
        <locationX>314</locationX>
        <locationY>2183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_VAS_Product_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_VAS_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_VAS_Product</name>
        <label>Get VAS Product</label>
        <locationX>314</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_VAS_PriceBookEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductAPI_Telia_Product_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VAS_product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_VAS_Product_Option</name>
        <label>Get VAS Product Option</label>
        <locationX>314</locationX>
        <locationY>2303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_VAS_product_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Subscription_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__OptionalSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_VAS_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__ProductOption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Remove_OTC_product_fields</name>
        <label>Remove OTC product fields</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Was_VAS_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>OTC_Product_ID__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTC_Product_Name__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTC_Product_Option_Feature__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTC_Product_Option_ID__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTC_Product_Option_Quantity__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_VAS_product_data</name>
        <label>Remove VAS product data</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <inputAssignments>
            <field>VAS_Product_ID__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_Product_Name__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_Product_Option_Feature__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_Product_Option_ID__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_Product_Option_Quantity__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OTC_product_data</name>
        <label>Update OTC product data</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Was_VAS_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>OTC_PriceBookEntryId__c</field>
            <value>
                <elementReference>Get_OTC_PriceBookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTC_Product_Gearing__c</field>
            <value>
                <elementReference>Get_OTC_Product.Product_Gearing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTC_Product_ID__c</field>
            <value>
                <elementReference>Get_OTC_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTC_Product_Name__c</field>
            <value>
                <elementReference>Get_OTC_Product.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTC_Product_Option_Feature__c</field>
            <value>
                <elementReference>Get_OTC_Product_Option.SBQQ__Feature__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTC_Product_Option_ID__c</field>
            <value>
                <elementReference>Get_OTC_Product_Option.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTC_Product_Option_Quantity__c</field>
            <value>
                <elementReference>Get_OTC_Product_Option.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subscription_product_data</name>
        <label>Update Subscription product data</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Was_OTC_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Subscription_PriceBookEntryId__c</field>
            <value>
                <elementReference>Get_Subscription_PriceBookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Gearing__c</field>
            <value>
                <elementReference>Get_Subscription_Product.Product_Gearing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_ID__c</field>
            <value>
                <elementReference>Get_Subscription_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscription_Product_Name__c</field>
            <value>
                <elementReference>Get_Subscription_Product.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VAS_product_data</name>
        <label>Update VAS product data</label>
        <locationX>314</locationX>
        <locationY>2423</locationY>
        <inputAssignments>
            <field>VAS_PriceBookEntryId__c</field>
            <value>
                <elementReference>Get_VAS_PriceBookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_Product_Gearing__c</field>
            <value>
                <elementReference>Get_VAS_Product.Product_Gearing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_Product_ID__c</field>
            <value>
                <elementReference>Get_VAS_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_Product_Name__c</field>
            <value>
                <elementReference>Get_VAS_Product.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_Product_Option_Feature__c</field>
            <value>
                <elementReference>Get_VAS_Product_Option.SBQQ__Feature__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_Product_Option_ID__c</field>
            <value>
                <elementReference>Get_VAS_Product_Option.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_Product_Option_Quantity__c</field>
            <value>
                <elementReference>Get_VAS_Product_Option.SBQQ__Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_Subscription_Product_Changed</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Subscription_product__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OTC_product__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VAS_product__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Location_Line__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
