force-app/main/default/flows/Log_a_call_using_ACE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>RedirectToCase</name>
        <label>RedirectToCase</label>
        <locationX>880</locationX>
        <locationY>4826</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>varCaseRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Initiate_error_Case_number_must_be_selected</name>
        <label>Initiate error Case number must be selected</label>
        <locationX>1458</locationX>
        <locationY>3482</locationY>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Insert a Case number or select a Case from the list. It is also possible to create a new Case.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseDefaultChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Task_and_Case_input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_error_Invalid_Case_number_inserted</name>
        <label>Initiate error Invalid Case number inserted</label>
        <locationX>666</locationX>
        <locationY>3722</locationY>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inserted Case number is invalid. Insert a valid Case number.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseDefaultChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Task_and_Case_input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_show_Error</name>
        <label>Reset show Error</label>
        <locationX>880</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_and_Case_input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Account_Collection</name>
        <label>Save Account Collection</label>
        <locationX>3256</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choAccountsByPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_AccountId</name>
        <label>Save AccountId</label>
        <locationX>1782</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNameAndAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Name_and_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberOfAccounts</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_AccountId1</name>
        <label>Save AccountId</label>
        <locationX>2728</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountbyPhone.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNameAndAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccountbyPhone.Name_and_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_AccountId4</name>
        <label>Save AccountId</label>
        <locationX>880</locationX>
        <locationY>2642</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNameAndAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account2.Name_and_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_show_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_AccountId7</name>
        <label>Save AccountId</label>
        <locationX>2992</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllAccountList.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Selected_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Caller</name>
        <label>Save Caller</label>
        <locationX>2200</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varCallerFirstname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caller_Firstname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallerLastname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caller_Lastname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_FullName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_case_data</name>
        <label>Save case data</label>
        <locationX>1194</locationX>
        <locationY>3482</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_cases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Case_Number</name>
        <label>Save Case Number</label>
        <locationX>930</locationX>
        <locationY>3722</locationY>
        <assignmentItems>
            <assignToReference>varCaseRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_ContactId</name>
        <label>Save ContactId</label>
        <locationX>1584</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallerFirstname</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCallerLastname</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_ContactId_from_list</name>
        <label>Save ContactId from list</label>
        <locationX>1936</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_FullName</name>
        <label>Save FullName</label>
        <locationX>2200</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>varContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCallerFullname</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Account2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Name_and_Address</name>
        <label>Save Name and Address</label>
        <locationX>2992</locationX>
        <locationY>1394</locationY>
        <assignmentItems>
            <assignToReference>varNameAndAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Account.Name_and_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_number_of_accounts</name>
        <label>Save number of accounts</label>
        <locationX>2992</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfAccounts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Accounts_by_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_many_Accounts_where_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_number_of_contacts</name>
        <label>Save number of contacts</label>
        <locationX>880</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contacts_with_Mobile_or_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_than_one_Contact_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SaveNewCaseOwner</name>
        <label>SaveNewCaseOwner</label>
        <locationX>50</locationX>
        <locationY>3602</locationY>
        <assignmentItems>
            <assignToReference>varCaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactID</name>
        <label>Set ContactID</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_one_contact_by_Phone_or_Mobile.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_one_contact_by_Phone_or_Mobile.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_one_contact_by_Phone_or_Mobile.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactID2</name>
        <label>Set ContactID</label>
        <locationX>704</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>varContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contacts_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Show_Error</name>
        <label>Set Show Error</label>
        <locationX>2464</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please select one Contact or one Account.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>List_Contact_and_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Show_Error3</name>
        <label>Set Show Error</label>
        <locationX>1232</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You must enter a first name.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Show_Error4</name>
        <label>Set Show Error</label>
        <locationX>1496</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>ShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You must enter a last name.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Select_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Data</name>
        <label>Task Data</label>
        <locationX>880</locationX>
        <locationY>4466</locationY>
        <assignmentItems>
            <assignToReference>NewTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.CallType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.CallType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.CallObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.CallObject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Product_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.SubType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSubtype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.TaskSubtype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Caller_Firstname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCallerFirstname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Caller_Lastname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCallerLastname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.CallDurationInSeconds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.CallDurationInSeconds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choContactFromList</name>
        <choiceText>{!varContactListLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ContactFromList</stringValue>
        </value>
    </choices>
    <choices>
        <name>choDoNotLogCallOnACase</name>
        <choiceText>Do not log call on a case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoCase</stringValue>
        </value>
    </choices>
    <choices>
        <name>choLogCallToANewCase</name>
        <choiceText>Log call to a new case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewCase</stringValue>
        </value>
    </choices>
    <choices>
        <name>choLogCallToExistingCase</name>
        <choiceText>Log call to existing case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ExistingCase</stringValue>
        </value>
    </choices>
    <choices>
        <name>choNewAccountContact</name>
        <choiceText>{!varNewContactLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NewAccountContact</stringValue>
        </value>
    </choices>
    <choices>
        <name>choNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>choSaveCallerName</name>
        <choiceText>{!varCallerRegistrationLabel}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SaveCallerName</stringValue>
        </value>
    </choices>
    <choices>
        <name>choYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>choYesNo</name>
        <choiceText>choYesNo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choYesNo</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Any_changes_to_the_created_case</name>
        <label>Any changes to the created case ?</label>
        <locationX>336</locationX>
        <locationY>3362</locationY>
        <defaultConnector>
            <targetReference>Task_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changes_to_do</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Should_the_case_be_closed_automatically</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choYes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Should_case_be_assigned_to_you</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_owner_be_changed</targetReference>
            </connector>
            <label>Changes to do</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_contact_on_the_Task</name>
        <label>Any contact on the Task ?</label>
        <locationX>1936</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Accounts_by_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No contact on the Task</defaultConnectorLabel>
        <rules>
            <name>Contact_on_the_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contacts_with_Mobile_or_Phone</targetReference>
            </connector>
            <label>Contact on the Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_user_want_a_new_contact_to_be_created</name>
        <label>Do user want a new contact to be created?</label>
        <locationX>1782</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Save_Caller</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Save Caller</defaultConnectorLabel>
        <rules>
            <name>New_Contact_must_be_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_do_you_want_to_register_caller</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choNewAccountContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_name_filled_out</targetReference>
            </connector>
            <label>New Contact must be created</label>
        </rules>
        <rules>
            <name>Contact_selected_from_list</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_do_you_want_to_register_caller</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choContactFromList</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_ContactId_from_list</targetReference>
            </connector>
            <label>Contact selected from list</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_Accounts_where_found</name>
        <label>How many Accounts where found</label>
        <locationX>2992</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>MoreThanOneAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than one</defaultConnectorLabel>
        <rules>
            <name>One_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberOfAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountbyPhone</targetReference>
            </connector>
            <label>One Account</label>
        </rules>
        <rules>
            <name>None_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberOfAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoAccountsFound</targetReference>
            </connector>
            <label>No Accounts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_new_Case_Needed</name>
        <label>Is a new Case Needed ?</label>
        <locationX>880</locationX>
        <locationY>3122</locationY>
        <defaultConnector>
            <targetReference>Want_to_relate_to_existing_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Case is not needed</defaultConnectorLabel>
        <rules>
            <name>New_Case_is_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <label>New Case is needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_call_Inbound_or_OutBound</name>
        <label>Is call Inbound or OutBound ?</label>
        <locationX>2728</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Contacts_with_Mobile_or_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OutBound/Internal</defaultConnectorLabel>
        <rules>
            <name>Inbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Any_contact_on_the_Task</targetReference>
            </connector>
            <label>Inbound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Number_inserted</name>
        <label>Is Case Number inserted ?</label>
        <locationX>1128</locationX>
        <locationY>3362</locationY>
        <defaultConnector>
            <targetReference>Initiate_error_Case_number_must_be_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case must be selected</defaultConnectorLabel>
        <rules>
            <name>Case_Number_is_inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Insert_Case_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_case</targetReference>
            </connector>
            <label>Case Number is inserted</label>
        </rules>
        <rules>
            <name>Case_Number_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_cases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_case_data</targetReference>
            </connector>
            <label>Case Number is selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_or_Account_selected</name>
        <label>Is Contact or Account selected ?</label>
        <locationX>1584</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Set_Show_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None selected</defaultConnectorLabel>
        <rules>
            <name>Contact_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contacts_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_list</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ContactID2</targetReference>
            </connector>
            <label>Contact is selected</label>
        </rules>
        <rules>
            <name>Account_is_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contacts_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Accounts_list</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account is selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_name_filled_out</name>
        <label>Is name filled out ?</label>
        <locationX>1364</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Name_is_filled_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFirstname</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLastname</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateContact</targetReference>
            </connector>
            <label>Name is filled out</label>
        </rules>
        <rules>
            <name>Firstname_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFirstname</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Show_Error3</targetReference>
            </connector>
            <label>Firstname missing</label>
        </rules>
        <rules>
            <name>Lastname_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varLastname</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Show_Error4</targetReference>
            </connector>
            <label>Lastname missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_one_Contact_found</name>
        <label>More than one Contact found ?</label>
        <locationX>880</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>List_Contact_and_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>More than one found</defaultConnectorLabel>
        <rules>
            <name>One_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberOfContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_one_contact_by_Phone_or_Mobile</targetReference>
            </connector>
            <label>One Contact Found</label>
        </rules>
        <rules>
            <name>None_Contacts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberOfContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Accounts_by_Phone</targetReference>
            </connector>
            <label>No Contacts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Case_be_Closed</name>
        <label>Should Case be Closed</label>
        <locationX>182</locationX>
        <locationY>3938</locationY>
        <defaultConnector>
            <targetReference>Task_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Close_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_the_case_be_closed_automatically</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseStatus</targetReference>
            </connector>
            <label>Close Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_owner_be_changed</name>
        <label>Should owner be changed</label>
        <locationX>182</locationX>
        <locationY>3482</locationY>
        <defaultConnector>
            <targetReference>Should_Case_be_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Should_case_be_assigned_to_you</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SaveNewCaseOwner</targetReference>
            </connector>
            <label>Change Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_to_relate_to_existing_case</name>
        <label>Want to relate to existing case ?</label>
        <locationX>1425</locationX>
        <locationY>3242</locationY>
        <defaultConnector>
            <targetReference>Update_Task_and_Relate_to_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not relate</defaultConnectorLabel>
        <rules>
            <name>Relate_to_existing_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ExistingCase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Case_Number_inserted</targetReference>
            </connector>
            <label>Relate to existing case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_case_found</name>
        <label>Was case found ?</label>
        <locationX>798</locationX>
        <locationY>3602</locationY>
        <defaultConnector>
            <targetReference>Save_Case_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case was found</defaultConnectorLabel>
        <rules>
            <name>Case_was_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_error_Invalid_Case_number_inserted</targetReference>
            </connector>
            <label>Case was not found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountsByPhone</name>
        <dataType>String</dataType>
        <displayField>Name_and_Address__c</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhoneNoCountryCode</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CasesOnAccount</name>
        <dataType>String</dataType>
        <displayField>Type_and_Subject__c</displayField>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Close case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <sortField>CaseNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choAccountsByPhone</name>
        <dataType>String</dataType>
        <displayField>Name_and_Address__c</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhoneNoCountryCode</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name_and_Address__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choRecordtype</name>
        <dataType>String</dataType>
        <displayField>DeveloperName</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordtypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choTaskProductGroup</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Group__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choTaskSubType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SubType__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choTaskType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactByPhone</name>
        <dataType>String</dataType>
        <displayField>Name_Mobile_Account__c</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhoneNoCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhoneNoCountryCode</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name_Mobile_Account__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactsRelatedToAccount</name>
        <dataType>String</dataType>
        <displayField>Name_Mobile_Account__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <sortField>Name_Mobile_Account__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Selection_Message_text</name>
        <dataType>String</dataType>
        <expression>&quot;Please select one Contact or one Account.&quot;</expression>
    </formulas>
    <formulas>
        <name>varCallerFullname</name>
        <dataType>String</dataType>
        <expression>{!varCallerFirstname} + &apos; &apos; + {!varCallerLastname}</expression>
    </formulas>
    <formulas>
        <name>varCallerRegistrationLabel</name>
        <dataType>String</dataType>
        <expression>&quot;Register caller name.                        Use this option If you just want to register the caller name on the call.&quot;</expression>
    </formulas>
    <formulas>
        <name>varContactListLabel</name>
        <dataType>String</dataType>
        <expression>&quot;Select Contact from below list. Use this option if caller already exists on account.&quot;</expression>
    </formulas>
    <formulas>
        <name>varNewContactLabel</name>
        <dataType>String</dataType>
        <expression>&quot;Create a new contact related to the account. Use this option if you want to create a new contact related to the account.&quot;</expression>
    </formulas>
    <formulas>
        <name>varPhone</name>
        <dataType>String</dataType>
        <expression>IF((ISPICKVAL({!Get_Task.CallType},&quot;Inbound&quot;)),{!Get_Task.Phone__c}, SUBSTITUTE({!Get_Task.Phone__c},&apos;000902&apos;,&apos;+45&apos;))</expression>
    </formulas>
    <formulas>
        <name>varPhoneNoCountryCode</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Task.Phone__c},&apos;+45&apos;,&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>varTaskDescription</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Task.Description}, &apos;000902&apos;, &apos;+45&apos;) + br() + {!Description}</expression>
    </formulas>
    <formulas>
        <name>varTaskSubject</name>
        <dataType>String</dataType>
        <expression>{!Get_Task.Subject} + &quot; regarding &quot; + {!varType} + &quot;, &quot; + {!varSubtype}</expression>
    </formulas>
    <interviewLabel>Log a call using ACE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log a call using ACE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>336</locationX>
        <locationY>3242</locationY>
        <assignRecordIdToReference>varCaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Any_changes_to_the_created_case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductGroup__c</field>
            <value>
                <elementReference>Product_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>varSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Task</name>
        <label>Create New Task</label>
        <locationX>880</locationX>
        <locationY>4586</locationY>
        <connector>
            <targetReference>RemoveTask</targetReference>
        </connector>
        <inputReference>NewTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateContact</name>
        <label>CreateContact</label>
        <locationX>968</locationX>
        <locationY>1718</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>varFirstname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>varLastname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>varContactMobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varContactPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordDeletes>
        <name>RemoveTask</name>
        <label>RemoveTask</label>
        <locationX>880</locationX>
        <locationY>4706</locationY>
        <connector>
            <targetReference>RedirectToCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>callLogId</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordDeletes>
    <recordLookups>
        <name>Contacts_with_Mobile_or_Phone</name>
        <label>Contacts with Mobile or Phone</label>
        <locationX>880</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_number_of_contacts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhoneNoCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhoneNoCountryCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1782</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_AccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Accounts_list</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account2</name>
        <label>Get Account</label>
        <locationX>880</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_AccountId4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts_by_Phone</name>
        <label>Get Accounts by Phone</label>
        <locationX>2992</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_number_of_accounts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhoneNoCountryCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_case</name>
        <label>Get case</label>
        <locationX>798</locationX>
        <locationY>3482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_case_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Insert_Case_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1584</locationX>
        <locationY>2186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_ContactId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_one_contact_by_Phone_or_Mobile</name>
        <label>Get one contact by Phone or Mobile</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ContactID</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_recordtype</name>
        <label>Get recordtype</label>
        <locationX>880</locationX>
        <locationY>3002</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_a_new_Case_Needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer_Service_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Account</name>
        <label>Get Selected Account</label>
        <locationX>2992</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Name_and_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>2728</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_call_Inbound_or_OutBound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>callLogId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountbyPhone</name>
        <label>Get Account by Phone</label>
        <locationX>2728</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_AccountId1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varPhoneNoCountryCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_and_Relate_to_Account</name>
        <label>Update Task and Relate to Account</label>
        <locationX>1722</locationX>
        <locationY>3362</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>callLogId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Caller_Firstname__c</field>
            <value>
                <elementReference>varCallerFirstname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Caller_Lastname__c</field>
            <value>
                <elementReference>varCallerLastname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>varTaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group__c</field>
            <value>
                <elementReference>Product_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <elementReference>varSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseOwner</name>
        <label>UpdateCaseOwner</label>
        <locationX>50</locationX>
        <locationY>3722</locationY>
        <connector>
            <targetReference>Should_Case_be_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varCaseOwner</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseStatus</name>
        <label>UpdateCaseStatus</label>
        <locationX>50</locationX>
        <locationY>4058</locationY>
        <connector>
            <targetReference>Task_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>List_Contact_and_Accounts</name>
        <label>List Contact and Accounts</label>
        <locationX>1584</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Contact_or_Account_selected</targetReference>
        </connector>
        <fields>
            <name>ChooseContactorAccount</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Choose a Contact or an Account from below lists&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contacts_List</name>
            <choiceReferences>ContactByPhone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contacts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Accounts_list</name>
            <choiceReferences>AccountsByPhone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accounts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectionErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 0, 0);&quot;&gt;{!Selection_Message_text}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MoreThanOneAccount</name>
        <label>MoreThanOneAccount</label>
        <locationX>3256</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Account_Collection</targetReference>
        </connector>
        <fields>
            <name>SelectAccountFromList</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Select Account from below list&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MoreThanOneAccountbyPhone</name>
            <choiceReferences>choAccountsByPhone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accounts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoAccountsFound</name>
        <label>NoAccountsFound</label>
        <locationX>2992</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_AccountId7</targetReference>
        </connector>
        <fields>
            <name>SelectAccountFromList2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Search for and select Account from below list&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AllAccountList</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Accounts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Contact</name>
        <label>Select Contact</label>
        <locationX>1782</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_user_want_a_new_contact_to_be_created</targetReference>
        </connector>
        <fields>
            <name>Select_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountForNewContact</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varNameAndAddress</elementReference>
                    </defaultValue>
                    <fieldText>Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>How_do_you_want_to_register_caller</name>
            <choiceReferences>choContactFromList</choiceReferences>
            <choiceReferences>choNewAccountContact</choiceReferences>
            <choiceReferences>choSaveCallerName</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choContactFromList</defaultSelectedChoiceReference>
            <fieldText>How do you want to register caller:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AccountContacts</name>
            <choiceReferences>ContactsRelatedToAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contacts</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>How_do_you_want_to_register_caller</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choContactFromList</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Contact_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Contact_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Caller_Firstname</name>
                    <dataType>String</dataType>
                    <fieldText>Caller Firstname</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Select_Contact_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Caller_Lastname</name>
                    <dataType>String</dataType>
                    <fieldText>Caller Lastname</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>How_do_you_want_to_register_caller</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choSaveCallerName</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Contact_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Contact_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewContactTxt</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create new Contact&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ContactName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varLastname</assignToReference>
                        <name>lastName</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varFirstname</assignToReference>
                        <name>firstName</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ContactPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_Task.Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varContactPhone</assignToReference>
                        <name>value</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Mobile</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varContactMobile</assignToReference>
                        <name>value</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>How_do_you_want_to_register_caller</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choNewAccountContact</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(250, 4, 4);&quot;&gt;{!varErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_and_Case_input</name>
        <label>Task and Case input</label>
        <locationX>880</locationX>
        <locationY>2882</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_recordtype</targetReference>
        </connector>
        <fields>
            <name>Task_and_Case_input_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Task_and_Case_input_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varContactName</elementReference>
                    </defaultValue>
                    <fieldText>Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Account</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varNameAndAddress</elementReference>
                    </defaultValue>
                    <fieldText>Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varNameAndAddress</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TypeAndSubtype</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Task</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>SubType__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Subtype</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>choTaskType</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>choTaskSubType</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varType</assignToReference>
                        <name>topValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>varSubtype</assignToReference>
                        <name>middleValue</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Product_Group</name>
                    <choiceReferences>choTaskProductGroup</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product Group</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Task_and_Case_input_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The description will be saved on the task. If you select also to create a Case, the description will also be saved on the Case.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_would_you_like_to</name>
            <choiceReferences>choLogCallToExistingCase</choiceReferences>
            <choiceReferences>choLogCallToANewCase</choiceReferences>
            <choiceReferences>choDoNotLogCallOnACase</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choDoNotLogCallOnACase</defaultSelectedChoiceReference>
            <fieldText>What would you like to:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Insert_Case_Number</name>
            <dataType>String</dataType>
            <fieldText>Insert Case Number or select Case from list</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_would_you_like_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choLogCallToExistingCase</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Existing_cases</name>
            <choiceReferences>CasesOnAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Existing cases</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_would_you_like_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ExistingCase</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_would_you_like_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>NewCase</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Task_and_Case_input_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Task_and_Case_input_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Should_case_be_assigned_to_you</name>
                    <choiceReferences>choYes</choiceReferences>
                    <choiceReferences>choNo</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultSelectedChoiceReference>choNo</defaultSelectedChoiceReference>
                    <fieldText>Should case be assigned to you ?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Task_and_Case_input_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Should_the_case_be_closed_automatically</name>
                    <choiceReferences>choYes</choiceReferences>
                    <choiceReferences>choNo</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultSelectedChoiceReference>choNo</defaultSelectedChoiceReference>
                    <fieldText>Should the case be closed automatically ?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_would_you_like_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>NewCase</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 3, 3);&quot;&gt;{!varErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2602</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>callLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>ShowError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCallerFirstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCallerLastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseDefaultChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactMobile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNameAndAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberOfAccounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNumberOfContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRecordtypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedSubtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
