force-app/main/default/flows/Opportunity_Factbook.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Additional_Information_Help</name>
        <label>Assign Additional Information Help</label>
        <locationX>1766</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>AdditionalInformationHelpText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_opportunity_guidance_texts.Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Configuration_Network_Setup</name>
        <label>Assign Configuration Network Setup</label>
        <locationX>2822</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>MSG_Configuration_Network_Setup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_opportunity_guidance_texts.Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_error_It_is_only_allowed_to_request_a_specialist_for_a_complex_opportunit</name>
        <label>Assign error: It is only allowed to request a specialist for a complex opportunity</label>
        <locationX>1238</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>It is only allowed to request a specialist for a complex opportunity.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_values</name>
        <label>Assign Opportunity values</label>
        <locationX>820</locationX>
        <locationY>4364</locationY>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity.Complexity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complexity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity.Delivery_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_information_for_delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity.DecisionMakerNotFound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TDMNotRequiredForLowComplexety</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity.SalesSpecialistNOTneeded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SSNotNeededForLowComplexity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity.Complex_Size_of_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Size_of_Order_chk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity.Complex_Pricing_Contractual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricing_Contractual_chk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity.Complex_Configuration_Network_Setup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Configuration_Network_setup_chk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity.Complex_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Opportunity_complex</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_opportunity_values2</name>
        <label>Assign opportunity values</label>
        <locationX>182</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity_2.Complex_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Opportunity_complex</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity_2.Delivery_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_information_for_delivery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity_2.Complex_Configuration_Network_Setup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity_2.Complex_Pricing_Contractual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity_2.Complex_Size_of_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity_2.DecisionMakerNotFound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Updated_Opportunity_2.SalesSpecialistNOTneeded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Codes</name>
        <label>Assign Product Codes</label>
        <locationX>710</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>ProductCodesInQuote</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentProductCodeKomma</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Specialist_Missing</name>
        <label>Assign Sales Specialist Missing</label>
        <locationX>1238</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Sales_Specialist_Missing_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_opportunity_guidance_texts.Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Specialist_Not_Required</name>
        <label>Assign Sales Specialist Not Required</label>
        <locationX>446</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>SSNotNeededForLowComplexity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_complexity_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Specialist_Not_Required_0</name>
        <label>Assign Sales Specialist Not Required</label>
        <locationX>710</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>SSNotNeededForLowComplexity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Specialist_NOT_needed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_complexity_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Specialist_Not_Required_0_0</name>
        <label>Assign Sales Specialist Not Required</label>
        <locationX>446</locationX>
        <locationY>3314</locationY>
        <assignmentItems>
            <assignToReference>SSNotNeededForLowComplexity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Technical_Decision_Maker_added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Size_of_Order</name>
        <label>Assign Size of Order</label>
        <locationX>2294</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>MSG_Size_of_Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_opportunity_guidance_texts.Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SS_not_needed_message</name>
        <label>Assign SS not needed message</label>
        <locationX>2030</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>SalesSpecialistNotNeededInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_opportunity_guidance_texts.Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TDM_not_required_message</name>
        <label>Assign TDM not required message</label>
        <locationX>1502</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>TDMnotrequiredmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_opportunity_guidance_texts.Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Technical_Decision_Maker_Missing</name>
        <label>Assign Technical Decision Maker Missing</label>
        <locationX>974</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Technical_Decision_Maker_Missing_Text</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_opportunity_guidance_texts.Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Technical_Decision_Maker_Not_Required</name>
        <label>Assign Technical Decision Maker Not Required</label>
        <locationX>578</locationX>
        <locationY>4064</locationY>
        <assignmentItems>
            <assignToReference>TDMNotRequiredForLowComplexety</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Updated_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Technical_Decision_Maker_Not_Required_0</name>
        <label>Assign Technical Decision Maker Not Required</label>
        <locationX>710</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>TDMNotRequiredForLowComplexety</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Technical_Decision_Maker_NOT_required_at_this_point</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Technical_decision_maker_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Text</name>
        <label>Assign Text</label>
        <locationX>710</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>TextToDisplay</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FactbookTextWithFormatting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextToDisplayAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Pricing_Contractual</name>
        <label>Assing Pricing Contractual</label>
        <locationX>2558</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>MSG_Pricing_Contractual</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_opportunity_guidance_texts.Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_error</name>
        <label>Clear error</label>
        <locationX>622</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>varErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Button_redirect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complexity1_Help</name>
        <label>Complexity1 Help</label>
        <locationX>3086</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Complexity1HelpText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_opportunity_guidance_texts.Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complexity2_Help</name>
        <label>Complexity2 Help</label>
        <locationX>3350</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Complexity2HelpText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_opportunity_guidance_texts.Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complexity3_Help</name>
        <label>Complexity3 Help</label>
        <locationX>3614</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Complexity3HelpText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_opportunity_guidance_texts.Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complexity4_Help</name>
        <label>Complexity4 Help</label>
        <locationX>3878</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Complexity4HelpText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_opportunity_guidance_texts.Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_of_Sales_Specialists</name>
        <label>No of Sales Specialists</label>
        <locationX>556</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>NoOfSalesSpecialists</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Team_Member</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Team_Member_SalesSpecialist_Count__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Team_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_SS_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_of_Technical_Decision_Makers</name>
        <label>No of Technical Decision Makers</label>
        <locationX>116</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>NoOfTechnicalDecisionMakers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Contact_Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Contact_Role_DecisionMaker_Count__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Contact_Role</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_TDM_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Text_to_Display</name>
        <label>Reset Text to Display</label>
        <locationX>622</locationX>
        <locationY>4748</locationY>
        <assignmentItems>
            <assignToReference>TextToDisplay</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TDMnotrequiredmessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TDMNotRequiredForLowComplexety</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SSNotNeededForLowComplexity</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Request_Specialist_Button_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_RequestedRoles</name>
        <label>Save RequestedRoles</label>
        <locationX>622</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varSaveRequestedRoles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Requested_Role__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Any_Sales_Specialists</name>
        <label>Any Sales Specialists ?</label>
        <locationX>688</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Specialists_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Team_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_of_Sales_Specialists</targetReference>
            </connector>
            <label>Sales Specialists Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Technical_Decision_Makers</name>
        <label>Any Technical Decision Makers ?</label>
        <locationX>248</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technicial_Decision_Maker_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Role</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_of_Technical_Decision_Makers</targetReference>
            </connector>
            <label>Technicial Decision Maker Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Button_redirect</name>
        <label>Button redirect</label>
        <locationX>622</locationX>
        <locationY>2582</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refresh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Text_to_Display</targetReference>
            </connector>
            <label>Refresh</label>
        </rules>
        <rules>
            <name>Savedata</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Complex_opportunity_selected</targetReference>
            </connector>
            <label>Save</label>
        </rules>
        <rules>
            <name>Request_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RequestSpecialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Opportunity_complex2</targetReference>
            </connector>
            <label>Request Specialist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Product_Code_match</name>
        <label>Check for Product Code match</label>
        <locationX>2514</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Code_in_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductCodesInQuote</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_opportunity_guidance_texts.Product_Code__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Text</targetReference>
            </connector>
            <label>Product Code in List</label>
        </rules>
        <rules>
            <name>Error_message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_opportunity_guidance_texts.Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_label</targetReference>
            </connector>
            <label>Error message</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Technical_decision_maker_value</name>
        <label>Check Technical decision maker value</label>
        <locationX>710</locationX>
        <locationY>3722</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Updated_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Value good</defaultConnectorLabel>
        <rules>
            <name>Value_equals_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TDMNotRequiredForLowComplexety</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Technical_Decision_Maker_Not_Required</targetReference>
            </connector>
            <label>Value equals null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_label</name>
        <label>Error label</label>
        <locationX>2558</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Technical_Decision_Maker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_opportunity_guidance_texts.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Decision_Maker_Missing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Technical_Decision_Maker_Missing</targetReference>
            </connector>
            <label>Technical Decision Maker</label>
        </rules>
        <rules>
            <name>Sales_Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_opportunity_guidance_texts.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Specialist_Missing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Specialist_Missing</targetReference>
            </connector>
            <label>Sales Specialist</label>
        </rules>
        <rules>
            <name>Technical_Decision_Maker_Not_found_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_opportunity_guidance_texts.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical_Decision_Maker_Not_Req_Msg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TDM_not_required_message</targetReference>
            </connector>
            <label>Technical Decision Maker Not found Information</label>
        </rules>
        <rules>
            <name>Additional_Information_Help</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_opportunity_guidance_texts.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional_Information_for_Delivery_Help</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Additional_Information_Help</targetReference>
            </connector>
            <label>Additional Information Help</label>
        </rules>
        <rules>
            <name>Sales_Specialist_NOT_needed_Information</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_opportunity_guidance_texts.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales_Specialist_NOT_needed_Msg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SS_not_needed_message</targetReference>
            </connector>
            <label>Sales Specialist NOT needed Information</label>
        </rules>
        <rules>
            <name>Size_of_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_opportunity_guidance_texts.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Size_of_Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Size_of_Order</targetReference>
            </connector>
            <label>Size of Order</label>
        </rules>
        <rules>
            <name>Pricing_Contractual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_opportunity_guidance_texts.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing_Contractual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_Pricing_Contractual</targetReference>
            </connector>
            <label>Pricing Contractual</label>
        </rules>
        <rules>
            <name>Configuration_Network_Setup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_opportunity_guidance_texts.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Configuration_Network_Setup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Configuration_Network_Setup</targetReference>
            </connector>
            <label>Configuration Network Setup</label>
        </rules>
        <rules>
            <name>Complexity1_Help_MSG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_opportunity_guidance_texts.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complexity1_Help</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complexity1_Help</targetReference>
            </connector>
            <label>Complexity1 Help MSG</label>
        </rules>
        <rules>
            <name>Complexity2_Help_MSG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_opportunity_guidance_texts.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complexity2_Help</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complexity2_Help</targetReference>
            </connector>
            <label>Complexity2 Help MSG</label>
        </rules>
        <rules>
            <name>Complexity3_Help_MSG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_opportunity_guidance_texts.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complexity3_Help</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complexity3_Help</targetReference>
            </connector>
            <label>Complexity3 Help MSG</label>
        </rules>
        <rules>
            <name>Complexity4_Help_MSG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_opportunity_guidance_texts.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complexity4_Help</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complexity4_Help</targetReference>
            </connector>
            <label>Complexity4 Help MSG</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Complex_opportunity_selected</name>
        <label>Is Complex opportunity selected ?</label>
        <locationX>50</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Opportunity_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Complex Opportunity NOT selected</defaultConnectorLabel>
        <rules>
            <name>Complex_Opportunity_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Opportunity_complex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Is_Sales_Specialist_or_Technical_Decision_Maker_needed</targetReference>
            </connector>
            <label>Complex Opportunity Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_complexity_1</name>
        <label>Is complexity 1 ?</label>
        <locationX>578</locationX>
        <locationY>3206</locationY>
        <defaultConnector>
            <targetReference>Is_Technical_Decision_Maker_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Complexity &lt;&gt; 1</defaultConnectorLabel>
        <rules>
            <name>Complexity_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Complexity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Specialist_Not_Required_0_0</targetReference>
            </connector>
            <label>Complexity = 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_count0</name>
        <label>Is count 0 ?</label>
        <locationX>622</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Role_count_is_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Contact_Role_DecisionMaker_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Role</targetReference>
            </connector>
            <label>Contact Role count is Zero</label>
        </rules>
        <rules>
            <name>Team_Member_count_is_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Team_Member_SalesSpecialist_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Team_Member</targetReference>
            </connector>
            <label>Team Member count is Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportunity_complex2</name>
        <label>Is Opportunity complex ?</label>
        <locationX>1029</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>Assign_error_It_is_only_allowed_to_request_a_specialist_for_a_complex_opportunit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity is not complex</defaultConnectorLabel>
        <rules>
            <name>Opportunity_is_complex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Opportunity_complex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Sales_Specialist_or_Technical_Decision_Maker_needed</targetReference>
            </connector>
            <label>Opportunity is complex</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Request_Specialist_Button_Selected</name>
        <label>Is Request Specialist Button Selected ?</label>
        <locationX>622</locationX>
        <locationY>4856</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Button_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RequestSpecialist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Specialists</targetReference>
            </connector>
            <label>Request Button Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sales_Specialist_added</name>
        <label>Is Sales Specialist added ?</label>
        <locationX>578</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>Assign_Sales_Specialist_Not_Required_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales specialist not added</defaultConnectorLabel>
        <rules>
            <name>Sales_Specialist_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Team_Member_SalesSpecialist_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Specialist_Not_Required</targetReference>
            </connector>
            <label>Sales Specialist added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Sales_Specialist_or_Technical_Decision_Maker_needed</name>
        <label>Is Sales Specialist or Technical Decision Maker needed</label>
        <locationX>820</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Configuration not selected</defaultConnectorLabel>
        <rules>
            <name>Configuration_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Configuration_Network_setup_chk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Sales_Specialist_added</targetReference>
            </connector>
            <label>Configuration selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Technical_Decision_Maker_added</name>
        <label>Is Technical Decision Maker added ?</label>
        <locationX>578</locationX>
        <locationY>3506</locationY>
        <defaultConnector>
            <targetReference>Assign_Technical_Decision_Maker_Not_Required_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Technical Decision Maker not added</defaultConnectorLabel>
        <rules>
            <name>Technical_Decision_Maker_Added</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Contact_Role_DecisionMaker_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Complexity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Technical_Decision_Maker_Not_Required</targetReference>
            </connector>
            <label>Technical Decision Maker Added</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ComplexPicklistChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complexity__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentProductCodeKomma</name>
        <dataType>String</dataType>
        <expression>{!Loop_through_Quote_Lines.SBQQ__ProductCode__c} + &quot;, &quot;</expression>
    </formulas>
    <formulas>
        <name>EmptyLine</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>EmptyText</name>
        <dataType>String</dataType>
        <expression>&quot;​​​​​​​​​​​​​​​​​​​​​&quot;</expression>
    </formulas>
    <formulas>
        <name>FactbookTextWithFormatting</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;li&gt;&lt;b&gt;&quot;+{!Loop_through_opportunity_guidance_texts.Text__c}+&quot;&lt;/b&gt;&lt;br&gt;&lt;/li&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>varRequestedSpecialists</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!varSaveRequestedRoles}, &quot;;&quot;, &quot;, &quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity Factbook {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Factbook</label>
    <loops>
        <name>Loop_through_opportunity_guidance_texts</name>
        <label>Loop through opportunity guidance texts</label>
        <locationX>622</locationX>
        <locationY>1682</locationY>
        <collectionReference>Get_All_Opportunity_Guidance_Texts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Product_Code_match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunity_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Quote_Lines</name>
        <label>Loop through Quote Lines</label>
        <locationX>622</locationX>
        <locationY>1382</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_Codes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_opportunity_guidance_texts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Opportunity_Guidance_Texts</name>
        <label>Get All Opportunity Guidance Texts</label>
        <locationX>622</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_count0</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Guidance_Text__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Text__c</queriedFields>
        <queriedFields>Product_Code__c</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Message__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Role</name>
        <label>Get Contact Role</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Technical_Decision_Makers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Technical Decision Maker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>622</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_RequestedRoles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>622</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>622</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Opportunity_Guidance_Texts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Member</name>
        <label>Get Team Member</label>
        <locationX>688</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Sales_Specialists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Sales Specialist</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the Opportunity again before update, so if the opportunity has been updated before requesting the specialist, those changes will remain.</description>
        <name>Get_Updated_Opportunity</name>
        <label>Get Updated Opportunity</label>
        <locationX>820</locationX>
        <locationY>4256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Opportunity_2</name>
        <label>Get Updated Opportunity</label>
        <locationX>182</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_opportunity_values2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>820</locationX>
        <locationY>4472</locationY>
        <connector>
            <targetReference>Reset_Text_to_Display</targetReference>
        </connector>
        <inputReference>Get_Updated_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_2</name>
        <label>Update Opportunity</label>
        <locationX>182</locationX>
        <locationY>3014</locationY>
        <connector>
            <targetReference>Reset_Text_to_Display</targetReference>
        </connector>
        <inputReference>Get_Updated_Opportunity_2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_SS_Count</name>
        <label>Update Opportunity SS Count</label>
        <locationX>556</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Team_Member_SalesSpecialist_Count__c</field>
            <value>
                <elementReference>NoOfSalesSpecialists</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_TDM_Count</name>
        <label>Update Opportunity TDM Count</label>
        <locationX>116</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Role_DecisionMaker_Count__c</field>
            <value>
                <elementReference>NoOfTechnicalDecisionMakers</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Opportunity_Screen</name>
        <label>Opportunity Screen</label>
        <locationX>622</locationX>
        <locationY>2366</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clear_error</targetReference>
        </connector>
        <fields>
            <name>Opportunity_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Factbook_Header_Text</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Opportunity Guidance &lt;/b&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;(remember to save your changes)&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Buttons</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Refresh&quot;,&quot;value&quot;:&quot;Refresh&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:refresh&quot;,&quot;index&quot;:0,&quot;descriptionText&quot;:&quot;To update values in factbook please refresh&quot;},{&quot;label&quot;:&quot;Request Specialist&quot;,&quot;value&quot;:&quot;RequestSpecialist&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:adduser&quot;},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:save&quot;,&quot;index&quot;:2}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ErrorMsgText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(240, 3, 3);&quot;&gt;{!varErrorMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OpportunityScreenText</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;font-size: 16px;&quot;&gt;Pay attention to the following&lt;/i&gt;:&lt;/p&gt;&lt;p&gt;{!TextToDisplay}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TextToDisplayAvailable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Opportunity_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_Opportunity_complex</name>
                    <choiceReferences>ChoiceYes</choiceReferences>
                    <choiceReferences>ChoiceNo</choiceReferences>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Complex_Opportunity__c</elementReference>
                    </defaultValue>
                    <fieldText>Is Opportunity complex ?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Complexity_Text</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;﻿Complexity:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Opportunity_complex</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Size_of_Order_chk</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Complex_Size_of_Order__c</elementReference>
                    </defaultValue>
                    <fieldText>Size of Order</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Opportunity_complex</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Blank_12</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!EmptyLine}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Opportunity_complex</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Size_of_Order_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Pricing_Contractual_chk</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Complex_Pricing_Contractual__c</elementReference>
                    </defaultValue>
                    <fieldText>Pricing / Contractual</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Opportunity_complex</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Blank_13</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!EmptyLine}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Opportunity_complex</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Pricing_Contractual_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Configuration_Network_setup_chk</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Complex_Configuration_Network_Setup__c</elementReference>
                    </defaultValue>
                    <fieldText>Configuration / Network setup</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Opportunity_complex</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Complexity</name>
                    <choiceReferences>ComplexPicklistChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Complexity__c</elementReference>
                    </defaultValue>
                    <fieldText>Complexity size</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;{!Complexity1HelpText}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Complexity2HelpText}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Complexity3HelpText}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Complexity4HelpText}&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Configuration_Network_setup_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_6</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;﻿{!EmptyLine}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Opportunity_complex</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SizeOfOrderText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(11, 11, 11);&quot;&gt;{!MSG_Size_of_Order}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Size_of_Order_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Is_Opportunity_complex</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Blank_14</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;﻿{!EmptyLine}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Opportunity_complex</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Size_of_Order_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>PricingContractualText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(11, 11, 11);&quot;&gt;﻿{!MSG_Pricing_Contractual}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Pricing_Contractual_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Is_Opportunity_complex</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Blank_10</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!EmptyLine}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Pricing_Contractual_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Is_Opportunity_complex</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ConfigurationNetworkSetupText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(8, 8, 8); font-size: 14px;&quot;&gt;{!MSG_Configuration_Network_Setup}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Configuration_Network_setup_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Is_Opportunity_complex</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Opportunity_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ListRequestedSpecialists</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Requested Specialists: &lt;/b&gt;{!varRequestedSpecialists}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_Opportunity_complex</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varSaveRequestedRoles</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Opportunity_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BeforeNegotiation</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Before proposal stage:&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5) AND 6</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Team_Member_SalesSpecialist_Count__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Contact_Role_DecisionMaker_Count__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>2</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>3</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>4</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Configuration_Network_setup_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SalesSpecialistText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 3, 3);&quot;&gt;{!Sales_Specialist_Missing_Text}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>2</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>3</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>4</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Team_Member_SalesSpecialist_Count__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Configuration_Network_setup_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Blank_2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!EmptyLine}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Team_Member_SalesSpecialist_Count__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Sales_Specialist_NOT_needed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>1</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Blank_15</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!EmptyLine}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>(1 AND 2) OR 3</conditionLogic>
                        <conditions>
                            <leftValueReference>Configuration_Network_setup_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Team_Member_SalesSpecialist_Count__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>1</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TechnicalDecisionMakerText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 1, 1);&quot;&gt;{!Technical_Decision_Maker_Missing_Text}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>4 AND 5 AND (1 OR 2 OR 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>2</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>3</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>4</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Contact_Role_DecisionMaker_Count__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Configuration_Network_setup_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_text1</name>
                    <fieldText>&lt;p&gt;{!EmptyLine}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Configuration_Network_setup_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Sales_Specialist_NOT_needed</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.SalesSpecialistNOTneeded__c</elementReference>
                    </defaultValue>
                    <fieldText>Sales Specialist NOT needed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Opportunity_complex</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ChoiceYes</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Configuration_Network_setup_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Blank_1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;{!EmptyLine}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Team_Member_SalesSpecialist_Count__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Team_Member_SalesSpecialist_Count__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Sales_Specialist_NOT_needed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>1</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Technical_Decision_Maker_NOT_required_at_this_point</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.DecisionMakerNotFound__c</elementReference>
                    </defaultValue>
                    <fieldText>Technical Decision Maker NOT found</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1 AND 5 AND (2 OR 3 OR 4)</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Contact_Role_DecisionMaker_Count__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>2</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>3</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>4</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Configuration_Network_setup_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Screen_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Blank_text3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!EmptyLine}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Configuration_Network_setup_chk</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Message_when_SS_is_NOT_needed</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 5, 13); font-size: 14px;&quot;&gt;{!SalesSpecialistNotNeededInformation}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sales_Specialist_NOT_needed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Complexity</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>1</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Team_Member_SalesSpecialist_Count__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Blank_5</name>
                    <fieldText>&lt;p&gt;{!EmptyLine}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>1 AND 2</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Team_Member_SalesSpecialist_Count__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Sales_Specialist_NOT_needed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Message_when_TDM_is_NOT_required</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 3, 48); font-size: 14px;&quot;&gt;{!TDMnotrequiredmessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Technical_Decision_Maker_NOT_required_at_this_point</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Contact_Role_DecisionMaker_Count__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_information_for_delivery</name>
            <defaultValue>
                <stringValue>{!Get_Opportunity.Delivery_Description__c}</stringValue>
            </defaultValue>
            <fieldText>Additional information for delivery</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;{!AdditionalInformationHelpText}&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Select_Specialists</name>
        <label>Select Specialists</label>
        <locationX>490</locationX>
        <locationY>4964</locationY>
        <flowName>Opportunity_Factbook_Select_Requested_Roles</flowName>
        <inputAssignments>
            <name>varOpportunity</name>
            <value>
                <elementReference>Get_Opportunity</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AdditionalInformationHelpText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Complexity1HelpText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Complexity2HelpText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Complexity3HelpText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Complexity4HelpText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSG_Configuration_Network_Setup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSG_Pricing_Contractual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MSG_Size_of_Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoOfSalesSpecialists</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfTechnicalDecisionMakers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProductCodesInQuote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sales_Specialist_Missing_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesSpecialistNotNeededInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SSNotNeededForLowComplexity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TDMNotRequiredForLowComplexety</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TDMnotrequiredmessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Technical_Decision_Maker_Missing_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TextToDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;ul&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>TextToDisplayAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSaveRequestedRoles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShowError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Visible</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
