force-app/main/default/flows/Opportunity_Subflow_Create_Opportunity_Home_Office.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_email_to_Head_of_delivery</name>
        <label>Send email to Head of delivery</label>
        <locationX>1506</locationX>
        <locationY>485</locationY>
        <actionName>Opportunity.Head_of_delivery_Home_office</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OpportunityInput.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Head_of_delivery_Home_office</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Implementation_period</name>
        <label>Assign Implementation period</label>
        <locationX>821</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>OpportunityInput.Implementation_Period_weeks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_from_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_from_Screen</name>
        <label>Assign Values from Screen</label>
        <locationX>997</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>OpportunityInput.Complex_Size_of_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfConnectionsFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityInput.Home_Office_Product_Preference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductPreferencePicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityInput.Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractTypePicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityInput.Number_of_Connections__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfConnectionsNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityInput.Complex_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberOfConnectionsFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityInput.Need_Customer_Project_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NeedCustomerProjectManagerPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityInput.Need_Help_for_Data_Collection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NeedHelpDataCollectionPicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_selected</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FrameworkAgreement</name>
        <choiceText>Framework Agreement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Framework Agreement</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>SummaryContractAmount</name>
        <choiceText>Summary Contract Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Summary Contract Amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Contact_selected</name>
        <label>Contact selected</label>
        <locationX>1124</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Selected</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactPersonPicklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Role</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Head_of_Delivery_needed</name>
        <label>Head of Delivery needed</label>
        <locationX>1496</locationX>
        <locationY>283</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfConnectionsNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_Head_of_delivery</targetReference>
            </connector>
            <label>Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Connections</name>
        <label>Number of Connections</label>
        <locationX>806</locationX>
        <locationY>252</locationY>
        <defaultConnector>
            <targetReference>Assign_Implementation_period</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&lt;100</defaultConnectorLabel>
        <rules>
            <name>X100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfConnectionsNumber</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_from_Screen</targetReference>
            </connector>
            <label>&gt;100</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountContactRelationshipRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Contact_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityInput.AccountId</elementReference>
            </value>
        </filters>
        <object>AccountContactRelation</object>
        <valueField>ContactId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AccountContactRoleRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>ContactId</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityInput.AccountId</elementReference>
            </value>
        </filters>
        <object>AccountContactRole</object>
        <valueField>ContactId</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactsAccountRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityInput.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductPreferenceChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Home_Office_Product_Preference__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>NeedHelpDataCollectionFormula</name>
        <dataType>Boolean</dataType>
        <expression>{!NeedHelpDataCollectionPicklist} = &quot;Yes&quot;</expression>
    </formulas>
    <formulas>
        <name>NumberOfConnectionsFormula</name>
        <dataType>Boolean</dataType>
        <expression>{!NumberOfConnectionsNumber} &gt;= 100</expression>
    </formulas>
    <interviewLabel>Opportunity Subflow Create Opportunity Home Office {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Subflow Create Opportunity Home Office</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role</label>
        <locationX>1136</locationX>
        <locationY>444</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactPersonPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OpportunityInput.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Contact Person</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1335</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Head_of_Delivery_needed</targetReference>
        </connector>
        <inputReference>OpportunityInput</inputReference>
    </recordUpdates>
    <screens>
        <name>Home_Office_additional_information</name>
        <label>Home Office additional information</label>
        <locationX>655</locationX>
        <locationY>239</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Number_of_Connections</targetReference>
        </connector>
        <fields>
            <name>Home_Office_additional_information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Home_Office_additional_information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NumberOfConnectionsText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Type in number of Home Office connections in this opportunity&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Home_Office_additional_information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NumberOfConnectionsNumber</name>
                    <dataType>Number</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Home_Office_additional_information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Home_Office_additional_information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NeedHelpDataCollectionText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Need for Help doing Data collection for Customer&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Home_Office_additional_information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NeedHelpDataCollectionPicklist</name>
                    <choiceReferences>YesChoice</choiceReferences>
                    <choiceReferences>NoChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Purpose is to determine if Delivery should use extra resources to handle this implementation case.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NumberOfConnectionsNumber</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>100.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Home_Office_additional_information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Home_Office_additional_information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NeedCustomerProjectManagerText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Need Customer Project Manager?&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Home_Office_additional_information_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NeedCustomerProjectManagerPicklist</name>
                    <choiceReferences>YesChoice</choiceReferences>
                    <choiceReferences>NoChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NumberOfConnectionsNumber</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>300.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Home_Office_additional_information_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Home_Office_additional_information_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactPersonText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Who is contact person in the sales process&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Home_Office_additional_information_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactPersonPicklist</name>
                    <choiceReferences>AccountContactRelationshipRecordChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Home_Office_additional_information_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Home_Office_additional_information_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductPreferenceText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Does the customer have specific product preference&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Home_Office_additional_information_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductPreferencePicklist</name>
                    <choiceReferences>ProductPreferenceChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Home_Office_additional_information_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Home_Office_additional_information_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContractTypeText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Does the customer wish to have a &quot;Summarisk kontraktsum&quot; or &quot;Rammeaftale&quot;&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Home_Office_additional_information_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContractTypePicklist</name>
                    <choiceReferences>FrameworkAgreement</choiceReferences>
                    <choiceReferences>SummaryContractAmount</choiceReferences>
                    <dataType>String</dataType>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>530</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Home_Office_additional_information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
