force-app/main/default/flows/Phone_Number_Swap_Numbers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Change_Activation_Line_for_Swap</name>
        <label>Call Change Activation Line for Swap</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NumberChangeActLineNumberAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>changeType</name>
            <value>
                <stringValue>ISSWAP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAccountPhoneNumberAssignmentId</name>
            <value>
                <elementReference>assignmentId1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromActivationLineId</name>
            <value>
                <elementReference>ActivationLineTable.outputSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAccountPhoneNumberAssignmentId</name>
            <value>
                <elementReference>assignmentId2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toActivationLineId</name>
            <value>
                <elementReference>ActivationLineTable2.outputSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NumberChangeActLineNumberAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Call_Change_Activation_line_from_Change</name>
        <label>Call Change Activation line from Change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NumberChangeActLineNumberAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>changeType</name>
            <value>
                <stringValue>CHANGE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAccountPhoneNumberAssignmentId</name>
            <value>
                <elementReference>assignmentId1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromActivationLineId</name>
            <value>
                <elementReference>ActivationLineTable.outputSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAccountPhoneNumberAssignmentId</name>
            <value>
                <elementReference>assignmentId2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NumberChangeActLineNumberAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Call_Change_Activation_line_from_Change_no_Assignment</name>
        <label>Call Change Activation line from Change no Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NumberChangeActLineNumberAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_screen_no_junction</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>changeType</name>
            <value>
                <stringValue>noassignmentnumber</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromActivationLineId</name>
            <value>
                <elementReference>ActivationLineTable.outputSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toAccountPhoneNumberAssignmentId</name>
            <value>
                <elementReference>assignmentId2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NumberChangeActLineNumberAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Call_Ported_Activation_Line_for_Swap</name>
        <label>Call Ported Activation Line for Swap</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NumberChangeActLineNumberAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirmation_screen_Ported</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>changeType</name>
            <value>
                <stringValue>PORTINGSWAP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromActivationLineId</name>
            <value>
                <elementReference>ActivationLineTablePorted.outputSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toActivationLineId</name>
            <value>
                <elementReference>ActivationLineTable2Ported.outputSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NumberChangeActLineNumberAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Check_Toggle</name>
        <label>Check Toggle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FeatureToggleFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Activate_Deactivate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>featureNames</name>
            <value>
                <stringValue>UsePhoneReservation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FeatureToggleFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Find_different_number_assignments</name>
        <label>Find different number assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NumberFindChangeNumbersAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_Collections</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>activationLine</name>
            <value>
                <elementReference>ActivationLineTable.outputSelectedRow</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NumberFindChangeNumbersAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>recordCollectionJoinedAssignments</assignToReference>
            <name>joinedAssignments</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>recordCollectionNonJoinedAssignments</assignToReference>
            <name>nonJoinedAssignments</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Assignment_Id_to_variable_First_Table</name>
        <label>Add Assignment Id to variable First Table</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>assignmentRecord1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_from_junction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignmentId1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assignmentRecord1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_different_number_assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Assignment_Id_to_variable_Second_Table</name>
        <label>Add Assignment Id to variable Second Table</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>assignmentRecord2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_from_junction_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignmentId2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assignmentRecord2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Swap_or_change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_unjoined_pool_record_variable</name>
        <label>Add to unjoined pool record variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>assignmentId2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dataTableNonJoinedAssignments.outputSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AL_with_junction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Joined_ALs</name>
        <label>Assign Joined ALs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordCollectionALJoined</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Joined_ALs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Ported_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Numbers</name>
        <label>Assign New Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordCollectionALNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Unported_Numbers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Introduction_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ported_Numbers</name>
        <label>Assign Ported Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordCollectionALPorted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filter_Ported_Numbers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Unported_Numbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Collections</name>
        <label>Count Collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>countNonJoined</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>recordCollectionNonJoinedAssignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_or_from_Pool</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>duplicate</name>
        <choiceText>To an existing Activation Line with the same number (duplicate numbers allowed)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>existingLines</name>
        <choiceText>To a New Number on an existing Activation Line</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>existingLines</elementReference>
        </value>
    </choices>
    <choices>
        <name>NewnumbertonewNumber</name>
        <choiceText>New number to new Number</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>pool</name>
        <choiceText>To a New number in the pool of free numbers on the Account</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>pool</elementReference>
        </value>
    </choices>
    <choices>
        <name>portedToPorted</name>
        <choiceText>Ported Number to Ported Number</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>portedToPorted</elementReference>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Joined_ALs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Joined ALs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Joined_ALs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Activation_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Joined_ALs.Junction_Count__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Joined_ALs.Phone_Number_Reservation_Status__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>ERROR</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Joined_ALs</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Ported_Numbers</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Ported Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Ported_Numbers</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Activation_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Ported_Numbers.Phone_no_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Nummer skal porteres</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Ported_Numbers.Phone_Number_Reservation_Status__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>ERROR</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Ported_Numbers</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Unported_Numbers</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter New Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Unported_Numbers</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Activation_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Unported_Numbers.Phone_no_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Nyt nummer</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_New_Numbers</targetReference>
        </connector>
    </collectionProcessors>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Activate_Deactivate</name>
        <label>Activate/Deactivate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Deactivate_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deactivate</defaultConnectorLabel>
        <rules>
            <name>Activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Toggle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activation</targetReference>
            </connector>
            <label>Activate</label>
        </rules>
    </decisions>
    <decisions>
        <name>AL_with_junction</name>
        <label>AL with junction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Call_Change_Activation_line_from_Change_no_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Junction</defaultConnectorLabel>
        <rules>
            <name>Al_has_Junction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignmentRecord1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Swap_or_change</targetReference>
            </connector>
            <label>Al has Junction</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_or_from_Pool</name>
        <label>Existing or from Pool</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Number_Table_First_Choice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Choice Selected</defaultConnectorLabel>
        <rules>
            <name>To_Existing_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingLines</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_no_Junction</targetReference>
            </connector>
            <label>To Existing Lines</label>
        </rules>
        <rules>
            <name>To_Pool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pool</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pool_assignments_or_not</targetReference>
            </connector>
            <label>To Pool</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_no_Junction</name>
        <label>If no Junction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Data_Table_Pool</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Junction_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assignmentRecord1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_Table_Second_Choice</targetReference>
            </connector>
            <label>Junction exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Numbers</name>
        <label>New Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_New_Numbers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No New Numbers</defaultConnectorLabel>
        <rules>
            <name>New_Numbers_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordCollectionALNew</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_Table_First_Choice</targetReference>
            </connector>
            <label>New Numbers exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pool_assignments_or_not</name>
        <label>Pool assignments or not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Free_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Pool assignments</defaultConnectorLabel>
        <rules>
            <name>Pool_assignments_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countNonJoined</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Table_Pool</targetReference>
            </connector>
            <label>Pool assignments exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ported_Numbers</name>
        <label>Ported Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Ported_Numbers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Numbers</defaultConnectorLabel>
        <rules>
            <name>Numbers_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordCollectionALPorted</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Number_Table_First_Choice_Ported</targetReference>
            </connector>
            <label>Numbers exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ported_or_New</name>
        <label>Ported or New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>New_Numbers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Number</defaultConnectorLabel>
        <rules>
            <name>Ported_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>portedToPorted</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ported_Numbers</targetReference>
            </connector>
            <label>Ported Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Swap_or_change</name>
        <label>Swap or change</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Call_Change_Activation_line_from_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Change</defaultConnectorLabel>
        <rules>
            <name>Swap</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_Table_Second_Choice</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Change_Activation_Line_for_Swap</targetReference>
            </connector>
            <label>Swap</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cutDigits</name>
        <dataType>String</dataType>
        <expression>IF(
  LEN({!assignmentRecord2.Phone_Number__c}) = 10,
  MID({!assignmentRecord2.Phone_Number__c}, 3, 8),
{!assignmentRecord2.Phone_Number__c}
)</expression>
    </formulas>
    <interviewLabel>Phone Number - Swap Numbers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phone Number - Swap Numbers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Activation</name>
        <label>Get Activation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Activation_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Activation_Assignment_Junction_First_Table</name>
        <label>Get Activation Assignment Junction First Table</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignment_from_junction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation_line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActivationLineTable.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activation_Assignment_Junction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Activation_Assignment_Junction_Second_Table</name>
        <label>Get Activation Assignment Junction Second Table</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignment_from_junction_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation_line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActivationLineTable2.outputSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activation_Assignment_Junction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Activation_Lines</name>
        <label>Get Activation Lines</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Joined_ALs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activation_line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Mobile_no__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>First_name__c</queriedFields>
        <queriedFields>Last_name__c</queriedFields>
        <queriedFields>Phone_no_Status__c</queriedFields>
        <queriedFields>Junction_Count__c</queriedFields>
        <queriedFields>Phone_Number_Reservation_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignment_from_junction</name>
        <label>Get Assignment from junction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Assignment_Id_to_variable_First_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activation_Assignment_Junction_First_Table.Account_Phone_Number_Assignment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Phone_Number_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignment_from_junction_2</name>
        <label>Get Assignment from junction 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Assignment_Id_to_variable_Second_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Activation_Assignment_Junction_Second_Table.Account_Phone_Number_Assignment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Phone_Number_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Confirmation_screen</name>
        <label>Confirmation screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>swappedNumbersText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The numbers have been updated&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_screen_no_junction</name>
        <label>Confirmation Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NumbersTextNoJunction</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The numbers have been updated&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_screen_Ported</name>
        <label>Confirmation screen Ported</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_swappedNumbersText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The numbers have been updated&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Data_Table_Pool</name>
        <label>Data Table Pool</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_to_unjoined_pool_record_variable</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please choose the second number that you want to change the first selected number to.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>nonJoinedText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;These numbers do not have an Activation Line assignment yet. Please feel free to pick a number from the pool of numbers on the Account.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countNonJoined</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dataTableNonJoinedAssignments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Phone_Number_Assignment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account_Phone_Number_Assignment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordCollectionNonJoinedAssignments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Phone_Number__c,Phone_Number_Reservation_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Phone_Number__c:564, Phone_Number_Reservation_Status__c:564</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countNonJoined</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deactivate_Text</name>
        <label>Deactivate Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>deactivateMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The Phone Number Reservation is deactivated&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Introduction_screen</name>
        <label>Introduction screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ported_or_New</targetReference>
        </connector>
        <fields>
            <name>swapNumbersText</name>
            <fieldText>&lt;p&gt;Click Next if you would like to swap phone numbers between Activations Lines or change from pool of numbers.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Make a selection if you are swapping between New Numbers or Ported Numbers&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Choose_New_or_Ported_Numbers</name>
            <choiceReferences>NewnumbertonewNumber</choiceReferences>
            <choiceReferences>portedToPorted</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose New or Ported Numbers</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Free_Assignments</name>
        <label>No Free Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>noPoolText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;There are no free assignments. Go back and load more numbers from the Open Series. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_New_Numbers</name>
        <label>No New Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NumbersTextNoNewNumbers</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;There are no New numbers to swap. Finish or choose Previous to change to Ported Numbers&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Ported_Numbers</name>
        <label>No Ported Numbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NumbersTextNoPortedNumbers</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;There are no ported numbers to swap. Finish or choose Previous to change to New Numbers&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Number_Table_First_Choice</name>
        <label>Number Table First Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Activation_Assignment_Junction_First_Table</targetReference>
        </connector>
        <fields>
            <name>chooseFirstNumber</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Choose if you want to swap to a number on an existing Activation Line or to a number from a pool of numbers on the Account.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please choose the first number from an Activation Line.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ActivationLineTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Activation_line__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Activation_line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product__c,Mobile_no__c,First_name__c,Last_name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product__c:0, Mobile_no__c:0, First_name__c:0, Last_name__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordCollectionALNew</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Please select one Number&lt;/p&gt;</errorMessage>
                <formulaExpression>{!ActivationLineTable.numberOfRowsSelected} &gt;0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>From_where_do_you_want_to_switch_the_number</name>
            <choiceReferences>existingLines</choiceReferences>
            <choiceReferences>pool</choiceReferences>
            <dataType>String</dataType>
            <fieldText>To where do you want to switch the number?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Number_Table_First_Choice_Ported</name>
        <label>Number Table First Choice Ported</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Number_Table_Second_Choice_Ported</targetReference>
        </connector>
        <fields>
            <name>chooseFirstNumberPorted</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Choose the first Activation Line with a ported number that you would like to swap from.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;In the next step you choose the existing Activation Line with ported number that you would like to swap to. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ActivationLineTablePorted</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Activation_line__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Activation_line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product__c,Mobile_no__c,First_name__c,Last_name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product__c:0, Mobile_no__c:0, First_name__c:0, Last_name__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isShowSearchBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordCollectionALPorted</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Please select one Number&lt;/p&gt;</errorMessage>
                <formulaExpression>{!ActivationLineTablePorted.numberOfRowsSelected} &gt;0</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Number_Table_Second_Choice</name>
        <label>Number Table Second Choice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Activation_Assignment_Junction_Second_Table</targetReference>
        </connector>
        <fields>
            <name>chooseSecondNumber</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Choose the second number to swap with the first selected number. These are numbers already assigned on the same Activation.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ActivationLineTable2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Activation_line__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Activation_line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product__c,Mobile_no__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product__c:0, Mobile_no__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordCollectionALJoined</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;You cannot swap to the same number.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!ActivationLineTable2.selectedRowKeyValue} !={!ActivationLineTable.selectedRowKeyValue}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Number_Table_Second_Choice_Ported</name>
        <label>Number Table Second Choice Ported</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_Ported_Activation_Line_for_Swap</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_chooseSecondNumber</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Choose the second number to swap with the first selected ported number. These are numbers already assigned on the same Activation.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ActivationLineTable2Ported</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Activation_line__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Activation_line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product__c,Mobile_no__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product__c:0, Mobile_no__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>recordCollectionALPorted</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;You cannot swap to the same number.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!ActivationLineTable2Ported.selectedRowKeyValue} !=
{!ActivationLineTablePorted.selectedRowKeyValue}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Toggle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assignmentId1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignmentId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assignmentRecord1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Phone_Number_Assignment__c</objectType>
    </variables>
    <variables>
        <name>assignmentRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Phone_Number_Assignment__c</objectType>
    </variables>
    <variables>
        <name>collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>countJoined</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countNonJoined</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Phone_Number_Assignment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Joined_ALs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Ported_Numbers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Unported_Numbers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>filteredAssignmentRecord1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Phone_Number_Assignment__c</objectType>
    </variables>
    <variables>
        <name>filteredAssignmentRecord2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Phone_Number_Assignment__c</objectType>
    </variables>
    <variables>
        <name>firstTableMobileFrom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstTableMobileTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordCollectionALJoined</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>recordCollectionALNew</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>recordCollectionALPorted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>recordCollectionJoinedAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Phone_Number_Assignment__c</objectType>
    </variables>
    <variables>
        <name>recordCollectionJoinedJunction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_Assignment_Junction__c</objectType>
    </variables>
    <variables>
        <name>recordCollectionNonJoinedAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Phone_Number_Assignment__c</objectType>
    </variables>
    <variables>
        <name>recordCollectionUnjoinedJunction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_Assignment_Junction__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secondTableMobileFrom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secondTableMobileTo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
