force-app/main/default/flows/Phone_Number_Load_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_toggle</name>
        <label>Check toggle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FeatureToggleFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Activate_Deactivate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>featureNames</name>
            <value>
                <stringValue>UsePhoneReservation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FeatureToggleFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>createEventExecutors</name>
        <label>createEventExecutors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NumberReservationExecutorAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Label</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>chunkSize</name>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumberAssignments</name>
            <value>
                <elementReference>getIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NumberReservationExecutorAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>getPhioneNumbers</name>
        <label>getPhoneNumbers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NumberLoadNumberAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>screenLoadNumber</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amountOfNumbers</name>
            <value>
                <elementReference>amountOfOpenNumbers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serie</name>
            <value>
                <elementReference>getNumberSerie</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NumberLoadNumberAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>numbersToSelectFrom</assignToReference>
            <name>phoneNumbers</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addAssignment</name>
        <label>addAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>phoneAssignments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>phoneAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createPhoneAssignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>{&quot;seriesId&quot;:&quot;{!recordId}&quot;,&quot;msisdn&quot;:&quot;{!createEventExecutor.NumberId__c}&quot;,&quot;accountId&quot;:&quot;&quot;}</description>
        <name>setPhoneNumberValues</name>
        <label>setPhoneNumberValues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>phoneAssignment.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getNumberSerie.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneAssignment.Account_Phone_Number_Series__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getNumberSerie.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneAssignment.Phone_Number_Reservation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>INPROGRESS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneAssignment.Phone_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createPhoneAssignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addAssignment</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Activate_Deactivate</name>
        <label>Activate/Deactivate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Deactivate_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Deactivate</defaultConnectorLabel>
        <rules>
            <name>Activate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_toggle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNumberSerie</targetReference>
            </connector>
            <label>Activate</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasExistingErrors</name>
        <label>hasExistingErrors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>createPhoneAssignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>delete_number_assignment_with_errors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingNumberAssignmentWithError</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteExistingNumberAssignmentWithError</targetReference>
            </connector>
            <label>delete number assignment with errors</label>
        </rules>
    </decisions>
    <decisions>
        <name>hasMatchingOpenSerie</name>
        <label>hasMatchingOpenSerie</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_series_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not open serie</defaultConnectorLabel>
        <rules>
            <name>Openserie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getNumberSerie.Open_Number_Series__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenLoadNumber</targetReference>
            </connector>
            <label>Open serie</label>
        </rules>
    </decisions>
    <decisions>
        <name>screenNavigation</name>
        <label>screenNavigation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screenLoadNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>noSelectedNumbers</defaultConnectorLabel>
        <rules>
            <name>loadNumbers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>screenLoadNumberNavigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>loadNumbers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPhioneNumbers</targetReference>
            </connector>
            <label>loadNumbers</label>
        </rules>
        <rules>
            <name>saveSelectedNumbers</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>screenLoadNumberNavigation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>save</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>outChosenValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>outChosenValues</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getExistingNumberAssignmentWithError</targetReference>
            </connector>
            <label>saveSelectedNumbers</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Phone Number - Load Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Phone Number - Load Number</label>
    <loops>
        <description>Cannot use transform element since. We are mapping many fields on the selected row to a single field on the eventExecutor</description>
        <name>createPhoneAssignments</name>
        <label>createPhoneAssignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>outChosenValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setPhoneNumberValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_assignments</name>
        <label>create assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getIds</targetReference>
        </connector>
        <inputReference>phoneAssignments</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>deleteExistingNumberAssignmentWithError</name>
        <label>deleteExistingNumberAssignmentWithError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createPhoneAssignments</targetReference>
        </connector>
        <inputReference>getExistingNumberAssignmentWithError</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getExistingNumberAssignmentWithError</name>
        <label>getExistingNumberAssignmentWithError</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasExistingErrors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone_Number_Reservation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Phone_Number_Series__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getNumberSerie.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Phone_Number_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNumberSerie</name>
        <label>getNumberSerie</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasMatchingOpenSerie</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Phone_Number_Series__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Number_Group__c</queriedFields>
        <queriedFields>Number_Pattern__c</queriedFields>
        <queriedFields>Number_Location__c</queriedFields>
        <queriedFields>Product_Type__c</queriedFields>
        <queriedFields>Open_Number_Series__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Deactivate_Text</name>
        <label>Deactivate Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>deactivateMessage</name>
            <fieldText>&lt;p&gt;The Phone Number Reservation is deactivated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;An error occurred please try again with fewer numbers.&lt;/p&gt;&lt;p&gt;If the error persists please contact the Salesforce team.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Label</name>
        <label>Label</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmationText</name>
            <fieldText>&lt;p&gt;The following number(s) are reserved&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>confirmationdatatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Phone_Number_Assignment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account_Phone_Number_Assignment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>phoneAssignments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Phone_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Phone_Number__c:1000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showSelectedCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_series_screen</name>
        <label>No Open series screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noOpenSeriesText</name>
            <fieldText>&lt;p&gt;There are no Open Telephone Number Series in order to reserve your numbers. Please create an Open Series in the &quot;Phone Number Reservation&quot; tab.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenLoadNumber</name>
        <label>screenLoadNumber</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screenNavigation</targetReference>
        </connector>
        <fields>
            <name>screenLoadNumberHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Load Phone Numbers&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>outChosenValues</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screenReserveNumberHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Reserve Phone Numbers&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>outChosenValues</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>spacer</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>10</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>amountOfOpenNumbers</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>How many numbers?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>bottom</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>2</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>screenLoadNumberNavigation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>below</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Load Numbers&quot;,&quot;value&quot;:&quot;loadNumbers&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>chosenNumbers</name>
            <fieldText>&lt;p&gt;Choose the numbers you wish to reserve and press &quot;Save&quot;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>outChosenValues</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>numberListCheckbox</name>
            <extensionName>c:multiColumnCheckboxGroup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>options</name>
                <value>
                    <elementReference>numbersToSelectFrom</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numColumns</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numRows</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>outChosenValues</assignToReference>
                <name>selectedValues</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;jg&lt;/p&gt;</errorMessage>
                <formulaExpression>ISBLANK({!outChosenValues})</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_toggle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>getIds</name>
        <label>getIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createEventExecutors</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>phoneAssignments[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>numbersToSelectFrom</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outChosenValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>phoneAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Phone_Number_Assignment__c</objectType>
    </variables>
    <variables>
        <name>phoneAssignments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Phone_Number_Assignment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
