force-app/main/default/flows/POA_completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notifies the opportunity owner that a new POA record has been created by the portal user.</description>
        <name>POA_Notify_opportunity_owner</name>
        <label>POA Notify opportunity owner</label>
        <locationX>1863</locationX>
        <locationY>769</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>POANotificationText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Opportunity__r.Owner.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>POAEmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Copy_Account_Data</name>
        <label>Copy Account Data</label>
        <locationX>501</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>POA_completed_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CopyAccountData</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legal_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company (Account)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CVR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Street__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Postal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Data</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Copy Account Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_from_Portal</name>
        <label>Created from Portal</label>
        <locationX>1803</locationX>
        <locationY>459</locationY>
        <defaultConnectorLabel>Email not needed</defaultConnectorLabel>
        <rules>
            <name>Send_email_to_Opp_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isCreatedFromPortal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_must_have_value</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Send email to Opp owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_CaseRelated</name>
        <label>Is Case related</label>
        <locationX>243</locationX>
        <locationY>417</locationY>
        <defaultConnector>
            <targetReference>Copy_Account_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseId_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>POA_completed_0</name>
        <label>POA completed</label>
        <locationX>880</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>Data_not_valid_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>POA not completed</defaultConnectorLabel>
        <rules>
            <name>POA_data_completed_0</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8) OR (1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Postal_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Street__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Supplier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legal_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CVR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legal_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_valid_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>POA completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_name</name>
        <label>Set name</label>
        <locationX>1171</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Update_name_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Name</defaultConnectorLabel>
        <rules>
            <name>Set_POA_name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplier_Technical__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewPOAName</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set POA name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_name_0</name>
        <label>Update name</label>
        <locationX>1454</locationX>
        <locationY>790</locationY>
        <defaultConnector>
            <targetReference>Created_from_Portal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No update</defaultConnectorLabel>
        <rules>
            <name>Update_record_name_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Supplier_Technical__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewPOAName_0</targetReference>
            </connector>
            <label>Update POA name</label>
        </rules>
    </decisions>
    <description>Flow validates if all required information is entered for the Scrive document to be created and for the POA record visible in the onboarding portal. It also notifies the opportunity owner if a new POA has been created in the portal.</description>
    <formulas>
        <name>POALink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_510})) &amp; 
    {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>POAName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Contact__r.FirstName}&amp;{!$Record.Contact__r.LastName}&amp;{!$Record.Supplier_Technical__c}</expression>
    </formulas>
    <interviewLabel>POA completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POA Completed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CaseId_0</name>
        <label>Case</label>
        <locationX>83</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_Data</name>
        <label>Account Data</label>
        <locationX>394</locationX>
        <locationY>711</locationY>
        <connector>
            <targetReference>POA_completed_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CVR__c</field>
            <value>
                <elementReference>$Record.Account__r.CVR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>$Record.Account__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>$Record.Account__r.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Data_not_valid_0</name>
        <label>Data not valid</label>
        <locationX>895</locationX>
        <locationY>714</locationY>
        <connector>
            <targetReference>Set_name</targetReference>
        </connector>
        <filterLogic>(1 AND 8 AND(2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 9)) OR (1 AND 10 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7))</filterLogic>
        <filters>
            <field>POA_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Street__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Postal_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Supplier_Technical__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>City__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Legal_Owner__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Private</stringValue>
            </value>
        </filters>
        <filters>
            <field>CVR__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Legal_Owner__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Private</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>POA_Completed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Data_valid_0</name>
        <label>Data valid</label>
        <locationX>888</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>Set_name</targetReference>
        </connector>
        <inputAssignments>
            <field>POA_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NewPOAName</name>
        <label>POAName</label>
        <locationX>1092</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>Created_from_Portal</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>POAName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>NewPOAName_0</name>
        <label>POAName</label>
        <locationX>1460</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>Created_from_Portal</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>POAName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Opportunity_must_have_value</name>
        <label>Opportunity must have value</label>
        <locationX>1774</locationX>
        <locationY>680</locationY>
        <connector>
            <targetReference>POA_Notify_opportunity_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>81</locationX>
        <locationY>578</locationY>
        <connector>
            <targetReference>Copy_Account_Data</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseId_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>138</locationX>
        <locationY>120</locationY>
        <connector>
            <targetReference>is_CaseRelated</targetReference>
        </connector>
        <object>Porting__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>POAEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New POA record created by the portal user</text>
    </textTemplates>
    <textTemplates>
        <name>POANotificationText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New POA record {!$Record.Name} has been created by the portal user. Scrive document can be now created for this record.
Link:
{!POALink}</text>
    </textTemplates>
</Flow>
