force-app/main/default/flows/Quote_Create_Business_Internet_Specified.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_Quote</name>
        <label>Redirect to Quote</label>
        <locationX>50</locationX>
        <locationY>2654</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Activation_Line_Count</name>
        <label>Assign Activation Line Count</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NumberOfValidBusinessInternetActivationLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Activation_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Primary_Quote_on_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QL_Relation</name>
        <label>Assign QL Relation</label>
        <locationX>270</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Loop_Filtered_AL_Collection.Quote_line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessInternetQuoteLineId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filtered_AL_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_AL_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quantity</name>
        <label>Assign Quantity</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Get_Business_Internet_Quote_Line.SBQQ__Quantity__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Activation_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BusinessInternetQuoteLineId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Internet_Quote_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quantity_On_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Line_Id_From_New_Quote_Line</name>
        <label>Assign Quote Line Id From New Quote Line</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>BusinessInternetQuoteLineId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLineSubscription.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_AL_Without_QL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_existing_Primary_Quote_ID</name>
        <label>Save existing Primary Quote ID</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Business_Internet_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_QuoteLineSubscription_data</name>
        <label>Save QuoteLineSubscription data</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.Quote_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New_Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.SBQQ__PricebookEntryId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Internet_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.SBQQ__ProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Internet_Product.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.SBQQ__Quantity__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Activation_Lines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.SBQQ__Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.Activate_with_other_products__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.SBQQ__DynamicOptionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.SBQQ__OptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.SBQQ__OptionLevel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.SBQQ__ProductOption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.Quote_Document_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.SBQQ__NonDiscountable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.SBQQ__Bundle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.Sales_type_shadow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.Comp_Product_Gearing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Business_Internet_Product.Product_Gearing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.Created_by_Automation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineSubscription.SBQQ__Incomplete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Subscription_QuoteLine</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_AL_Without_QL</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter AL Without QL</label>
        <locationX>182</locationX>
        <locationY>1814</locationY>
        <assignNextValueToReference>currentItem_Filter_AL_Without_QL</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Activation_Lines</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_AL_Without_QL.Quote_line__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_AL_Without_QL.Quote_line__c</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filtered_AL_Collection</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Business_Internet_Quote_Line_Exists</name>
        <label>Business Internet Quote Line Exists?</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Get_Business_Internet_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Line_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Internet_Quote_Line.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quantity</targetReference>
            </connector>
            <label>Quote Line Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Quote_on_Opportunity</name>
        <label>Primary Quote on Opportunity ?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Quote</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Quote_on_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_existing_Primary_Quote_ID</targetReference>
            </connector>
            <label>Yes, Primary Quote on Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redirect_or_Not</name>
        <label>Redirect or Not</label>
        <locationX>182</locationX>
        <locationY>2546</locationY>
        <defaultConnectorLabel>Not</defaultConnectorLabel>
        <rules>
            <name>Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LaunchedFromPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_to_Quote</targetReference>
            </connector>
            <label>Redirect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Specified_Business_Internet_Case_Found</name>
        <label>Specified Business Internet Case Found?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>NotSpecifiedAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Internet_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activation_Lines</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExistingSpecialTermWithAppendedValue</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!ExistingSpecialTerms}),{!AdditionalSpecialTerms}, SUBSTITUTE(SUBSTITUTE({!ExistingSpecialTerms}, &apos;[&apos; , &apos;&apos; ), 
&apos;]&apos;, &apos;;&apos; + {!AdditionalSpecialTerms}))</expression>
    </formulas>
    <formulas>
        <name>StartDatePlus30Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Quote Create Business Internet (Specified) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Create Business Internet (Specified)</label>
    <loops>
        <name>Loop_Filtered_AL_Collection</name>
        <label>Loop Filtered AL Collection</label>
        <locationX>182</locationX>
        <locationY>1922</locationY>
        <collectionReference>Filter_AL_Without_QL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_QL_Relation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Activation_Lines_From_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>QuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Primary_Quote_on_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Special_Terms_on_Contract__c</field>
            <value>
                <elementReference>AdditionalSpecialTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DLRS_Calc_in_progress__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_for_Calculation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaperSize__c</field>
            <value>
                <stringValue>A4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <elementReference>Get_Opportunity.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>StartDatePlus30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>36.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Type__c</field>
            <value>
                <elementReference>Get_Opportunity.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__WatermarkShown__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Subscription_QuoteLine</name>
        <label>Create Subscription QuoteLine</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Assign_Quote_Line_Id_From_New_Quote_Line</targetReference>
        </connector>
        <inputReference>QuoteLineSubscription</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Activation_Lines</name>
        <label>Get Activation Lines</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Activation_Line_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Business_Internet_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Internet 5G</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activation_line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Internet_Case</name>
        <label>Get Business Internet Case</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Specified_Business_Internet_Case_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Internet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Specified</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Internet_Product</name>
        <label>Get Business Internet Product</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>37000</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Internet_Quote_Line</name>
        <label>Get Business Internet Quote Line</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_Internet_Quote_Line_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>37000</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Internet_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_QuoteLineSubscription_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s1i000001LXqLAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>37000</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Activation_Lines_From_Loop</name>
        <label>Update Activation Lines From Loop</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Update_Ready_for_Calculation_on_Quote</targetReference>
        </connector>
        <inputReference>ActivationLinesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Redirect_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Quote_on_Opportunity</name>
        <label>Update Primary Quote on Opportunity</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Business_Internet_Quote_Line_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Internet_Quote_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PrimaryQuote__c</field>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quantity_On_Quote_Line</name>
        <label>Update Quantity On Quote Line</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Filter_AL_Without_QL</targetReference>
        </connector>
        <inputReference>Get_Business_Internet_Quote_Line</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ready_for_Calculation_on_Quote</name>
        <label>Update Ready for Calculation on Quote</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ready_for_Calculation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>NotSpecifiedAgreement</name>
        <label>Not a Specified Opportunity</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotSpecified</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This is not a Specified Opportunity. You are not able to create a Specified Quote&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivationLinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>AdditionalSpecialTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessInternetQuoteLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessInternetQuoteLineQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_AL_Without_QL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>EmptyQouteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>ExistingSpecialTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LaunchedFromPortal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NoOfOTC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfSubscription</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfUnsavedOTC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfVAS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfValidBusinessInternetActivationLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OTC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OTCChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OTCToSave</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuantitySumOTC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantitySumSubscription</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantitySumVAS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineOTC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineOTCCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineSubscriptionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineVAS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineVASCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subscription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SubscriptionChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SubscriptionQuoteLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedActivationLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>UpdatedActivationLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>UpdatedLocationLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location_Line__c</objectType>
    </variables>
    <variables>
        <name>UpdatedLocationLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location_Line__c</objectType>
    </variables>
    <variables>
        <name>VAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VASToSave</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
