force-app/main/default/flows/Quote_Create_Business_Internet_Specified.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_Quote</name>
        <label>Redirect to Quote</label>
        <locationX>50</locationX>
        <locationY>2654</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_5G_Collection</name>
        <label>Add to 5G Collection</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>BusinessInternet5G_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_5G_1TB_Collection</name>
        <label>Add to 5G 1TB Collection</label>
        <locationX>737</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>BusinessInternet5G1TB_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Activation_Line_Count</name>
        <label>Assign Activation Line Count</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NumberOfValidBusinessInternetActivationLines</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Activation_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_5G_1TB_Quote_Line_ID_to_Activation</name>
        <label>Assign 5G 1TB Quote Line ID to Activation</label>
        <locationX>495</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>Loop_to_Link_Activation_Lines.Quote_line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessInternet5G1TBQuoteLineId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_Link_Activation_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Link_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_5G_Quote_Line_ID_to_Activation</name>
        <label>Assign 5G Quote Line ID to Activation</label>
        <locationX>45</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>Loop_to_Link_Activation_Lines.Quote_line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BusinessInternet5GQuoteLineId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_Link_Activation_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Link_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_existing_Primary_Quote_ID</name>
        <label>Save existing Primary Quote ID</label>
        <locationX>50</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_5G_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BI5G_Quote_Line_Id</name>
        <label>Assign BI 5G Quote Line Id</label>
        <locationX>270</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>BusinessInternet5GQuoteLineId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BI5G_Quote_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_5G_1TB_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BI5G1TB_Quote_Line_Id</name>
        <label>Assign BI 5G 1TB Quote Line Id</label>
        <locationX>270</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>BusinessInternet5G1TBQuoteLineId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BI5G1TB_Quote_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Link_Activation_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Product_Type_for_Linking</name>
        <label>Check Product Type for Linking</label>
        <locationX>270</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <targetReference>Loop_to_Link_Activation_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_5G</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_Link_Activation_Lines.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Internet 5G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_5G_Quote_Line_ID_to_Activation</targetReference>
            </connector>
            <label>Is 5G</label>
        </rules>
        <rules>
            <name>Is_5G_1TB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_Link_Activation_Lines.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Internet 5G 1TB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_5G_1TB_Quote_Line_ID_to_Activation</targetReference>
            </connector>
            <label>Is 5G 1TB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Business_Internet_5G</name>
        <label>Is Business Internet 5G?</label>
        <locationX>616</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Is_Business_Internet_5G_1TB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_BI_5G</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Activation_Lines.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Internet 5G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_5G_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_5G_1TB_Quote_Line</name>
        <label>Create 5G 1TB Quote Line?</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Loop_to_Link_Activation_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_5G_1TB_Quote_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessInternet5G1TB_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BI5G1TB_Quote_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>BI5G1TB_Quote_Line_Exists</name>
        <label>BI 5G 1TB Quote Line Exists?</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Get_BI5G1TB_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BI5G1TB_Quote_Line_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BI5G1TB_Quote_Line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BI5G1TB_Quantity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Business_Internet_5G_1TB</name>
        <label>Is Business Internet 5G 1TB?</label>
        <locationX>825</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Activation_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_BI_5G_1TB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Activation_Lines.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Internet 5G 1TB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_5G_1TB_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_5G_Quote_Line</name>
        <label>Create 5G Quote Line?</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Create_5G_1TB_Quote_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_5G_Quote_Line</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BusinessInternet5G_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BI5G_Quote_Line</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>BI5G_Quote_Line_Exists</name>
        <label>BI 5G Quote Line Exists?</label>
        <locationX>182</locationX>
        <locationY>1306</locationY>
        <defaultConnector>
            <targetReference>Get_BI5G_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BI5G_Quote_Line_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BI5G_Quote_Line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BI5G_Quantity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Quote_on_Opportunity</name>
        <label>Primary Quote on Opportunity ?</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Create_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Primary Quote</defaultConnectorLabel>
        <rules>
            <name>Yes_Primary_Quote_on_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.SBQQ__PrimaryQuote__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_existing_Primary_Quote_ID</targetReference>
            </connector>
            <label>Yes, Primary Quote on Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redirect_or_Not</name>
        <label>Redirect or Not</label>
        <locationX>182</locationX>
        <locationY>2546</locationY>
        <defaultConnectorLabel>Not</defaultConnectorLabel>
        <rules>
            <name>Redirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LaunchedFromPortal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_to_Quote</targetReference>
            </connector>
            <label>Redirect</label>
        </rules>
    </decisions>
    <decisions>
        <name>Specified_Business_Internet_Case_Found</name>
        <label>Specified Business Internet Case Found?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>NotSpecifiedAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Internet_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activation_Lines</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExistingSpecialTermWithAppendedValue</name>
        <dataType>String</dataType>
        <expression
		>IF(ISBLANK({!ExistingSpecialTerms}),{!AdditionalSpecialTerms}, SUBSTITUTE(SUBSTITUTE({!ExistingSpecialTerms}, &apos;[&apos; , &apos;&apos; ), 
&apos;]&apos;, &apos;;&apos; + {!AdditionalSpecialTerms}))</expression>
    </formulas>
    <formulas>
        <name>StartDatePlus30Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Quote Create Business Internet (Specified) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Create Business Internet (Specified)</label>
    <loops>
        <name>Loop_Activation_Lines</name>
        <label>Loop Activation Lines</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Activation_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Business_Internet_5G</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Primary_Quote_on_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Link_Activation_Lines</name>
        <label>Loop to Link Activation Lines</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <collectionReference>Get_Activation_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Product_Type_for_Linking</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Activation_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>QuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Primary_Quote_on_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Special_Terms_on_Contract__c</field>
            <value>
                <elementReference>AdditionalSpecialTerms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DLRS_Calc_in_progress__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_for_Calculation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Account__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaperSize__c</field>
            <value>
                <stringValue>A4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PricebookId__c</field>
            <value>
                <elementReference>Get_Opportunity.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>StartDatePlus30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>36.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Type__c</field>
            <value>
                <elementReference>Get_Opportunity.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__WatermarkShown__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_BI5G_Quote_Line</name>
        <label>Create BI 5G Quote Line</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <assignRecordIdToReference>BusinessInternet5GQuoteLineId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_5G_1TB_Quote_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__PricebookEntryId__c</field>
            <value>
                <elementReference>Get_BI5G_Price_Book_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>Get_BI5G_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <elementReference>BusinessInternet5G_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_BI5G1TB_Quote_Line</name>
        <label>Create BI 5G 1TB Quote Line</label>
        <locationX>50</locationX>
        <locationY>2162</locationY>
        <assignRecordIdToReference>BusinessInternet5G1TBQuoteLineId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_to_Link_Activation_Lines</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__PricebookEntryId__c</field>
            <value>
                <elementReference>Get_BI5G1TB_Price_Book_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>Get_BI5G1TB_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <elementReference>BusinessInternet5G1TB_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Activation_Lines</name>
        <label>Get Activation Lines</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Activation_Line_Count</targetReference>
        </connector>
        <filterLogic>(1 AND (2 OR 3))</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Business_Internet_Case.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Internet 5G</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Internet 5G 1TB</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activation_line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BI5G_Product</name>
        <label>Get BI 5G Product</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BI5G_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>37000</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BI5G1TB_Product</name>
        <label>Get BI 5G 1TB Product</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_BI5G1TB_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>37001</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Internet_Case</name>
        <label>Get Business Internet Case</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Specified_Business_Internet_Case_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business Internet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agreement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Specified</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BI5G_Quote_Line</name>
        <label>Get BI 5G Quote Line</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BI5G_Quote_Line_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>37000</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BI5G1TB_Quote_Line</name>
        <label>Get BI 5G 1TB Quote Line</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BI5G1TB_Quote_Line_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>37001</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Internet_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BI5G_Price_Book_Entry</name>
        <label>Get BI 5G Price Book Entry</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_BI5G_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s1i000001LXqLAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>37000</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BI5G1TB_Price_Book_Entry</name>
        <label>Get BI 5G 1TB Price Book Entry</label>
        <locationX>50</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_BI5G1TB_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01s1i000001LXqLAAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>37001</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_BI5G_Quantity</name>
        <label>Update BI 5G Quantity</label>
        <locationX>270</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Assign_BI5G_Quote_Line_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BI5G_Quote_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <elementReference>BusinessInternet5G_Count</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BI5G1TB_Quantity</name>
        <label>Update BI 5G 1TB Quantity</label>
        <locationX>270</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Assign_BI5G1TB_Quote_Line_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BI5G1TB_Quote_Line.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Quantity__c</field>
            <value>
                <elementReference>BusinessInternet5G1TB_Count</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Activation_Lines</name>
        <label>Update Activation Lines</label>
        <locationX>182</locationX>
        <locationY>3134</locationY>
        <connector>
            <targetReference>Update_Ready_for_Calculation_on_Quote</targetReference>
        </connector>
        <inputReference>ActivationLinesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Redirect_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Primary_Quote_on_Opportunity</name>
        <label>Update Primary Quote on Opportunity</label>
        <locationX>314</locationX>
        <locationY>1002</locationY>
        <connector>
            <targetReference>Create_5G_Quote_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Internet_Quote_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PrimaryQuote__c</field>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ready_for_Calculation_on_Quote</name>
        <label>Update Ready for Calculation on Quote</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ready_for_Calculation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>NotSpecifiedAgreement</name>
        <label>Not a Specified Opportunity</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotSpecified</name>
            <fieldText
			>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This is not a Specified Opportunity. You are not able to create a Specified Quote&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivationLinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>AdditionalSpecialTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessInternet5G1TB_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BusinessInternet5G1TBQuoteLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessInternet5G_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BusinessInternet5GQuoteLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExistingSpecialTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LaunchedFromPortal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NoOfOTC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfSubscription</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfUnsavedOTC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfVAS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfValidBusinessInternetActivationLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OTC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue />
        </value>
    </variables>
    <variables>
        <name>OTCChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OTCToSave</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuantitySumOTC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantitySumSubscription</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuantitySumVAS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineOTC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineOTCCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineSubscriptionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineVAS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineVASCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subscription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue />
        </value>
    </variables>
    <variables>
        <name>SubscriptionChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SubscriptionQuoteLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedActivationLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>UpdatedActivationLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>UpdatedLocationLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location_Line__c</objectType>
    </variables>
    <variables>
        <name>UpdatedLocationLineCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location_Line__c</objectType>
    </variables>
    <variables>
        <name>VAS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue />
        </value>
    </variables>
    <variables>
        <name>VASToSave</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
