force-app/main/default/flows/Quote_Line_Details_Updated_Create_Order_Line_Detail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>creates Order Line details.</description>
    <environments>Default</environments>
    <interviewLabel>Quote Line Details: Updated - Create Order Line Detail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line Details: Updated - Create Order Line Detail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateOrderLineDetail</name>
        <label>CreateOrderLineDetail</label>
        <locationX>334</locationX>
        <locationY>537</locationY>
        <inputAssignments>
            <field>AS_no__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.AS_no__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Access_Method__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Access_Method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_Check__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Activation_Check_del__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_Fulfilled__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Activation_Fulfilled__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_Line__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Activation_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Activation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_progress__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Activation_progress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_delivery_date__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Actual_delivery_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_services__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Additional_services__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_filled__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Address_filled__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Administrator__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Administrator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendant_Agent_login_No__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Attendant_Agent_login_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attendant_Agent_login__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Attendant_Agent_login__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Avg_Monthly_Data_Used_MB__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Avg_Monthly_Data_Used_MB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BAN__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.BAN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Account__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Billing_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPE_ID__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.CPE_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPE_ID_existing__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.CPE_ID_existing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Calls_from_DK_to_EU_MIN__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Calls_from_DK_to_EU_MIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Circuit_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Circuit_ID_existing__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Circuit_ID_existing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conference_Phones__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Conference_Phones__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conference__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Conference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_person_on_site__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Contact_person_on_site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_code__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Country_code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_AS_Number__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Customer_AS_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DHCP_DNS_Primary__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.DHCP_DNS_Primary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DHCP_DNS_Secondary__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.DHCP_DNS_Secondary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DHCP__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.DHCP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DHCP_range__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.DHCP_range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DHCP_server__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.DHCP_server__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Att__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Delivery_Att__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_City__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Delivery_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Country__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Delivery_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Email__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Delivery_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Street_and_number__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Delivery_Street_and_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dont_send_to_Activation__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Dont_send_to_Activation_del__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dynamic_Static_Routing__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Dynamic_Static_Routing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dynamic_Static__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Dynamic_Static__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EAN_number__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.EAN_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ekstra_Data_SIM_number_2__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Ekstra_Data_SIM_number_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ekstra_Data_SIM_number_3__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Ekstra_Data_SIM_number_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ekstra_Data_SIM_number_4__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Ekstra_Data_SIM_number_4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ekstra_Data_SIM_number__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Ekstra_Data_SIM_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_address__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Email_address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exchange__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Exchange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_SIM_number__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Existing_SIM_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Express_Delivery__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Express_Delivery__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra_ACD_k_Quantity__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Extra_ACD_k_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra_ACD_k__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Extra_ACD_k__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra_Contact_Person__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Extra_Contact_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra_Equipment__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Extra_Equipment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fastnet_no_Type__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Fastnet_no_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fastnet_user__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Fastnet_user__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fax__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Fax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_name__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.First_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fixed_no__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Fixed_no__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Forbrugskontrol_amount__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Forbrugskontrol_amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Foreign_circuit__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Foreign_circuit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funktionsnr__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Funktionsnr__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HSRP_LAN_IP__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.HSRP_LAN_IP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_Helper__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.IP_Helper__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IP_routes__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.IP_routes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Address_existing__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Installation_Address_existing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_address__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Installation_address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internet_on_Site__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Internet_on_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Email__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Invoice_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Invoice_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_invoiced__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Is_invoiced__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_description__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Job_description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Keywords__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Keywords__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kollegakald__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Kollegakald__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAN_IP__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.LAN_IP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LAN_network_address_mask__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.LAN_network_address_mask__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Landline_no__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Landline_no__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_name__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Last_name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Company_Name__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Local_Company_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locale__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Locale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>M2M__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.M2M__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MBB__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.MBB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Product__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Manual_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Max_Monthly_Data_Used_MB__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Max_Monthly_Data_Used_MB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_no__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Mobile_no__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modified_delivery_date__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Modified_delivery_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Access_fee__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Monthly_Access_fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Add_on_fee__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Monthly_Add_on_fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MultipleVPN__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.MultipleVPN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NUA_Owner_Control__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.NUA_Owner_Control__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Dual_card__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.New_Dual_card__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Porting__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.No_Porting__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Porting_End_of_Commitment__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Number_Porting_End_of_Commitment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Porting_Specific_Date__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Number_Porting_Specific_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_IP_Addresses__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Number_of_IP_Addresses__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer_ID__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Offer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_ICC__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Old_ICC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operator__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Operator__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Product__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Order_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Order_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDF__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.PDF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POI_TNID_EVPN__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.POI_TNID_EVPN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_number__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.PO_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Peering_address__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Peering_address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_no_Status__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Phone_no_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physical_LAN_interface__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Physical_LAN_interface__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Delivery_Date__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Planned_Delivery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PoA__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.PoA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Power_of_Attorney_record__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Power_of_Attorney_Record__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Circuit_ID__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Primary_Circuit_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_or_Secondary__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Primary_or_Secondary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Protection_Circuit_ID__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Protection_Circuit_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QoS_Realtime__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.QoS_Realtime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quick_Launch__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Quick_Launch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Line__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Quote_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCC_Owner_Control__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.RCC_Owner_Control__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RT_number__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.RT_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Redundancy__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Redundancy__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Activation_Line__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Related_Activation_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Routing_Type__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Routing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_Order_number__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.SAP_Order_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_PR_no__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.SAP_PR_no__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIM_number__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.SIM_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.SLA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLA_x__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.SLA_x__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNMP_address_mask__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.SNMP_address_mask__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SNMP_community__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.SNMP_community__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_type__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Sales_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Circuit_ID__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Secondary_Circuit_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_LAN_IP__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Secondary_LAN_IP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Services_TBD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shortnr__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Shortnr__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Single_No__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Single_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_up_fee_Access__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Start_up_fee_Access__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_up_fee_Add_on_s__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Start_up_fee_Add_on_s__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Static_Setup__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Static_Setup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statistics__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Statistics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Circuit__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Sub_Circuit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subscriber_Id__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Subscriber_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor_No__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Supervisor_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supervisor__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Supervisor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TOP_Activation_Flow_Step__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.TOP_Activation_Flow_Step_del__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TPXFastnet_nr_Serie_100__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.TPXFastnet_nr_Serie_100__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TPX_Deskphone__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.TPX_Deskphone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TPX_Fastnet_nr_Serie_10__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.TPX_Fastnet_nr_Serie_10__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TPX_Power_Adapter__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.TPX_Power_Adapter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TP_License__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.TP_License__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TP_Voice__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.TP_Voice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TSRR_Owner_Control__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.TSRR_Owner_Control__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telia_INSIGHT_e_mail_contact__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Telia_INSIGHT_e_mail_contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telia_til_Telia_transfer__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Telia_til_Telia_transfer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Point__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Termination_Point__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Access_fee__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Total_Access_fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touchpoint_Bruger__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Touchpoint_Bruger__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touchpoint_Receptionist__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Touchpoint_Receptionist__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touchpoint_Softphone__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Touchpoint_Softphone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Touchpoint_Statistik__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Touchpoint_Statistik__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trunk_no_Small_world_Dedicated__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Trunk_no_Small_world_Dedicated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trunked_Ports__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Trunked_Ports__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_from_TOP__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Updated_from_TOP_del__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_ALLBIZA__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_ALLBIZA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BAR3G__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BAR3G__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BAR4G__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BAR4G__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BAR90__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BAR90__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BARDATA__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BARDATA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BARINCRO__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BARINCRO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BARINC__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BARINC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BARINTCAL__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BARINTCAL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BARINTRO__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BARINTRO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BARLEVEL__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BARLEVEL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BARMMS__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BARMMS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BARORXD__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BARORXD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BAROUTG__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BAROUTG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BAROUTRO__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BAROUTRO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BARPRCSMS__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BARPRCSMS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BARSTD__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BARSTD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BARTOTAL__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BARTOTAL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_BARTOTRO__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_BARTOTRO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_CORAS5G__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_CORAS5G__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_CORDKTEU4__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_CORDKTEU4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_CORDKTEU5__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_CORDKTEU5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_CORDKTOEU__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_CORDKTOEU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_CORUSA5G__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_CORUSA5G__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_CORWA10G__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_CORWA10G__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_CORWA5G__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_CORWA5G__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_COR__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_COR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_DUMMY2__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_DUMMY2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_DZFAMPRIB__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_DZFAMPRIB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_DZPRINTB__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_DZPRINTB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_EntitleAW__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_EntitleAW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_FINTDKEU__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_FINTDKEU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_FIX2MOBIL__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_FIX2MOBIL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_FLIPPBTC5__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_FLIPPBTC5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_HBOBTB4__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_HBOBTB4__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_HBOBTC5__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_HBOBTC5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_M2MROAM__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_M2MROAM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_M2M_Data__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_M2M_Data__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_M2M_SMS__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_M2M_SMS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCAAO__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCAAO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCAAS__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCAAS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCAAU__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCAAU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCAGRECO__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCAGRECO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCASO__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCASO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCATTCON__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCATTCON__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCAVAIVA__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCAVAIVA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCBAS__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCBAS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCCCENTM__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCCCENTM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCCCENTV__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCCCENTV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCCCWGRM__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCCCWGRM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCCCWGRV__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCCCWGRV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCCLBACK__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCCLBACK__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCCON__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCCON__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCCRMINT__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCCRMINT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCINS__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCINS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCIVREXP__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCIVREXP__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCMAILDI__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCMAILDI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCMOBPGW__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCMOBPGW__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCOFFCLI__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCOFFCLI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCONB__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCONB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCQUAMON__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCQUAMON__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCCSCSTAT__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCCSCSTAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCFSERVUS__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCFSERVUS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCFUSR__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCFUSR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCFUSUS__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCFUSUS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OCMUSR__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OCMUSR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_OFFBTC5__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_OFFBTC5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_SFBTB40__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_SFBTB40__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_SFBTB60__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_SFBTB60__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_SIMBTB11__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_SIMBTB11__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_SIMBX5__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_SIMBX5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_SIMBX6__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_SIMBX6__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_SIMBX7__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_SIMBX7__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_TEAMSPABA__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_TEAMSPABA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_TEAMSPAEB__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_TEAMSPAEB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_TEAMSPAUD__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_TEAMSPAUD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_TPXTEAMSO__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_TPXTEAMSO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_TPXTEAMSR__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_TPXTEAMSR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_TSCBTC5__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_TSCBTC5__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_TSPBRONZE__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_TSPBRONZE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_TSPGULD__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_TSPGULD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_TSPSOLV__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_TSPSOLV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_UC_License__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_UC_License__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAS_UDVSLABTC__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VAS_UDVSLABTC__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VLAN_TAG_EVPN__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VLAN_TAG_EVPN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VLANs__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VLANs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPN_number__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VPN_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VRF_ID__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.VRF_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Name__c</field>
            <value>
                <elementReference>$Record.Vendor_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_circuit__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Vendor_circuit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_delivery_date__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Vendor_delivery_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wallboard__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.Wallboard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X70_80_nummer__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.X70_80_nummer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eBuy_PR_no__c</field>
            <value>
                <elementReference>GetQuoteLineDetail.eBuy_PR_no__c</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Line_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetQuoteLineDetail</name>
        <label>GetQuoteLineDetail</label>
        <locationX>334</locationX>
        <locationY>368</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateOrderLineDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote_Line_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>208</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>GetQuoteLineDetail</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Order_Line_Detail__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote_Line_Detail__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
