force-app/main/default/flows/Quote_Line_run_DLRS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Create_only_Assignments</name>
        <label>Create only Assignments</label>
        <locationX>860</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>$Record.Renewed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RenewalFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Comp_Product_Gearing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__r.Product_Gearing__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Update_Assignments</name>
        <label>Create/Update Assignments</label>
        <locationX>406</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Family_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__ProductFamily__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__r.Product_Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_in_progress</name>
        <label>Already in progress</label>
        <locationX>121</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_in_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not in progress</defaultConnectorLabel>
        <rules>
            <name>In_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.DLRS_Calc_in_progress__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>In progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreateDecision</name>
        <label>Create</label>
        <locationX>520</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>CreateOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CREATE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_only_Assignments</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CREATE</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>RenewalFormula</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.SBQQ__Quote__r.SBQQ__Type__c},&quot;Renewal&quot;)
&amp;&amp;
((NOW() - {!$Record.SBQQ__Quote__r.CreatedDate} )&lt; (1/24/60) )</expression>
    </formulas>
    <interviewLabel>Quote Line run DLRS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line run DLRS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Quote_in_Progress</name>
        <label>Update Quote in Progress</label>
        <locationX>130</locationX>
        <locationY>759</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DLRS_Calc_in_progress__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Line</name>
        <label>Update Quote Line</label>
        <locationX>1032</locationX>
        <locationY>581</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>51</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Already_in_progress</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Created_by_Automation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_minute_after</name>
            <connector>
                <targetReference>Run_DLRS</targetReference>
            </connector>
            <label>0 minute after</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_DLRS</name>
        <label>Run DLRS</label>
        <locationX>252</locationX>
        <locationY>399</locationY>
        <connector>
            <targetReference>Create_Update_Assignments</targetReference>
        </connector>
        <flowName>Quote_Line_DLRS</flowName>
        <inputAssignments>
            <name>QuoteID</name>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
