force-app/main/default/flows/Run_validation_on_activation_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_rollup</name>
        <label>Calculate rollup</label>
        <locationX>747</locationX>
        <locationY>50</locationY>
        <actionName>dlrs__RollupActionCalculate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_every_lookup_field</targetReference>
        </connector>
        <inputParameters>
            <name>RollupSummaryUniqueName</name>
            <value>
                <elementReference>LookupRollupSummaryField.dlrs__UniqueName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ParentId</name>
            <value>
                <elementReference>ParentRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>dlrs__RollupActionCalculate</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Increment_counter</name>
        <label>Increment counter</label>
        <locationX>363</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_counter</name>
        <label>Reset counter</label>
        <locationX>748</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_rollup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_counter</name>
        <label>Set counter</label>
        <locationX>251</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_every_lookup_field</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Run validation on activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Run validation on activation</label>
    <loops>
        <name>For_every_lookup_field</name>
        <label>For every lookup field</label>
        <locationX>359</locationX>
        <locationY>51</locationY>
        <assignNextValueToReference>LookupRollupSummaryField</assignNextValueToReference>
        <collectionReference>Get_all_lookup_rollup_summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_counter</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_lookup_rollup_summaries</name>
        <label>Get all lookup rollup summaries</label>
        <locationX>155</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_counter</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>dlrs__LookupRollupSummary__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>dlrs__UniqueName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_all_lookup_rollup_summaries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LookupRollupSummaryField</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dlrs__LookupRollupSummary__c</objectType>
    </variables>
    <variables>
        <name>ParentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RollupUniqueNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&quot;&quot;</stringValue>
        </value>
    </variables>
    <waits>
        <name>Limit</name>
        <label>Limit</label>
        <locationX>537</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>Calculate_rollup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Close_to_limit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_counter</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Close to limit</label>
        </waitEvents>
    </waits>
</Flow>
