force-app/main/default/flows/Scheduled_User_Send_reminder_for_NPS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Account_Owner</name>
        <label>Send Email to Account Owner</label>
        <locationX>946</locationX>
        <locationY>457</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailtemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Please check your NPS Contacts</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Count_NPS_Accounts</name>
        <label>Count NPS Accounts</label>
        <locationX>527</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CountWithoutNPSContacts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Accounts_without_NPS_Contacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_NPS_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Number_of_NPS_Contacts</name>
        <label>Number of NPS Contacts</label>
        <locationX>675</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>Send_Email_to_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountWithoutNPSContacts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Account_Owner</targetReference>
            </connector>
            <label>0 &lt;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_NPS_Contacts_0</name>
        <label>Number of NPS Contacts</label>
        <locationX>171</locationX>
        <locationY>457</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Owns_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts_without_NPS_Contacts</targetReference>
            </connector>
            <label>User Owns Accounts</label>
        </rules>
        <rules>
            <name>No_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Accounts</label>
        </rules>
    </decisions>
    <interviewLabel>User Send reminder for NPS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled User Send reminder for NPS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts_without_NPS_Contacts</name>
        <label>Get Accounts without NPS Contacts</label>
        <locationX>376</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_NPS_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Number_of_NPS_Contacts__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Accounts</name>
        <label>Get All Accounts</label>
        <locationX>174</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_NPS_Contacts_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_All_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NPS_Check_Trigger__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-08-11</startDate>
            <startTime>13:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Emailtemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have {!CountWithoutNPSContacts} Account(s) without NPS Contact, please see this report: &lt;a href=&quot;https://teliadenmark.lightning.force.com/lightning/r/Report/00O1i0000016emfEAA/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;My Active Account without NPS Contacts | Salesforce&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If there still are Accounts without NPS Contact 2 days before the NPS is sent to the customer, an NPS Contact will be&lt;b&gt; automatically assigned &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please also have a look at you Accounts with NPS Contacts to make sure they all are correct: &lt;a href=&quot;https://teliadenmark.lightning.force.com/lightning/r/Report/00O1i0000016emgEAA/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;My Active Account with NPS Contacts | Salesforce&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CountWithoutNPSContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
