force-app/main/default/flows/Set_Approval_Limit_on_QL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_QL_to_collection</name>
        <label>Add QL to collection</label>
        <locationX>379</locationX>
        <locationY>430</locationY>
        <assignmentItems>
            <assignToReference>UpdatedQLs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_QLs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_QL</name>
        <label>Update QL</label>
        <locationX>223</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>QL.Discount_Approval_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcDiscountApprovalLimit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QL.Quantity_Approval_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcQuantityApprovalLimit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QL.Subsidy_Approval_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcSubsidyApprovalLimit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QL_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IF_DEBUG</name>
        <label>IF DEBUG</label>
        <locationX>55</locationX>
        <locationY>160</locationY>
        <defaultConnector>
            <targetReference>Get_QLs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Use_debug_quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG</targetReference>
            </connector>
            <label>Use debug quote</label>
        </rules>
    </decisions>
    <description>Used in Advanced Approval to set approval limits on QL</description>
    <formulas>
        <name>CalcDiscountApprovalLimit</name>
        <dataType>Number</dataType>
        <expression>{!QL.SBQQ__Discount__c}*1.00*100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcQuantityApprovalLimit</name>
        <dataType>Number</dataType>
        <expression>{!QL.SBQQ__Quantity__c}*0.9</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcSubsidyApprovalLimit</name>
        <dataType>Currency</dataType>
        <expression>{!QL.Net_Subsidy__c}*1.00</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Set Approval Limit on QL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Approval Limit on QL</label>
    <loops>
        <name>Loop_through_QLs</name>
        <label>Loop through QLs</label>
        <locationX>329</locationX>
        <locationY>251</locationY>
        <assignNextValueToReference>QL</assignNextValueToReference>
        <collectionReference>QLs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_QL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_QLs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DEBUG</name>
        <label>DEBUG</label>
        <locationX>59</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QLs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a0u1w0000040EMxAAM</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>Quote</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_QLs</name>
        <label>Get QLs</label>
        <locationX>179</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_QLs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>QLs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Discount_Approval_Limit__c</queriedFields>
        <queriedFields>Quantity_Approval_Limit__c</queriedFields>
        <queriedFields>Subsidy_Approval_Limit__c</queriedFields>
        <queriedFields>SBQQ__Discount__c</queriedFields>
        <queriedFields>SBQQ__Quantity__c</queriedFields>
        <queriedFields>Net_Subsidy__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_QLs</name>
        <label>Update QLs</label>
        <locationX>463</locationX>
        <locationY>253</locationY>
        <inputReference>UpdatedQLs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_QLs_old</name>
        <label>Update QLs</label>
        <locationX>628</locationX>
        <locationY>87</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Discount_Approval_Limit__c</field>
            <value>
                <elementReference>CalcDiscountApprovalLimit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Approval_Limit__c</field>
            <value>
                <elementReference>CalcQuantityApprovalLimit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidy_Approval_Limit__c</field>
            <value>
                <elementReference>CalcSubsidyApprovalLimit</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IF_DEBUG</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>QL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QLs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>Quote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>UpdatedQLs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
