force-app/main/default/flows/Set_SLA_on_activation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Set SLA on activation header</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>Call flow to set SLA date</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <actionName>Set_SLA_on_activation_header</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Activation</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Activation__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>Activation</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SLA_days</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>SLA_days</name>
            <value>
                <elementReference>formula_13_myRule_12_A1_3566388188</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Set_SLA_on_activation_header</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Set SLA on activation header</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Call flow to set SLA due date</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <actionName>Set_SLA_on_activation_header</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Activation</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Activation__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>Activation</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SLA_days</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>SLA_days</name>
            <value>
                <elementReference>formula_16_myRule_15_A1_0658964662</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Set_SLA_on_activation_header</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Set SLA on activation header</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Call flow to set SLA date</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Set_SLA_on_activation_header</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Activation</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Activation__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>Activation</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SLA_days</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>SLA_days</name>
            <value>
                <elementReference>formula_4_myRule_3_A1_8420816093</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Set_SLA_on_activation_header</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Set SLA on activation header</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Call flow to set SLA date</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <actionName>Set_SLA_on_activation_header</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Activation</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Activation__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>Activation</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SLA_days</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>SLA_days</name>
            <value>
                <elementReference>formula_7_myRule_6_A1_6665374688</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Set_SLA_on_activation_header</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>Set SLA on activation header</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Call flow to set SLA date</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Set_SLA_on_activation_header</actionName>
        <actionType>flow</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Activation</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Activation__c</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>Activation</name>
            <value>
                <elementReference>myVariable_current</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SLA_days</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>SLA_days</name>
            <value>
                <elementReference>formula_10_myRule_9_A1_0978573030</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Set_SLA_on_activation_header</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Set fields</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voice_activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>Voice</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home_office_activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Home Office</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fiber_activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Fiber</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DSL_coax_activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>DSL</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UC_activation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>UC</label>
        </rules>
    </decisions>
    <description>Sets the SLA dates on an activation header according to the defined SLA matrix</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c)=&quot;New Business&quot;,
$CustomMetadata.SLA__mdt.TPX.New_business__c,

IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c )=&quot;Renewal&quot;,
$CustomMetadata.SLA__mdt.TPX.Renewal__c,

IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c )=&quot;Upsale&quot;,
$CustomMetadata.SLA__mdt.TPX.Upsale__c,

$CustomMetadata.SLA__mdt.TPX.Cross_sale__c)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_0978573030</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c})=&quot;New Business&quot;,
{!$CustomMetadata.SLA__mdt.TPX.New_business__c},

IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c} )=&quot;Renewal&quot;,
{!$CustomMetadata.SLA__mdt.TPX.Renewal__c},

IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c} )=&quot;Upsale&quot;,
{!$CustomMetadata.SLA__mdt.TPX.Upsale__c},

{!$CustomMetadata.SLA__mdt.TPX.Cross_sale__c})))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c)=&quot;New Business&quot;,
$CustomMetadata.SLA__mdt.Mobile.New_business__c,

IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c )=&quot;Renewal&quot;,
$CustomMetadata.SLA__mdt.Mobile.Renewal__c,

IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c )=&quot;Upsale&quot;,
$CustomMetadata.SLA__mdt.Mobile.Upsale__c,

$CustomMetadata.SLA__mdt.Mobile.Cross_sale__c)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_12_A1_3566388188</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c})=&quot;New Business&quot;,
{!$CustomMetadata.SLA__mdt.Mobile.New_business__c},

IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c} )=&quot;Renewal&quot;,
{!$CustomMetadata.SLA__mdt.Mobile.Renewal__c},

IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c} )=&quot;Upsale&quot;,
{!$CustomMetadata.SLA__mdt.Mobile.Upsale__c},

{!$CustomMetadata.SLA__mdt.Mobile.Cross_sale__c})))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c)=&quot;New Business&quot;,
$CustomMetadata.SLA__mdt.Home_office_fiber.New_business__c,

IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c )=&quot;Renewal&quot;,
$CustomMetadata.SLA__mdt.Home_office_fiber.Renewal__c,

IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c )=&quot;Upsale&quot;,
$CustomMetadata.SLA__mdt.Home_office_fiber.Upsale__c,

$CustomMetadata.SLA__mdt.Home_office_fiber.Cross_sale__c)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_15_A1_0658964662</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c})=&quot;New Business&quot;,
{!$CustomMetadata.SLA__mdt.Home_office_fiber.New_business__c},

IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c} )=&quot;Renewal&quot;,
{!$CustomMetadata.SLA__mdt.Home_office_fiber.Renewal__c},

IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c} )=&quot;Upsale&quot;,
{!$CustomMetadata.SLA__mdt.Home_office_fiber.Upsale__c},

{!$CustomMetadata.SLA__mdt.Home_office_fiber.Cross_sale__c})))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c)=&quot;New Business&quot;,
$CustomMetadata.SLA__mdt.Fiber.New_business__c,

IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c )=&quot;Renewal&quot;,
$CustomMetadata.SLA__mdt.Fiber.Renewal__c,

IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c )=&quot;Upsale&quot;,
$CustomMetadata.SLA__mdt.Fiber.Upsale__c,

$CustomMetadata.SLA__mdt.Fiber.Cross_sale__c)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_8420816093</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c})=&quot;New Business&quot;,
{!$CustomMetadata.SLA__mdt.Fiber.New_business__c},

IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c} )=&quot;Renewal&quot;,
{!$CustomMetadata.SLA__mdt.Fiber.Renewal__c},

IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c} )=&quot;Upsale&quot;,
{!$CustomMetadata.SLA__mdt.Fiber.Upsale__c},

{!$CustomMetadata.SLA__mdt.Fiber.Cross_sale__c})))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c)=&quot;New Business&quot;,
$CustomMetadata.SLA__mdt.DSL.New_business__c,

IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c )=&quot;Renewal&quot;,
$CustomMetadata.SLA__mdt.DSL.Renewal__c,

IF(TEXT([Activation__c].Case__c.Quote__c.SBQQ__Type__c )=&quot;Upsale&quot;,
$CustomMetadata.SLA__mdt.DSL.Upsale__c,

$CustomMetadata.SLA__mdt.DSL.Cross_sale__c)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_A1_6665374688</name>
        <dataType>Number</dataType>
        <expression>IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c})=&quot;New Business&quot;,
{!$CustomMetadata.SLA__mdt.DSL.New_business__c},

IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c} )=&quot;Renewal&quot;,
{!$CustomMetadata.SLA__mdt.DSL.Renewal__c},

IF(TEXT({!myVariable_current.Case__r.Quote__r.SBQQ__Type__c} )=&quot;Upsale&quot;,
{!$CustomMetadata.SLA__mdt.DSL.Upsale__c},

{!$CustomMetadata.SLA__mdt.DSL.Cross_sale__c})))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>Set_SLA_on_activation-5_InterviewLabel</interviewLabel>
    <label>Set SLA on activation</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Activation__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Activation__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set order requested date</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Order requested date (from sales)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Order_requested_date__c</field>
            <value>
                <elementReference>myVariable_current.Case__r.Quote__r.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Activation__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Activation__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation__c</objectType>
    </variables>
</Flow>
