force-app/main/default/flows/Subscription_UpdateContractTypeFromSubcription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>UpdateContractTypeAsData</name>
        <label>UpdateContractTypeAsData</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>GetContract.Data_Part_of_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContractforData</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateContractTypeAsFastnet</name>
        <label>UpdateContractTypeAsFastnet</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>GetContract.Fastnet_Part_of_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContractforFastnet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateContractTypeAsMobile</name>
        <label>UpdateContractTypeAsMobile</label>
        <locationX>1018</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>GetContract.Mobile_Part_of_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContractforMobile</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>GetProductContractGroup</name>
        <label>GetProductContractGroup</label>
        <locationX>666</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>IfMobileNotChecked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mobile</defaultConnectorLabel>
        <rules>
            <name>Fastnet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProduct.Contract_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fastnet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IfFastnetNotChecked</targetReference>
            </connector>
            <label>Fastnet</label>
        </rules>
        <rules>
            <name>Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProduct.Contract_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IfDataNotChecked</targetReference>
            </connector>
            <label>Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfContractFound</name>
        <label>IfContractFound</label>
        <locationX>1392</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContractFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContract</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProduct</targetReference>
            </connector>
            <label>ContractFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfDataNotChecked</name>
        <label>IfDataNotChecked</label>
        <locationX>710</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DataNotChecked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContract.Data_Part_of_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContractTypeAsData</targetReference>
            </connector>
            <label>DataNotChecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfFastnetNotChecked</name>
        <label>IfFastnetNotChecked</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FastnetNotChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContract.Fastnet_Part_of_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContractTypeAsFastnet</targetReference>
            </connector>
            <label>FastnetNotChecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfMobileNotChecked</name>
        <label>IfMobileNotChecked</label>
        <locationX>1150</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MobileNotChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContract.Mobile_Part_of_Contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContractTypeAsMobile</targetReference>
            </connector>
            <label>MobileNotChecked</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfProductFound</name>
        <label>IfProductFound</label>
        <locationX>1062</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProduct.Contract_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProductContractGroup</targetReference>
            </connector>
            <label>ProductFound</label>
        </rules>
    </decisions>
    <description>Runs on Subscription creation and update the contract type based on the Product Contract Type Field.</description>
    <interviewLabel>Subscription: UpdateContractTypeFromSubcription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription: UpdateContractTypeFromSubcription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetContract</name>
        <label>GetContract</label>
        <locationX>1392</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfContractFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProduct</name>
        <label>GetProduct</label>
        <locationX>1062</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfProductFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContractforData</name>
        <label>UpdateContractforData</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <inputReference>GetContract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContractforFastnet</name>
        <label>UpdateContractforFastnet</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <inputReference>GetContract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContractforMobile</name>
        <label>UpdateContractforMobile</label>
        <locationX>1018</locationX>
        <locationY>1175</locationY>
        <inputReference>GetContract</inputReference>
    </recordUpdates>
    <start>
        <locationX>1266</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Contract__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Subscription__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
