force-app/main/default/flows/Update_ActivationLines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_Case_Ids</name>
        <label>Extract Case Ids</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_non_fulfilled_Activations</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Case</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Cases</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>InsertRequiredBy</name>
        <label>InsertRequiredBy</label>
        <locationX>50</locationX>
        <locationY>2351</locationY>
        <actionName>Quote_line_Update</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CloseQuote_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CreateActivationQuote1.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Quote_line_Update</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Set_Quantify_Of_Activations_On_Quotelines_Action_1</name>
        <label>Set Quantify Of Activations On Quotelines Action 1</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <actionName>ActivationFulfilledQuoteLineAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CreateQuoteLines</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>activationQuote</name>
            <value>
                <elementReference>CreateActivationQuote1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>listOfQuoteLines</name>
            <value>
                <elementReference>GetQuoteLines</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ActivationFulfilledQuoteLineAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>The iterated Case needs to be added to a new Collection in order to have the changes persisted for the update.</description>
        <name>Add_Case_to_CasesToUpdate</name>
        <label>Add Case to CasesToUpdate</label>
        <locationX>138</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>CasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cases_to_Update_the_Activations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases_to_Update_the_Activations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignActivationQuote</name>
        <label>AssignActivationQuote</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>CreateActivationQuote1.Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.SBQQ__PrimaryQuote__r.Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateActivationQuote1.SBQQ__Opportunity2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.SBQQ__PrimaryQuote__r.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateActivationQuote1.SBQQ__Primary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateActivationQuote1.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Activation_Quote_Record_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateActivationQuote1.Quote_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activation Quote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateActivationQuote1.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.SBQQ__PrimaryQuote__r.SBQQ__SubscriptionTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateActivationQuote1.SBQQ__StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.SBQQ__PrimaryQuote__r.SBQQ__StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateActivationQuote1.SBQQ__MasterContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.SBQQ__PrimaryQuote__r.SBQQ__MasterContract__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateActivationQuote1.SBQQ__EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.SBQQ__PrimaryQuote__r.SBQQ__EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateActivationQuote1.SBQQ__PriceBook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.SBQQ__PrimaryQuote__r.SBQQ__PriceBook__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateActivationQuote1.SBQQ__PricebookId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.SBQQ__PrimaryQuote__r.SBQQ__PricebookId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateActivationQuote1.SBQQ__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.SBQQ__PrimaryQuote__r.SBQQ__Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateActivationQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Activation_Quote_on_Case</name>
        <label>Set Activation Quote on Case</label>
        <locationX>138</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>Loop_Cases_to_Update_the_Activations.Activation_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateActivationQuote1.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Case_to_CasesToUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ActivationQuoteExists</name>
        <label>ActivationQuoteExists?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetActivationQuote.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_opportunity_related_to_the_Activation</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>AllActivationsFulfilled</name>
        <label>AllActivationsFulfilled</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AllFulfilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_non_fulfilled_Activations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePrimaryQuote</targetReference>
            </connector>
            <label>AllFulfilled</label>
        </rules>
    </decisions>
    <description>Creates Activation Quote, Updates related case and opportunity, creates Quote lines, set quote lines quantity, updates Activation lines, calls Apex that creates QLD and closes Activation quote.</description>
    <environments>Default</environments>
    <interviewLabel>Update ActivationLines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Activation: Fulfilled - Create Activation Quote &amp; QL and update AL</label>
    <loops>
        <name>Loop_Cases_to_Update_the_Activations</name>
        <label>Loop Cases to Update the Activations</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <collectionReference>Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Activation_Quote_on_Case</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateActivationQuote</name>
        <label>CreateActivationQuote</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Loop_Cases_to_Update_the_Activations</targetReference>
        </connector>
        <inputReference>CreateActivationQuote1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateQuoteLines</name>
        <label>CreateQuoteLines</label>
        <locationX>50</locationX>
        <locationY>2243</locationY>
        <connector>
            <targetReference>InsertRequiredBy</targetReference>
        </connector>
        <inputReference>Set_Quantify_Of_Activations_On_Quotelines_Action_1.listOfQuoteLines</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_non_fulfilled_Activations</name>
        <label>Get non-fulfilled Activations</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AllActivationsFulfilled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Extract_Case_Ids.fieldValueCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activation_progress__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_opportunity_related_to_the_Activation</name>
        <label>Get opportunity related to the Activation</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_cases_under_this_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_cases_under_this_opportunity</name>
        <label>Get related cases under this opportunity</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extract_Case_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_opportunity_related_to_the_Activation.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Cases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetActivationQuote</name>
        <label>GetActivationQuote</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActivationQuoteExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Activation_Quote_Record_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteLines</name>
        <label>GetQuoteLines</label>
        <locationX>50</locationX>
        <locationY>2027</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Quantify_Of_Activations_On_Quotelines_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.Original_Primary_Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CloseQuote_0</name>
        <label>CloseQuote</label>
        <locationX>50</locationX>
        <locationY>2459</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateActivationQuote1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>SetOriginalPrimaryQuote</name>
        <label>SetOriginalPrimaryQuote</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>AssignActivationQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Original_Primary_Quote__c</field>
            <value>
                <elementReference>$Record.Case__r.Opportunity__r.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>GetQuoteLines</targetReference>
        </connector>
        <inputReference>CasesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePrimaryQuote</name>
        <label>UpdatePrimaryQuote</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>SetOriginalPrimaryQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__r.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Label.Activation_Quote_Record_Type</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Original_Primary_Quote__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetActivationQuote</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation_progress__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </filters>
        <object>Activation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActivationQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Only needed as modifying Cases in a looped collection doesn&apos;t work, so we add them to a new collection.</description>
        <name>CasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CreateActivationQuote1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>OutputQL</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Quotetoadd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
