force-app/main/default/flows/Voice_Flow_Create_Billing_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign data to create a new Billing Account record</description>
        <name>Create_New_Record</name>
        <label>Create New Record</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>BillingAccount.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InputAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingAccount.Billing_Account_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>General</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingAccount.Billing_Att__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Billing_Att</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingAccount.Billing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingAccount.Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingAccount.Billing_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Billing_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingAccount.Billing_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingAccount.Billing_Street_and_no__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreetAndNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingAccount.Invoice_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingAccount.Invoice_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Invoice_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Invoice_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingAccount.EAN_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_EAN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Billing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cancel</name>
        <label>Set Cancel</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>IsCreateSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>IsCreateSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>EAN</name>
        <choiceText>EAN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EAN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PDF</stringValue>
        </value>
    </choices>
    <choices>
        <name>Letter</name>
        <choiceText>Letter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paper</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Which_Button_Selected</name>
        <label>Which Button Selected?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Billing_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewRecordActions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Record</targetReference>
            </connector>
            <label>Save</label>
        </rules>
        <rules>
            <name>Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewRecordActions.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cancel</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BillingCityFormula</name>
        <dataType>String</dataType>
        <expression>{!InputAccount.BillingCity}</expression>
    </formulas>
    <formulas>
        <name>BillingPostalCodeFormula</name>
        <dataType>String</dataType>
        <expression>{!InputAccount.BillingPostalCode}</expression>
    </formulas>
    <formulas>
        <name>BillingStreetNumberAndSuffix</name>
        <dataType>String</dataType>
        <expression>{!InputAccount.Billing_Street_Number__c} + {!InputAccount.Billing_Street_Number_Suffix__c}</expression>
    </formulas>
    <formulas>
        <name>StreetAndNo</name>
        <dataType>String</dataType>
        <expression>{!New_Street}  + &quot; &quot; +  {!New_No}</expression>
    </formulas>
    <interviewLabel>Voice Flow - Create Billing Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voice Flow - Create Billing Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Billing_Account</name>
        <label>Create a Billing Account</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <inputReference>BillingAccount</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>New_Billing_Account</name>
        <label>New Billing Account</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Button_Selected</targetReference>
        </connector>
        <fields>
            <name>New_Billing_Account_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Billing_Account_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Billing_Account_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewRecordTitle</name>
                    <fieldText>&lt;p&gt;{!TitleTemplate} {!NewFormTitle}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Billing_Account_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Billing_Account_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Billing_Account_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Billing_Account_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Billing_Account_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Billing_Account_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewBillingInformation</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Billing Information﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Billing_Account_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewAddressInformation</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Address Information﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Billing_Account_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Billing_Account_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Billing_Account_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Billing_Account_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Invoice_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Invoice Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-family: Arial; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.VTPX_BILLING_IN_HELPTEXT}&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>New_Billing_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Billing Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.VTPX_BILLING_BN_HELPTEXT}&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>New_Billing_Att</name>
                    <dataType>String</dataType>
                    <fieldText>Billing Att.</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51); font-family: Arial; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.VTPX_BILLING_BA_HELPTEXT}&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Billing_Account_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Street</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>InputAccount.Billing_Street_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>New_No</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BillingStreetNumberAndSuffix</elementReference>
                    </defaultValue>
                    <fieldText>No.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>New_Postal_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BillingPostalCodeFormula</elementReference>
                    </defaultValue>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>New_City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BillingCityFormula</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>New_Country</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Denmark</stringValue>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Billing_Account_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewRecordActions.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Cancel</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Billing_Account_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Billing_Account_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Billing_Account_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewInvoiceInformation</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Invoice Information﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>New_Invoice_Type</name>
                    <choiceReferences>Email</choiceReferences>
                    <choiceReferences>EAN</choiceReferences>
                    <choiceReferences>Letter</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Email</defaultSelectedChoiceReference>
                    <fieldText>Invoice Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>New_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>New_Invoice_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Email</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>New_EAN</name>
                    <dataType>Number</dataType>
                    <fieldText>EAN</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>New_Invoice_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>EAN</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Billing_Account_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Billing_Account_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewRecordActions.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Cancel</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewRecordActions</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Billing_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrorEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!CaseOwnerName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The following case {!CaseNumber} throws an error when creating a Billing Account and the customer needs your help.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessageTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-notify slds-notify_alert slds-alert_error&quot; role=&quot;alert&quot;&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessageToUser</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;An error has occured. Please contact your case owner with the following case number {!InputCase.CaseNumber}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SpaceTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&amp;nbsp;</text>
    </textTemplates>
    <textTemplates>
        <name>TitleTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-scoped-notification slds-media slds-media_center slds-scoped-notification_light&quot; role=&quot;status&quot;&gt;&lt;div class=&quot;slds-media__body&quot;&gt;&lt;p&gt;</text>
    </textTemplates>
    <variables>
        <name>ApexActionErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This value comes from Fokus after a BAN is created</description>
        <name>BANFromFokus</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BillingAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Billing_Account__c</objectType>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>InputCase.CaseNumber</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>InputCase.Sales_rep__r.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseOwnerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>InputCase.Sales_rep__r.FirstName</elementReference>
        </value>
    </variables>
    <variables>
        <name>EmailSenderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!InputContact.FirstName} {!InputContact.LastName} </stringValue>
        </value>
    </variables>
    <variables>
        <name>ErrorEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error on case {!CaseNumber}</stringValue>
        </value>
    </variables>
    <variables>
        <name>HasApexErrors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InputAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>InputCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>InputContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IsCreateSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewFormTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Create a New Billing Account</stringValue>
        </value>
    </variables>
</Flow>
