force-app/main/default/flows/Voice_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Back_or_Next</name>
        <label>Back or Next</label>
        <locationX>726</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Voice_Flow_Billing_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Back</defaultConnectorLabel>
        <rules>
            <name>Next</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Voice_Flow_Users.GoBack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voice_Flow_Services</targetReference>
            </connector>
            <label>Next</label>
        </rules>
    </decisions>
    <decisions>
        <name>Back_or_Next1</name>
        <label>Back or Next?</label>
        <locationX>479</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Voice_Flow_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Back</defaultConnectorLabel>
        <rules>
            <name>Next1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GoBack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Voice_Flow_TPX_Addons</targetReference>
            </connector>
            <label>Next</label>
        </rules>
    </decisions>
    <decisions>
        <name>Back_or_Next2</name>
        <label>Back or Next?</label>
        <locationX>248</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Voice_Flow_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Back</defaultConnectorLabel>
        <rules>
            <name>Next2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GoBack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_updated_case_2</targetReference>
            </connector>
            <label>Next</label>
        </rules>
    </decisions>
    <decisions>
        <name>Back_or_Next3</name>
        <label>Back or Next?</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Voice_Flow_TPX_Addons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Back</defaultConnectorLabel>
        <rules>
            <name>Next3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GoBack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Next</label>
        </rules>
    </decisions>
    <description>Billing Account and the Summary flow get the Account, Activation and the Contact information from the Voice Flow</description>
    <environments>Default</environments>
    <interviewLabel>Voice Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voice Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>726</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Activation</name>
        <label>Get Activation</label>
        <locationX>726</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Voice_Activation_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>726</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Voice_Activation_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Products_In_Scope_Text__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Voice</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This is necesserary for the subflow to run with an updated version of the case. Otherwise the subflow takes the initial &quot;snapshot&quot; of the case, without the changes made in the previous subflow &quot;Voice Flow - Billing Account&quot;.</description>
        <name>Get_updated_case</name>
        <label>Get updated case</label>
        <locationX>726</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Voice_Flow_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This is necesserary for the subflow to run with an updated version of the case. Otherwise the subflow takes the initial &quot;snapshot&quot; of the case, without the changes made in the previous subflows.</description>
        <name>Get_updated_case_2</name>
        <label>Get updated case 2</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Voice_Flow_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Contact</name>
        <label>Get User Contact</label>
        <locationX>726</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voice_Activation_Record_Type</name>
        <label>Get Voice Activation Record Type</label>
        <locationX>726</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Activation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice_activation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Intro</name>
        <label>Intro</label>
        <locationX>726</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Voice_Flow_Billing_Account</targetReference>
        </connector>
        <fields>
            <name>IntroText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.VTPX_MAIN_WELCOME_TITLE}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.VTPX_MAIN_WELCOME_TEXT}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>600</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Voice_Flow_Billing_Account</name>
        <label>Voice Flow - Billing Account</label>
        <locationX>726</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_updated_case</targetReference>
        </connector>
        <flowName>Voice_Flow_Billing_Account</flowName>
        <inputAssignments>
            <name>GoBack</name>
            <value>
                <elementReference>Voice_Flow_Users.GoBack</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputAccount</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputActivation</name>
            <value>
                <elementReference>Get_Activation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputCase</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InputContact</name>
            <value>
                <elementReference>Get_User_Contact</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Voice_Flow_Services</name>
        <label>Voice Flow - Services</label>
        <locationX>479</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Back_or_Next1</targetReference>
        </connector>
        <flowName>Voice_Flow_Services</flowName>
        <inputAssignments>
            <name>activationId</name>
            <value>
                <elementReference>Get_Activation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GoBack</name>
            <value>
                <elementReference>GoBack</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>GoBack</assignToReference>
            <name>GoBack</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Voice_Flow_Summary</name>
        <label>Voice Flow - Summary</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Back_or_Next3</targetReference>
        </connector>
        <flowName>Voice_Flow_Voice_Summary</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Activation</name>
            <value>
                <elementReference>Get_Activation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>Get_updated_case_2</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>GoBack</assignToReference>
            <name>GoBack</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Voice_Flow_TPX_Addons</name>
        <label>Voice Flow - TPX Addons</label>
        <locationX>248</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Back_or_Next2</targetReference>
        </connector>
        <flowName>Voice_Flow_TPX_Addons</flowName>
        <inputAssignments>
            <name>activationId</name>
            <value>
                <elementReference>Get_Activation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GoBack</name>
            <value>
                <elementReference>GoBack</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>GoBack</assignToReference>
            <name>GoBack</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Voice_Flow_Users</name>
        <label>Voice Flow - Users</label>
        <locationX>726</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Back_or_Next</targetReference>
        </connector>
        <flowName>Voice_Flow_Users</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Activation</name>
            <value>
                <elementReference>Get_Activation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>Get_updated_case</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>GoBack</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case RECORD</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
