force-app/main/default/flows/Voice_Flow_Users_Basics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Get_First_Quote_Line_from_Collection</name>
        <label>Get First Quote Line from Collection</label>
        <locationX>1194</locationX>
        <locationY>2396</locationY>
        <actionName>GetFirst</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Quote_from_Quote_Line</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>SBQQ__QuoteLine__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputMember</typeName>
            <typeValue>SBQQ__QuoteLine__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Subscription_Quote_Lines</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetFirst</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Quote_Line_from_Collection_Filter</name>
        <label>Get Quote Line from Collection Filter</label>
        <locationX>1612</locationX>
        <locationY>2936</locationY>
        <actionName>GetFirst</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Any_Quantity_To_Add</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>SBQQ__QuoteLine__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputMember</typeName>
            <typeValue>SBQQ__QuoteLine__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Filter_Current_Quote_Line</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetFirst</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Set_PhoneNoStatus</name>
        <label>Set PhoneNoStatus</label>
        <locationX>600</locationX>
        <locationY>1190</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Collection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Activation_line__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Activation_line__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Datatable.outputSelectedRows</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <elementReference>PhoneNoStatusKeyValue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MapCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AL_Record_Type_ID</name>
        <label>Assign AL Record Type ID</label>
        <locationX>820</locationX>
        <locationY>1856</locationY>
        <assignmentItems>
            <assignToReference>ActivationLineRecordTypeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Activation_Line_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Basics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>FOR SOME REASON. WHEN USING THE PICKLIST CHOICE IN A FORMULA, YOU WILL GET THE VALUE OF THE LABEL AND NOT THE ACTUAL VALUE. HENCE THIS WORKAROUND!</description>
        <name>Assign_Choice_Value_to_Variable</name>
        <label>Assign Choice Value to Variable</label>
        <locationX>600</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>PhoneNoStatusChoiceValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneNoStatusChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LinesWithStatusNewAndMobileNumber_reset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_for_Activation_Line</name>
        <label>Assign Values for Activation Line</label>
        <locationX>1414</locationX>
        <locationY>3152</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionActivationLineToCreate.Manual_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_from_Collection_Filter.outputMember.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionActivationLineToCreate.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Activation.Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionActivationLineToCreate.Activation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Activation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionActivationLineToCreate.Quote_line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reapeater_Items.UniqueField__Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionActivationLineToCreate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Activation_Line_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionActivationLineToCreate.Delivery_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_from_Quote_Line.SBQQ__BillingCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionActivationLineToCreate.Delivery_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_from_Quote_Line.SBQQ__BillingCountry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionActivationLineToCreate.Delivery_Street_and_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_from_Quote_Line.SBQQ__BillingStreet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionActivationLineToCreate.Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_from_Quote_Line.SBQQ__BillingPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubscriptionActivationLineToCreate.Company_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_from_Quote_Line.Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActivationLinesToCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubscriptionActivationLineToCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Counter_Equal_To_Additional_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>productVisibilityFilter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Custom_Metadata.Product_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Loop_Counter</name>
        <label>Empty Loop Counter</label>
        <locationX>1282</locationX>
        <locationY>3368</locationY>
        <assignmentItems>
            <assignToReference>LoopCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Reapeater_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GoBack_equals_True</name>
        <label>GoBack equals True</label>
        <locationX>1986</locationX>
        <locationY>2288</locationY>
        <assignmentItems>
            <assignToReference>GoBack</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>LinesWithStatusNewAndMobileNumber_reset</name>
        <label>LinesWithStatusNewAndMobileNumber reset</label>
        <locationX>600</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>LinesWithStatusNewAndMobileNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FlowButtonBar_Choice_PhoneNoStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Back1</name>
        <label>Reset Back</label>
        <locationX>336</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>GoBack</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Unselect_all_lines</name>
        <label>Unselect all lines</label>
        <locationX>820</locationX>
        <locationY>2072</locationY>
        <assignmentItems>
            <assignToReference>SelectedLines</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>SelectedLines</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvalidLines</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Flow_Button_Bar_Decision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Eksisterende_Norlys_nummer</name>
        <choiceText>{!$Label.VTPX_NUMBER_STATUS_EXISTING}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Eksisterende Norlys nummer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nummer_skal_porteres</name>
        <choiceText>{!$Label.VTPX_NUMBER_STATUS_PORTING}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nummer skal porteres</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nyt_nummer</name>
        <choiceText>{!$Label.VTPX_NUMBER_STATUS_NEW}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nyt nummer</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_Current_Quote_Line</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Current Quote Line</label>
        <locationX>1612</locationX>
        <locationY>2828</locationY>
        <assignNextValueToReference>currentItem_Filter_Current_Quote_Line</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Subscription_Quote_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Current_Quote_Line.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Reapeater_Items.UniqueField__Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Quote_Line_from_Collection_Filter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Any_Quantity_To_Add</name>
        <label>Any Quantity To Add?</label>
        <locationX>1612</locationX>
        <locationY>3044</locationY>
        <defaultConnector>
            <targetReference>Loop_Reapeater_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Quantity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Reapeater_Items.Additional_Quantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_for_Activation_Line</targetReference>
            </connector>
            <label>Additional Quantity &gt;0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Button_Bar_Decision</name>
        <label>Delete Button Bar Decision</label>
        <locationX>1590</locationX>
        <locationY>2396</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Activation_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteFlowButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Button_Bar_Decision</name>
        <label>Flow Button Bar Decision</label>
        <locationX>820</locationX>
        <locationY>2180</locationY>
        <defaultConnector>
            <targetReference>GoBack_equals_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Back</defaultConnectorLabel>
        <rules>
            <name>Next</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Next</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_AL_requiring_Phone_No_Status</targetReference>
            </connector>
            <label>Next</label>
        </rules>
        <rules>
            <name>Excel_Upload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Excel Upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Excel_Upload_Screen</targetReference>
            </connector>
            <label>Excel Upload</label>
        </rules>
        <rules>
            <name>Add_Subscriptions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Subscriptions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Subscription_Quote_Lines</targetReference>
            </connector>
            <label>Add Subscriptions</label>
        </rules>
        <rules>
            <name>Delete_Subscriptions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Subscriptions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Activation_Lines_Screen</targetReference>
            </connector>
            <label>Delete Subscriptions</label>
        </rules>
    </decisions>
    <decisions>
        <name>FlowButtonBar_Choice_PhoneNoStatus</name>
        <label>FlowButtonBar Choice PhoneNoStatus</label>
        <locationX>600</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Get_Activation_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Back</defaultConnectorLabel>
        <rules>
            <name>Next1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowButtonBar_PhoneNoStatus.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Next</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Back1</targetReference>
            </connector>
            <label>Next</label>
        </rules>
        <rules>
            <name>Assign_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowButtonBar_PhoneNoStatus.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assign Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PhoneNoStatus</targetReference>
            </connector>
            <label>Assign Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>GoBack_Input</name>
        <label>GoBack Input</label>
        <locationX>820</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Get_Activation_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GoBack</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AL_requiring_Phone_No_Status</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loop_Counter_Equal_To_Additional_Quantity</name>
        <label>Loop Counter Equal To Additional Quantity?</label>
        <locationX>1414</locationX>
        <locationY>3260</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Values_for_Activation_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loop_Counter_Equals_Additional_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Reapeater_Items.Additional_Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Loop_Counter</targetReference>
            </connector>
            <label>Loop Counter Equals Additional Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Back_Selected</name>
        <label>Was Back Selected?</label>
        <locationX>50</locationX>
        <locationY>2396</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Excel_Upload_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowButtonBarExcelUpload.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Activation_Lines</targetReference>
            </connector>
            <label>Back selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PhoneNoStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Phone_no_Status__c</picklistField>
        <picklistObject>Activation_line__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentQuoteLineProductId</name>
        <dataType>String</dataType>
        <expression>{!currentItem_Filter_Current_Quote_Line.SBQQ__Product__c}</expression>
    </formulas>
    <formulas>
        <name>PhoneNoStatusKeyValue</name>
        <dataType>String</dataType>
        <expression>&quot;\&quot;Phone_no_Status__c\&quot; : \&quot;&quot; + {!PhoneNoStatusChoiceValue} + &quot;\&quot;&quot;</expression>
    </formulas>
    <interviewLabel>Voice Flow - Users - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voice Flow - Users - Basics</label>
    <loops>
        <name>Assign_Custom_Metadata</name>
        <label>Assign Custom Metadata</label>
        <locationX>820</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Custom_Metadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GoBack_Input</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Reapeater_Items</name>
        <label>Loop Reapeater Items</label>
        <locationX>1194</locationX>
        <locationY>2720</locationY>
        <collectionReference>AddSubscriptionsRepeater.AllItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Current_Quote_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Activation_Lines_From_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Activation_Lines_From_Collection</name>
        <label>Create Activation Lines From Collection</label>
        <locationX>1194</locationX>
        <locationY>3728</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Activation_Lines</targetReference>
        </connector>
        <inputReference>ActivationLinesToCreateCollection</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Records</name>
        <label>Delete Records</label>
        <locationX>1458</locationX>
        <locationY>2504</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Activation_Lines</targetReference>
        </connector>
        <inputReference>DeleteActivationLinesTable.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Activation_Line_Record_Type</name>
        <label>Get Activation Line Record Type</label>
        <locationX>820</locationX>
        <locationY>1748</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AL_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activation_line__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voice activation line</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Activation_Lines</name>
        <label>Get Activation Lines</label>
        <locationX>820</locationX>
        <locationY>1640</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Activation_Line_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Activation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Code_1__c</field>
            <operator>In</operator>
            <value>
                <elementReference>productVisibilityFilter</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activation_line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>First_name__c</queriedFields>
        <queriedFields>Last_name__c</queriedFields>
        <queriedFields>Mobile_no__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Phone_no__c</queriedFields>
        <queriedFields>Department__c</queriedFields>
        <queriedFields>Job_description__c</queriedFields>
        <queriedFields>Locale__c</queriedFields>
        <queriedFields>Keywords__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>All Voice Products that requires Phone No Status</description>
        <name>Get_AL_requiring_Phone_No_Status</name>
        <label>Get AL requiring Phone No Status</label>
        <locationX>600</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PhoneNumberStatusScreen</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Activation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Code_1__c</field>
            <operator>In</operator>
            <value>
                <elementReference>productVisibilityFilter</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activation_line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>First_name__c</queriedFields>
        <queriedFields>Last_name__c</queriedFields>
        <queriedFields>Mobile_no__c</queriedFields>
        <queriedFields>Phone_no_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Metadata</name>
        <label>Get Custom Metadata</label>
        <locationX>820</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Custom_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Hide__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VTPX_User_Datatable_Products__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_from_Quote_Line</name>
        <label>Get Quote from Quote Line</label>
        <locationX>1194</locationX>
        <locationY>2504</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Subscriptions_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_First_Quote_Line_from_Collection.outputMember.SBQQ__Quote__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Subscription_Quote_Lines</name>
        <label>Get Subscription Quote Lines</label>
        <locationX>1194</locationX>
        <locationY>2288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_First_Quote_Line_from_Collection</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Activation.Case__r.Opportunity__r.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activate_with_other_products__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductName__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>TPX Corporate</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductName__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Corporate</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductName__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>4Business</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductName__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>M2M</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>600</locationX>
        <locationY>1298</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_AL_requiring_Phone_No_Status</targetReference>
        </connector>
        <inputReference>Set_PhoneNoStatus.outputCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_Subscriptions_Screen</name>
        <label>Add Subscriptions</label>
        <locationX>1194</locationX>
        <locationY>2612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Reapeater_Items</targetReference>
        </connector>
        <fields>
            <name>AddUsersText</name>
            <fieldText>&lt;p&gt;{!$Label.VTPX_USERS_ADD_TEXT}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddSubscriptionsRepeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>ProductNameDisplayText</name>
                <fieldText>&lt;p&gt;&lt;strong&gt;{!Get_Subscription_Quote_Lines[$EachItem].SBQQ__ProductName__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
            </fields>
            <fields>
                <name>Additional_Quantity</name>
                <dataType>Number</dataType>
                <defaultValue>
                    <numberValue>0.0</numberValue>
                </defaultValue>
                <fieldText>Additional Quantity</fieldText>
                <fieldType>InputField</fieldType>
                <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                <isRequired>false</isRequired>
                <scale>0</scale>
                <styleProperties>
                    <verticalAlignment>
                        <stringValue>top</stringValue>
                    </verticalAlignment>
                    <width>
                        <stringValue>12</stringValue>
                    </width>
                </styleProperties>
                <validationRule>
                    <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.VTPX_USERS_ADD_VALIDATIONTEXT}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                    <formulaExpression>{!AddSubscriptionsRepeater.AllItems[$EachItem].Additional_Quantity} &gt; -1 &amp;&amp; {!AddSubscriptionsRepeater.AllItems[$EachItem].Additional_Quantity} &lt;101</formulaExpression>
                </validationRule>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>Get_Subscription_Quote_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Basics</name>
        <label>Basics</label>
        <locationX>820</locationX>
        <locationY>1964</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Unselect_all_lines</targetReference>
        </connector>
        <fields>
            <name>UsersHelpText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.VTPX_USERS_SUBS_TITLE}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.VTPX_USERS_SUBS_TEXT}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DatatableMain</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Activation_line__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Activation_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product__c&quot;,&quot;guid&quot;:&quot;column-ca7c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;First_name__c&quot;,&quot;guid&quot;:&quot;column-83b9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;First name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Last_name__c&quot;,&quot;guid&quot;:&quot;column-8af7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Mobile_no__c&quot;,&quot;guid&quot;:&quot;column-65b2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Mobile no.&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-b6c8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Phone_no__c&quot;,&quot;guid&quot;:&quot;column-c4da&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Fixed no.&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Department__c&quot;,&quot;guid&quot;:&quot;column-906c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Department&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Job_description__c&quot;,&quot;guid&quot;:&quot;column-528a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Job description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Locale__c&quot;,&quot;guid&quot;:&quot;column-5c53&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Locale&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Keywords__c&quot;,&quot;guid&quot;:&quot;column-28c8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;label&quot;:&quot;Keywords&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FlowButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Go To Template&quot;,&quot;value&quot;:&quot;Excel Upload&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Remove Subscriptions&quot;,&quot;value&quot;:&quot;Delete Subscriptions&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Add Subscriptions&quot;,&quot;value&quot;:&quot;Add Subscriptions&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:3},{&quot;label&quot;:&quot;Next&quot;,&quot;value&quot;:&quot;Next&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:4}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delete_Activation_Lines_Screen</name>
        <label>Delete subscription</label>
        <locationX>1590</locationX>
        <locationY>2288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Button_Bar_Decision</targetReference>
        </connector>
        <fields>
            <name>DeleteActivationLinesText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.VTPX_USERS_SUBS_DEL_TITLE}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.VTPX_USERS_SUBS_DEL_TEXT}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DeleteActivationLinesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Activation_line__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Activation_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product__c&quot;,&quot;guid&quot;:&quot;column-0036&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;First_name__c&quot;,&quot;guid&quot;:&quot;column-a1af&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;First name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Last_name__c&quot;,&quot;guid&quot;:&quot;column-7e01&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Mobile_no__c&quot;,&quot;guid&quot;:&quot;column-9e86&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Mobile no.&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-7005&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Phone_no__c&quot;,&quot;guid&quot;:&quot;column-0fae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Fixed no.&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Department__c&quot;,&quot;guid&quot;:&quot;column-0a1e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Department&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Job_description__c&quot;,&quot;guid&quot;:&quot;column-1529&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Job description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Locale__c&quot;,&quot;guid&quot;:&quot;column-e72c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Locale&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Keywords__c&quot;,&quot;guid&quot;:&quot;column-a847&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;label&quot;:&quot;Keywords&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DeleteFlowButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Delete&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Excel_Upload_Screen</name>
        <label>Excel Upload Screen</label>
        <locationX>50</locationX>
        <locationY>2288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Was_Back_Selected</targetReference>
        </connector>
        <fields>
            <name>Upload_Help_Text_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.TOP_Home_Office_UploadTitle}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Upload_Help_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.TOP_Home_Office_UploadText}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UploadTools</name>
            <extensionName>c:uploadTool</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>Product__c,First Name,Last Name,Mobile_no__c,Email,Phone_no__c,Department__c,Job_description__c,Locale__c,Keywords__c,Technical ID (Do not change)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Lines</name>
                <value>
                    <elementReference>Get_Activation_Lines</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>names</name>
                <value>
                    <stringValue>Product__c,First_name__c,Last_name__c,Mobile_no__c,Email__c,Phone_no__c,Department__c,Job_description__c,Locale__c,Keywords__c,Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ParentID</name>
                <value>
                    <elementReference>Activation.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExcelUploadHelpText</name>
            <fieldText>&lt;p&gt;{!$Label.VTPX_USERS_EXCELUPLOAD_HELPTEXT}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FlowButtonBarExcelUpload</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:back&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PhoneNumberStatusScreen</name>
        <label>PhoneNumberStatusScreen</label>
        <locationX>600</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Choice_Value_to_Variable</targetReference>
        </connector>
        <fields>
            <name>PhoneNumberStatusText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.VTPX_USERS_NUMSTATUS_TITLE}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.VTPX_USERS_NUMSTATUS_TEXT}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>PhoneNoStatusChoice</name>
            <choiceReferences>Nyt_nummer</choiceReferences>
            <choiceReferences>Eksisterende_Norlys_nummer</choiceReferences>
            <choiceReferences>Nummer_skal_porteres</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Phone Number Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>InvalidLinesText1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Some lines are invalid. Please correct all the marked lines.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InvalidLines</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LinesWithStatusNewAndMobileNumberError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;You can&apos;t have New number status on lines with a phone number. Please choose another status or go back to the previous page to remove phone numbers.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>LinesWithStatusNewAndMobileNumber</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Activation_line__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Activation_line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product__c,First_name__c,Last_name__c,Mobile_no__c,Phone_no_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFlexes</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product__c:0, First_name__c:0, Last_name__c:0, Mobile_no__c:0, Phone_no_Status__c:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_AL_requiring_Phone_No_Status</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPagination</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showPagination</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsPerPage</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FlowButtonBar_PhoneNoStatus</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Assign Status&quot;,&quot;value&quot;:&quot;Assign Status&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Next&quot;,&quot;value&quot;:&quot;Next&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Metadata</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Activation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation__c</objectType>
    </variables>
    <variables>
        <name>ActivationLineRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ActivationLinesToCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ChangedLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>CountLines</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Current_Quote_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>GoBack</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>InvalidLines</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LinesWithStatusNewAndMobileNumber</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PhoneNoStatusChoiceValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PhoneNoStatusSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>productVisibilityFilter</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>SubscriptionActivationLineToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>TestProdutIdAssignmentFromQuoteLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
