force-app/main/default/flows/Voice_Flow_Voice_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Commit</name>
        <label>Commit</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <actionName>c:CommitTransaction</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Activation_Lines</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:CommitTransaction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Set_Activation_Line_fields_for_automated_handling</name>
        <label>Set Activation Line fields for automated handling</label>
        <locationX>402</locationX>
        <locationY>2630</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Activation_Lines</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>Activation_line__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>Activation_line__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Activation_Lines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <elementReference>ActivationLineAutomatedHandlingKeyValue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MapCollection</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ActivationLinesToUpdate</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Voice_Summary</name>
        <label>Voice Summary</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <actionName>VoiceFlowSummaryAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result_Loop</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>activation</name>
            <value>
                <elementReference>Activation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>activationLines</name>
            <value>
                <elementReference>Activation_Lines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteLines</name>
            <value>
                <elementReference>QuoteLines</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VoiceFlowSummaryAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>BillingAccountSummaryAD</assignToReference>
            <name>billingAccountSummary</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ProductStatusSummaryAD</assignToReference>
            <name>productSummary</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ValueAddedServicesSummaryAD</assignToReference>
            <name>vasSummary</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>BASummary</name>
        <label>BASummary</label>
        <locationX>490</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>BillingSummary.billingAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Result_Loop.billingAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingSummary.numberOfSubscriptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Result_Loop.numberOfSubscriptions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingAccountSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BASummaryTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Result_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CloseTable</name>
        <label>CloseTable</label>
        <locationX>402</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>ProductStatusSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TableCloseTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingAccountSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TableCloseTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VASSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TableCloseTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_TPX_Quote_Lines</name>
        <label>Count TPX Quote Lines</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>TPXQuoteLinesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Quote_Lines_TPX</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Portal_Comments_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GoBack_equals_True</name>
        <label>GoBack equals True</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>GoBack</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Product_Summary_Assignment</name>
        <label>Product Summary Assignment</label>
        <locationX>490</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>ProductStatusSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductStatusSummaryTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the check box field, File_Attached__c, = True</description>
        <name>Set_File_Attached_c_To_True</name>
        <label>Set File_Attached__c To True</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Case.File_Attached__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Back_or_Next</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VAS_Assignment</name>
        <label>VAS Assignment</label>
        <locationX>490</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>VASSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VASSummaryTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Value_Added_Services_Summary</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Back_or_Next</name>
        <label>Back or Next?</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GoBack_equals_True</targetReference>
            </connector>
            <label>Back</label>
        </rules>
    </decisions>
    <decisions>
        <description>We check if any files have been attached</description>
        <name>Check_For_Attached_Files</name>
        <label>Check For Attached Files</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_File_Attached_c_To_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes - Yes Files Are Attached</defaultConnectorLabel>
        <rules>
            <name>No_No_Files_Are_Attached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilesAttached</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Back_or_Next</targetReference>
            </connector>
            <label>No - No Files Are Attached</label>
        </rules>
    </decisions>
    <description>The summary page is includes all the information about the account, billing account, subscriptions and available and used addons information</description>
    <environments>Default</environments>
    <formulas>
        <name>ActivationLineAutomatedHandlingKeyValue</name>
        <dataType>String</dataType>
        <expression>&quot;\&quot;Status__c\&quot; : \&quot;Fulfilment in progress\&quot;, \&quot;TOP_Activation_Flow_Step__c\&quot; : \&quot;FINISHED\&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>ActivationLineManualHandlingKeyValue</name>
        <dataType>String</dataType>
        <expression>&quot;\&quot;Status__c\&quot; : \&quot;Pending fulfilment\&quot;, \&quot;TOP_Activation_Flow_Step__c\&quot; : \&quot;FINISHED\&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>DeliveryAddress</name>
        <dataType>String</dataType>
        <expression>{!Account.Name} &amp; BR() &amp;
IF(ISBLANK( {!Account.Billing_Street_Name__c} ), &apos;&apos;, ({!Account.Billing_Street_Name__c} &amp; &apos; &apos; &amp; {!Account.Billing_Street_Number__c} )) &amp;
IF(ISBLANK( {!Account.Billing_Floor_Number__c} ), &apos;&apos;, (&apos;, &apos; &amp; {!Account.Billing_Floor_Number__c} &amp; BR())) &amp;
IF(ISBLANK( {!Account.Billing_Door_Number__c} ), &apos;&apos;, IF((FIND(&apos;.&apos;, {!Account.Billing_Floor_Number__c})) &gt; 0, (&apos; &apos; &amp; {!Account.Billing_Door_Number__c}), (&apos;. &apos; &amp; {!Account.Billing_Door_Number__c}) &amp; BR()))  &amp;
IF(ISBLANK( {!Account.BillingPostalCode} ), &apos;&apos;, (&apos;, &apos; &amp; {!Account.BillingPostalCode})) &amp;
IF(ISBLANK( {!Account.BillingCity} ), &apos;&apos;, (&apos; &apos; &amp; {!Account.BillingCity}  &amp; BR() )) &amp;
IF(ISBLANK({!Account.BillingCountry}), &apos;&apos;, (&apos; &apos; &amp; {!Account.BillingCountry} ))</expression>
    </formulas>
    <formulas>
        <name>FilesAttached</name>
        <dataType>Boolean</dataType>
        <expression>IF({!FileUploadImproved.contentDocumentIds} = &apos;[]&apos;, false, true)</expression>
    </formulas>
    <interviewLabel>Voice Flow - Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Voice Flow - Summary</label>
    <loops>
        <name>Product_Summary</name>
        <label>Product Summary</label>
        <locationX>402</locationX>
        <locationY>1706</locationY>
        <collectionReference>ProductStatusSummaryAD</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Summary_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Value_Added_Services_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Result_Loop</name>
        <label>Result Loop</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <collectionReference>BillingAccountSummaryAD</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BASummary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Product_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Value_Added_Services_Summary</name>
        <label>Value Added Services Summary</label>
        <locationX>402</locationX>
        <locationY>2006</locationY>
        <collectionReference>ValueAddedServicesSummaryAD</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VAS_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CloseTable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Activation_Lines</name>
        <label>Activation Lines</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Activation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Activation_line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Phone_no_Status__c</queriedFields>
        <queriedFields>Billing_Account__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines_TPX</name>
        <label>Get Quote Lines (TPX)</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_TPX_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Activation.Case__r.Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TPX_Quote_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This should be replaced when all the subflows are connected, and this should be fetched from the previous flow</description>
        <name>Quote_Lines</name>
        <label>Quote Lines</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Voice_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Activation.Case__r.Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Activation.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activate_with_other_products__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>QuoteLines</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__ProductName__c</queriedFields>
        <queriedFields>SBQQ__Quantity__c</queriedFields>
        <queriedFields>Consumed_Quantity__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Activation_Lines</name>
        <label>Update Activation Lines</label>
        <locationX>402</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>Final_Confirmation</targetReference>
        </connector>
        <inputReference>ActivationLinesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Commit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>File_Attached__c</field>
            <value>
                <elementReference>Case.File_Attached__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Comments__c</field>
            <value>
                <elementReference>PortalComments</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_on_Case</name>
        <label>Update Status on Case</label>
        <locationX>402</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Set_Activation_Line_fields_for_automated_handling</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Delivery</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Final_Confirmation</name>
        <label>Final Confirmation</label>
        <locationX>402</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FinalConfirmation</name>
            <fieldText>&lt;p&gt;{!FinalConfirmationView}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Portal_Comments_Screen</name>
        <label>Portal Comments Screen</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_For_Attached_Files</targetReference>
        </connector>
        <fields>
            <name>PortalCommentsText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.VTPX_SUMMARY_COMMENTS_TITLE}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.VTPX_SUMMARY_COMMENTS_TEXT}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Portal_Comments_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Portal_Comments_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Portal_Comments_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PortalComments</name>
                    <fieldText>Portal Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FileUploadImproved</name>
                    <extensionName>c:fileUploadImproved</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>sessionKey</name>
                        <value>
                            <stringValue>{$Flow.InterviewGuid}Comments</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowMultiple</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowMultiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderFilesBelow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_renderFilesBelow</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>CaseId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Portal_Comments_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>FlowButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Next&quot;,&quot;value&quot;:&quot;Next&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>402</locationX>
        <locationY>2414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Update_Status_on_Case</targetReference>
        </connector>
        <fields>
            <name>SummaryText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!$Label.VTPX_SUMMARY_OVERVIEW_TITLE}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.VTPX_SUMMARY_OVERVIEW_TEXT}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Summary_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DeliverAddressTtile</name>
                    <fieldText>&lt;p&gt;{!TitleTemplate} Delivery Address&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DeliveryAddressPanel</name>
                    <fieldText>&lt;p&gt;{!DeliveryAddress}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingAccountSummarytitle</name>
                    <fieldText>&lt;p&gt;{!TitleTemplate} Billing Account Summary&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SummaryDisplay</name>
                    <fieldText>&lt;p&gt;{!BillingAccountSummaries}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Summary_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Summary_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubscriptionSummaryTitle</name>
                    <fieldText>&lt;p&gt;{!TitleTemplate} Subscription Summary&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SubscriptionSummary</name>
                    <fieldText>&lt;p&gt;{!ProductStatusSummaries}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Summary_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VASSummaryTitle</name>
                    <fieldText>&lt;p&gt;{!TitleTemplate} Value Added Service Summary&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>VASSummary</name>
                    <fieldText>&lt;p&gt;{!VASSummaries}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm and Submit Information</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Lines_TPX</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BASummaryTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr class=&quot;slds-hint-parent&quot;&gt;&lt;td data-label=&quot;Billing Account Name&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title={!Result_Loop.billingAccountName}&gt;{!Result_Loop.billingAccountName}&lt;/div&gt;&lt;/td&gt;&lt;td data-label=&quot;No. of Subscriptions&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title={!Result_Loop.numberOfSubscriptions}&gt;{!Result_Loop.numberOfSubscriptions}&lt;/div&gt;&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>FinalConfirmationView</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;section role=&quot;dialog&quot; tabindex=&quot;-1&quot; aria-modal=&quot;true&quot; aria-labelledby=&quot;welcome-mat-100-label&quot; class=&quot;slds-modal slds-fade-in-open slds-modal_small&quot;&gt;
&lt;div class=&quot;slds-modal__container&quot;&gt;
&lt;div class=&quot;slds-modal__header slds-modal__header_empty&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;slds-modal__content&quot;&gt;
&lt;div class=&quot;slds-welcome-mat_splash&quot;&gt;
&lt;div class=&quot;slds-welcome-mat__content slds-grid&quot;&gt;
&lt;div class=&quot;slds-size_1-of-1&quot; tabindex=&quot;0&quot; role=&quot;region&quot;&gt;
&lt;div class=&quot;slds-welcome-mat__info-content&quot;&gt;
&lt;h2 class=&quot;slds-welcome-mat__info-title&quot; id=&quot;welcome-mat-100-label&quot;&gt;{!$Label.VTPX_SUMMARY_FINAL_TITLE}&lt;/h2&gt;
&lt;div class=&quot;slds-welcome-mat__info-description slds-text-longform&quot;&gt;
&lt;p&gt;{!$Label.VTPX_SUMMARY_FINAL_TEXT}&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/section&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ProductStatusSummaryTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr class=&quot;slds-hint-parent&quot;&gt;&lt;td data-label=&quot;Product Name&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title={!Product_Summary.product}&gt;{!Product_Summary.product}&lt;/div&gt;&lt;/td&gt;&lt;td data-label=&quot;Phone Number Status&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title={!Product_Summary.phoneNoStatus}&gt;{!Product_Summary.phoneNoStatus}&lt;/div&gt;&lt;/td&gt;&lt;td data-label=&quot;Number of Subscriptions&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title= {!Product_Summary.count}&gt; {!Product_Summary.count}&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TableCloseTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TitleTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-scoped-notification slds-media slds-media_center slds-scoped-notification_dark&quot; role=&quot;status&quot;&gt;&lt;div class=&quot;slds-media__body&quot;&gt;&lt;p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>VASSummaryTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr class=&quot;slds-hint-parent&quot;&gt;&lt;td data-label=&quot;Product Name&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title={!Value_Added_Services_Summary.product}&gt;{!Value_Added_Services_Summary.product}&lt;/div&gt;&lt;/td&gt;&lt;td data-label=&quot;Phone Number Status&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title={!Value_Added_Services_Summary.availableQuantity}&gt;{!Value_Added_Services_Summary.availableQuantity}&lt;/div&gt;&lt;/td&gt;&lt;td data-label=&quot;Number of Subscriptions&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title={!Value_Added_Services_Summary.consumedQuantity}&gt; {!Value_Added_Services_Summary.consumedQuantity}&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Activation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation__c</objectType>
    </variables>
    <variables>
        <name>ActivationLinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>BillingAccountSummaries</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table class=&quot;slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped&quot; style=&quot;width:100%&quot; aria-label=&quot;Billing Account Summary&quot;&gt;&lt;thead&gt;&lt;tr class=&quot;slds-line-height_reset&quot;&gt;&lt;th class=&quot;&quot; scope=&quot;col&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title=&quot;Billing Account&quot;&gt;Billing Account&lt;/div&gt;&lt;/th&gt;&lt;th class=&quot;&quot; scope=&quot;col&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title=&quot;Number of Subscriptions&quot;&gt;Number of Subscriptions&lt;/div&gt;&lt;/th&gt;&lt;/tr&gt;&lt;/thead&gt;&lt;tbody&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>BillingAccountSummaryAD</name>
        <apexClass>BillingAccountsCountByNameDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingSummary</name>
        <apexClass>BillingAccountsCountByNameDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Case.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>currentItem_Activation_Lines_Need_Manual_Handling</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Activation_line__c</objectType>
    </variables>
    <variables>
        <name>GoBack</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumberofManualHandlingRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProductStatusSummaries</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table class=&quot;slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped&quot; style=&quot;width:100%&quot; aria-label=&quot;Product Status Summary&quot;&gt;&lt;thead&gt;&lt;tr class=&quot;slds-line-height_reset&quot;&gt;&lt;th class=&quot;&quot; scope=&quot;col&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title=&quot;Product Name&quot;&gt;Product Name&lt;/div&gt;&lt;/th&gt;&lt;th class=&quot;&quot; scope=&quot;col&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title=&quot;Phone no Status&quot;&gt;Phone No Status&lt;/div&gt;&lt;/th&gt;&lt;th class=&quot;&quot; scope=&quot;col&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title=&quot;Number of Subscriptions&quot;&gt;Number of Subscriptions&lt;/div&gt;&lt;/th&gt;&lt;/tr&gt;&lt;/thead&gt;&lt;tbody&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProductStatusSummaryAD</name>
        <apexClass>ProductStatusSummaryDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>TPXQuoteLinesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Output from the voiceflowsummaryaction apex class containing value added services information</description>
        <name>ValueAddedServicesSummaryAD</name>
        <apexClass>ValueAddedServicesSummaryDescriptor</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VASSummaries</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;table class=&quot;slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped&quot; style=&quot;width:100%&quot; aria-label=&quot;Value Added Services Summary&quot;&gt;&lt;thead&gt;&lt;tr class=&quot;slds-line-height_reset&quot;&gt;&lt;th class=&quot;&quot; scope=&quot;col&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title=&quot;Product Name&quot;&gt;Product Name&lt;/div&gt;&lt;/th&gt;&lt;th class=&quot;&quot; scope=&quot;col&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title=&quot;Available Quantity&quot;&gt;Available Quantity&lt;/div&gt;&lt;/th&gt;&lt;th class=&quot;&quot; scope=&quot;col&quot;&gt;&lt;div class=&quot;slds-truncate&quot; title=&quot;Consumed Quantity&quot;&gt;Consumed Quantity&lt;/div&gt;&lt;/th&gt;&lt;/tr&gt;&lt;/thead&gt;&lt;tbody&gt;</stringValue>
        </value>
    </variables>
</Flow>
