force-app/main/default/flows/Wholesale_Order_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>RedirectToWholesaleOrder</name>
        <label>RedirectToWholesaleOrder</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_New_Wholesale_Order</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RedirectToWholesaleOrderFromIA</name>
        <label>RedirectToWholesaleOrder</label>
        <locationX>1370</locationX>
        <locationY>1238</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_New_Wholesale_Order</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_no_of_selected_Order_Rows</name>
        <label>Assign no of selected Order Rows</label>
        <locationX>974</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>varNoOfSelectedOR</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Order_rows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Row_Layout</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Billing_Account_Info</name>
        <label>Save Billing Account Info</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varDefaultBillingAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Wholesale_Billing_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefaultContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Screen_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_contact_info_for_screen</name>
        <label>Save contact info for screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varDefaultContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Wholesale_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefaultBillingAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Account_No</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Screen_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Currency</name>
        <label>Save Currency</label>
        <locationX>974</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>varDefaultCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OR_Currency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Order_Row</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Screen_Data</name>
        <label>Save Screen Data</label>
        <locationX>842</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>varDefOrderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefDeliveryTeam</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Team</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefDesiredDeliveryDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Desired_Delivery_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefOrderType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefInvoicingReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoicing_Reference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefLocalContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Local_Contact_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefLocalContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocalContactPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefLocalContactEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocalContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefEtrayNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eTray_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaeDefDurationInMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Duration_in_Months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFiberDeliveryProvider</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fiber_Delivery_Provider</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_Wholesale_Order_Screen_Label</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Save_or_Save_and_Create_IA</name>
        <label>Save or Save and Create IA?</label>
        <locationX>875</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Save and Create IA</defaultConnectorLabel>
        <rules>
            <name>Save</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flow_Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RedirectToWholesaleOrder</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_button_is_selected</name>
        <label>Which button is selected ?</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_New_Wholesale_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Save Order</defaultConnectorLabel>
        <rules>
            <name>Create_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flow_Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewContact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Contact</targetReference>
            </connector>
            <label>Create Contact</label>
        </rules>
        <rules>
            <name>Create_Billing_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flow_Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewBillingAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewBillingAccount</targetReference>
            </connector>
            <label>Create Billing Account</label>
        </rules>
        <rules>
            <name>Save_and_Create_IA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Flow_Buttons.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SaveandCreateInstallationAddress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Wholesale_Order</targetReference>
            </connector>
            <label>Save and Create IA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_button_is_selected_for_IA</name>
        <label>Which button is selected for IA?</label>
        <locationX>1172</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>RedirectToWholesaleOrderFromIA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Save</defaultConnectorLabel>
        <rules>
            <name>Save_and_Create_Order_Row</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewIAButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SaveandCreateRows</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Installation_Address</targetReference>
            </connector>
            <label>Save and Create Order Row</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_button_is_selected_for_OR</name>
        <label>Which button is selected for OR</label>
        <locationX>974</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>RedirectToWholesaleOrderFromIA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Save</defaultConnectorLabel>
        <rules>
            <name>Save_and_Create_more_Order_Rows</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewORButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SaveandCreateOrderRow</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Order_rows</targetReference>
            </connector>
            <label>Save and Create more Order Rows</label>
        </rules>
    </decisions>
    <description>Flow for creating Wholesale orders and option to create new contact and new billing account at the same time.</description>
    <dynamicChoiceSets>
        <name>BillingAccounts</name>
        <dataType>String</dataType>
        <displayField>Billing_Info__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Wholesale_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Wholesale_Billing_Account__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contacts</name>
        <dataType>String</dataType>
        <displayField>Contact_Info__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Wholesale_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Wholesale_Contact__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Currency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Currency__c</picklistField>
        <picklistObject>Wholesale_Order_Product__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeliveryTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Delivery_Team__c</picklistField>
        <picklistObject>Wholesale_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FiberDeliveryProvider</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fiber_Delivery_Provider__c</picklistField>
        <picklistObject>Wholesale_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrderDurationInMonths</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Order_Duration_in_Months__c</picklistField>
        <picklistObject>Wholesale_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrderType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Order_Type__c</picklistField>
        <picklistObject>Wholesale_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductGroup</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Group__c</picklistField>
        <picklistObject>Wholesale_Billing_Account__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Wholesale_Order__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>varToday</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <interviewLabel>Wholesale Order Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Wholesale Order Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Installation_Address</name>
        <label>Create New Installation Address</label>
        <locationX>1172</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Which_button_is_selected_for_IA</targetReference>
        </connector>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>Create_New_Wholesale_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_City__c</field>
            <value>
                <elementReference>From_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Country__c</field>
            <value>
                <elementReference>From_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Floor__c</field>
            <value>
                <elementReference>From_Floor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Postal_Code__c</field>
            <value>
                <elementReference>From_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Side__c</field>
            <value>
                <elementReference>From_Side</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Stairway__c</field>
            <value>
                <elementReference>From_Stairway</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Street_Number__c</field>
            <value>
                <elementReference>From_Street_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Street__c</field>
            <value>
                <elementReference>FromStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_City__c</field>
            <value>
                <elementReference>To_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Country__c</field>
            <value>
                <elementReference>To_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Floor__c</field>
            <value>
                <elementReference>To_Floor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Postal_Code__c</field>
            <value>
                <elementReference>To_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Side__c</field>
            <value>
                <elementReference>To_Side</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Stairway__c</field>
            <value>
                <elementReference>To_Stairway</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Street_Number__c</field>
            <value>
                <elementReference>To_Street_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Street__c</field>
            <value>
                <elementReference>To_Street</elementReference>
            </value>
        </inputAssignments>
        <object>Installation_Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Order_Row</name>
        <label>Create New Order Row</label>
        <locationX>974</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Which_button_is_selected_for_OR</targetReference>
        </connector>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Address__c</field>
            <value>
                <elementReference>Create_New_Installation_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Charge__c</field>
            <value>
                <elementReference>Monthly_Charge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>One_Time_Charge__c</field>
            <value>
                <elementReference>One_Time_Charge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_category_2__c</field>
            <value>
                <elementReference>Product_Category_DP.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_category_3__c</field>
            <value>
                <elementReference>Product_Category_DP.bottomValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_category__c</field>
            <value>
                <elementReference>Product_Category_DP.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <object>Wholesale_Order_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Wholesale_Order</name>
        <label>Create New Wholesale Order</label>
        <locationX>875</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Save_or_Save_and_Create_IA</targetReference>
        </connector>
        <inputAssignments>
            <field>Delivery_Team__c</field>
            <value>
                <elementReference>Delivery_Team</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Desired_Delivery_Date__c</field>
            <value>
                <elementReference>Desired_Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fiber_Delivery_Provider__c</field>
            <value>
                <elementReference>FiberDeliveryProvider</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_Reference__c</field>
            <value>
                <elementReference>Invoicing_Reference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Invoicing_Date__c</field>
            <value>
                <elementReference>Last_Invoicing_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Contact_Email__c</field>
            <value>
                <elementReference>LocalContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Contact_Name__c</field>
            <value>
                <elementReference>Local_Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Local_Contact_Phone__c</field>
            <value>
                <elementReference>LocalContactPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Duration_in_Months__c</field>
            <value>
                <elementReference>Order_Duration_in_Months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Name__c</field>
            <value>
                <elementReference>Order_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Started__c</field>
            <value>
                <elementReference>varToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <elementReference>Order_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>OrderStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wholesale_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wholesale_Billing_Account__c</field>
            <value>
                <elementReference>BillingAccounts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wholesale_Contact__c</field>
            <value>
                <elementReference>Order_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eTray_number_s__c</field>
            <value>
                <elementReference>eTray_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Wholesale_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Wholesale_Billing_Account</name>
        <label>New Wholesale Billing Account</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Save_Billing_Account_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Additional_Information__c</field>
            <value>
                <elementReference>Additional_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>New_Billing_Account_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Group__c</field>
            <value>
                <elementReference>Product_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wholesale_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Wholesale_Billing_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Wholesale_Contact</name>
        <label>New Wholesale Contact</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Save_contact_info_for_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>ContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>ContactPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wholesale_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Wholesale_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Wholesale_Order_Screen_Label</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Wholesale_Account__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Installation_Address</name>
        <label>Get Installation Address</label>
        <locationX>974</locationX>
        <locationY>1238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_rows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Installation_Address</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Installation_Address__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Data</name>
        <label>Get Order Data</label>
        <locationX>1172</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Installation_Address_Layout</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_New_Wholesale_Order</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Wholesale_Order__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_rows</name>
        <label>Get Order rows</label>
        <locationX>974</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_no_of_selected_Order_Rows</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Installation_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Installation_Address.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Wholesale_Order_Product__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Installation_Address_Layout</name>
        <label>Installation Address Layout</label>
        <locationX>1172</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Installation_Address</targetReference>
        </connector>
        <fields>
            <name>Installation_Address_Label</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;New Installation Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Installation_Address_Layout_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Installation_Address_Layout_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IAWholesaleAccountLabel</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Account: &lt;/b&gt;{!Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Installation_Address_Layout_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IAWholesaleOrderLabel</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Order:  &lt;/b&gt;{!Get_Order_Data.Order_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>From_Address_Label</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Primary Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Installation_Address_Layout_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Installation_Address_Layout_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FromStreet</name>
                    <dataType>String</dataType>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>From_Street_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Street Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>From_Stairway</name>
                    <dataType>String</dataType>
                    <fieldText>Stairway</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>From_Floor</name>
                    <dataType>String</dataType>
                    <fieldText>Floor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Installation_Address_Layout_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>From_Side</name>
                    <dataType>String</dataType>
                    <fieldText>Side</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>From_Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>From_City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>From_Country</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>To_Address_Label</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Secondary Address&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Installation_Address_Layout_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Installation_Address_Layout_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>To_Street</name>
                    <dataType>String</dataType>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>To_Street_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Street Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>To_Stairway</name>
                    <dataType>String</dataType>
                    <fieldText>Stairway</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>To_Floor</name>
                    <dataType>String</dataType>
                    <fieldText>Floor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Installation_Address_Layout_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>To_Side</name>
                    <dataType>String</dataType>
                    <fieldText>Side</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>To_Postal_Code</name>
                    <dataType>String</dataType>
                    <fieldText>Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>To_City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>To_Country</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewIAButton</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save and Create Order Rows&quot;,&quot;value&quot;:&quot;SaveandCreateRows&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Contact</name>
        <label>New Contact</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Wholesale_Contact</targetReference>
        </connector>
        <fields>
            <name>New_Wholesale_Contact_Label</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;New Wholesale Contact&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AccountNameLabel</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account: &lt;/b&gt;{!Account.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Contact_Name</name>
            <dataType>String</dataType>
            <fieldText>Contact Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ContactPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Wholesale_Order_Screen_Label</name>
        <label>New Wholesale Order</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_button_is_selected</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;New Wholesale Order&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>dpAccountNameField</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account: &lt;/b&gt;{!Account.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Wholesale_Order_Screen_Label_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Wholesale_Order_Screen_Label_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDefOrderName</elementReference>
                    </defaultValue>
                    <fieldText>Order Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Delivery_Team</name>
                    <choiceReferences>DeliveryTeam</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDefDeliveryTeam</elementReference>
                    </defaultValue>
                    <fieldText>Delivery Team</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Desired_Delivery_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varDefDesiredDeliveryDate</elementReference>
                    </defaultValue>
                    <fieldText>Desired Delivery Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Order_Type</name>
                    <choiceReferences>OrderType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDefOrderType</elementReference>
                    </defaultValue>
                    <fieldText>Order Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Invoicing_Reference</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDefInvoicingReference</elementReference>
                    </defaultValue>
                    <fieldText>Invoicing Reference</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Order_Duration_in_Months</name>
                    <choiceReferences>OrderDurationInMonths</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vaeDefDurationInMonths</elementReference>
                    </defaultValue>
                    <fieldText>Order Duration in Months</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Billing_Account_No</name>
                    <choiceReferences>BillingAccounts</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDefaultBillingAccount</elementReference>
                    </defaultValue>
                    <fieldText>Billing Account No.</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Last_Invoicing_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Last Invoicing Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Wholesale_Order_Screen_Label_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order_Contact</name>
                    <choiceReferences>Contacts</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDefaultContact</elementReference>
                    </defaultValue>
                    <fieldText>Order Contact</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Local_Contact_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDefLocalContactName</elementReference>
                    </defaultValue>
                    <fieldText>Local Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>LocalContactPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Local Contact Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varDefLocalContactPhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>LocalContactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Local Contact Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varDefLocalContactEmail</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>OrderStatus</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDefStatus</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>eTray_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDefEtrayNumber</elementReference>
                    </defaultValue>
                    <fieldText>eTray Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Fiber_Delivery_Provider</name>
                    <choiceReferences>FiberDeliveryProvider</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Fiber Delivery Provider</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Flow_Buttons</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;New Contact&quot;,&quot;value&quot;:&quot;NewContact&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;New Billing Account&quot;,&quot;value&quot;:&quot;NewBillingAccount&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Save and Create Installation Address&quot;,&quot;value&quot;:&quot;SaveandCreateInstallationAddress&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NewBillingAccount</name>
        <label>New Billing Account</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Wholesale_Billing_Account</targetReference>
        </connector>
        <fields>
            <name>New_Wholesale_Billing_Account_Label</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;New Wholesale Billing Account &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AccountNameBillingAccountt</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account: &lt;/b&gt;{!Account.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Billing_Account_No</name>
            <dataType>String</dataType>
            <fieldText>Billing Account No.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Product_Group</name>
            <choiceReferences>ProductGroup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Additional_Information</name>
            <dataType>String</dataType>
            <fieldText>Additional Information</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Row_Layout</name>
        <label>Order Row Layout</label>
        <locationX>974</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_Currency</targetReference>
        </connector>
        <fields>
            <name>Order_Row_Label</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;New Wholesale Order Product&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Order_Row_Layout_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Row_Layout_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WOPWholesaleAccountLabel</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Account: &lt;/b&gt;{!Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Row_Layout_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WOPWholesaleOrderLabel</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Order: &lt;/b&gt;{!Get_Order_Data.Order_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Row_Layout_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WOPInstallationAddressLabel</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Installation Address: &lt;/b&gt;{!Get_Installation_Address.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Order_Row_Layout_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Row_Layout_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>List_Order_Rows</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Wholesale_Order_Product__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Wholesale_Order_Product__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Order_rows</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,Product__c,Comment__c,Currency__c,One_Time_Charge__c,Quantity__c,Monthly_Charge__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:120, Product__c:245, Comment__c:135, Currency__c:90, One_Time_Charge__c:135, Quantity__c:110, Monthly_Charge__c:135</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Created Order Products</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>custom:custom93</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideHeaderActions</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideHeaderActions</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideClearSelectionButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideClearSelectionButton</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varNoOfSelectedOR</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Ordre_Row_Data_Label</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Order_Row_Layout_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Order_Row_Layout_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Category_DP</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Wholesale_Order_Product__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Product_category__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Product_category_2__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Product Category</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Product Category 2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomPicklistApiName</name>
                        <value>
                            <stringValue>Product_category_3__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomLabel</name>
                        <value>
                            <stringValue>Product Category 3</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Product_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Product Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Comment</name>
                    <dataType>String</dataType>
                    <fieldText>Comment</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Order_Row_Layout_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OR_Currency</name>
                    <choiceReferences>Currency</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDefaultCurrency</elementReference>
                    </defaultValue>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>One_Time_Charge</name>
                    <dataType>Number</dataType>
                    <fieldText>One Time Charge</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Monthly_Charge</name>
                    <dataType>Number</dataType>
                    <fieldText>Monthly Charge</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewORButton</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Save and Add New Order Product&quot;,&quot;value&quot;:&quot;SaveandCreateOrderRow&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaeDefDurationInMonths</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>12</stringValue>
        </value>
    </variables>
    <variables>
        <name>varDefaultBillingAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>EUR</stringValue>
        </value>
    </variables>
    <variables>
        <name>varDefDeliveryTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefDesiredDeliveryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefEtrayNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefInvoicingReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefLocalContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefLocalContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefLocalContactPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefOrderName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefOrderStarted</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefOrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>varDefStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </variables>
    <variables>
        <name>varFiberDeliveryProvider</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNoOfSelectedOR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOrderRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
